<div class="container-fluid install-container">
    <div class="row">
        <div class="col-md-12 header text-center">
            <div class="logo-install">
                <img src="img/logo.png">
            </div>
            <div class="header-title">
                <h4>Welcome!</h4>
                <h4>Install Marketplace Generator</h4>
                <h3>Setting Your Database First!</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="content col-sm-12">
            <div class="form-horizontal col-sm-offset-2">
                <div class="form-group">
                    <label class="col-sm-2">Database Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="dbName" placeholder="Database Name">
                        <label ng-show="dbNameInvalid" class="control-label alert-message">Database name is not empty</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 ">Database Username</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="dbUsername" placeholder="Database Username">
                        <label ng-show="dbUsernameInvalid" class="control-label alert-message">Database username is not empty</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 ">Database Password</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="dbPassword" placeholder="Database Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 ">Database Host</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="dbHost" placeholder="Database Host">
                        <label ng-show="dbUsernameInvalid" class="control-label alert-message">Database Host is not empty</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="submit" class="btn btn-danger btn-cancel" ng-click="cancel()">Cancel</button>
                        <button type="submit" class="btn btn-success btn-submit" ng-click="submit()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>