<div class="container-fluid install-container">
    <div class="row">
        <div class="col-md-12 header text-center">
            <div class="logo-install">
                <img src="img/logo.png">
            </div>
            <div class="header-title">
                <h4>Welcome!</h4>
                <h4>Install Marketplace Generator</h4>
                <h3>Setting Your Marketplace Account</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <form name="formRegister">
            <div class="content col-sm-12" ng-if="state=='FIRST_STEP'">
                <div class="form-horizontal col-sm-offset-2">
                    <div class="form-group">
                        <label class="col-sm-3">Your Marketplace Name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.marketplaceName" placeholder="Marketplace Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Your Marketplace Email</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control custom-form" ng-model="contentData.marketplaceEmail" placeholder="Marketplace Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Your Marketplace Phone</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control custom-form" ng-model="contentData.marketplacePhone" placeholder="Marketplace Phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Your Marketplace Address</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.marketplaceAddress" placeholder="Marketplace Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 ">Username</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control custom-form" ng-model="contentData.password" placeholder="Password">
                        </div>
                        <div class="col-sm-1">
                            <label ng-show="formRegister.confirm.$dirty && !checkPassword()" class="label-match"><i class="fa fa-check" aria-hidden="true"></i></label>
                            <label ng-show="formRegister.confirm.$dirty && checkPassword()" class="label-not-match"><i class="fa fa-close" aria-hidden="true"></i></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Confirm Password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control custom-form" name="confirm" ng-model="contentData.confirmPassword" placeholder="Confirm Password">
                            <label class="label-invalid" ng-show="formRegister.confirm.$dirty && checkPassword()" class="control-label alert-message">Your password is not match</label>
                        </div>
                        <div class="col-sm-1">
                            <label ng-show="formRegister.confirm.$dirty && !checkPassword()" class="label-match"><i class="fa fa-check" aria-hidden="true"></i></label>
                            <label ng-show="formRegister.confirm.$dirty && checkPassword()" class="label-not-match"><i class="fa fa-close" aria-hidden="true"></i></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Your marketplace logo</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" placeholder="{{contentData.logo.name}}" ng-readonly="true">
                        </div>
                        <div class="col-sm-1">
                            <input id="logo" type="file" file-model="contentData.logo" class="hidden">
                            <label for="logo" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Your small icon</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" placeholder="{{contentData.icon.name}}" ng-readonly="true">
                        </div>
                        <div class="col-sm-1">
                            <input id="icon" type="file" file-model="contentData.icon" class="hidden">
                            <label for="icon" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button class="btn btn-success btn-submit" ng-click="next('LAST_STEP')">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content col-sm-12" ng-if="state=='LAST_STEP'">
                <div class="form-horizontal col-sm-offset-2">
                    <div class="form-group">
                        <label class="col-sm-3">Your Administrator Name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.adminName" placeholder="Admin Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 ">Email</label>
                        <div class="col-sm-5">
                            <input type="email" class="form-control custom-form" ng-model="contentData.email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Phone Number</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.phoneNumber" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Avatar</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" placeholder="{{contentData.avatar.name}}" ng-readonly="true">
                        </div>
                        <div class="col-sm-1">
                            <input id="avatar" type="file" file-model="contentData.avatar" class="hidden">
                            <label for="avatar" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Country</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.country" placeholder="Country">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Province</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.province" placeholder="Province">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">City</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.city" placeholder="City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Institution</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.institution" placeholder="Institution">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Department</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.department" placeholder="Department">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Address</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.address" placeholder="Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Bank</label>
                        <div class="col-sm-5">
                            <select class="form-control" ng-options="orient as orient.bank_name for orient in banks" ng-model="itemBank" ng-change="setBank(itemBank, $index)"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Account Name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control custom-form" ng-model="contentData.accountName" placeholder="Account Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Account Number</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control custom-form" ng-model="contentData.accountNumber" placeholder="Account Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button class="btn btn-danger btn-cancel" ng-click="back()">Back</button>
                            <button type="submit" class="btn btn-success btn-submit" ng-click="submit()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>