<div class="row">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Payment</li>
                <li class="active">Payment Detail</li>
            </ol>
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="table-header-padding">Nama Badan Usaha</th>
                <th class="table-header-padding" style="text-align: left">No. NPWP</th>
                <th class="table-header-padding" style="text-align: left">Resume ID</th>
                <th class="table-header-padding" style="text-align: left">Fee</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="documentList in listRequestResumes.resumeList">
                <td>
                    {{documentList.companyName}}
                </td>
                <td style="text-align: left">
                    {{documentList.npwp}}
                </td>
                <td style="text-align: left">
                    {{documentList.resumeId}}
                </td>
                <td style="text-align: left">
                    {{documentList.fee}}
                </td>
            </tr>
            </tbody>
        </table>
        <!-- <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div> -->
    </div>
</div>
<div class="row">
    <div class="container-fluid description-banner-detail-billboard page-header-section">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Total Data</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listRequestResumes.totalData" placeholder="Nama Badan" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Total Fee</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" value="" ng-model="listRequestResumes.totalFee" ng-readonly="true" ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="container-fluid description-banner-detail-billboard page-header-section">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <label >Rekening Penerima</label>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Bank</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listRequestResumes.bank" placeholder="APP ID" value="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >No Account</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listRequestResumes.accountNumber" placeholder="Nama Badan" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Bank Branch</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listRequestResumes.bankBranch" value="" ng-readonly="true" ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Account Name</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listRequestResumes.accountName" value="" ng-readonly="true" ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div><div class="row">
    <div class="container-fluid description-banner-detail-billboard page-header-section">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <label >Rekening BCAF</label>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Bank</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <select class="form-control" ng-options="notary as notary.bankName for notary in notaries" style="width: 100%" ng-model="itemNotary" ng-change="getListInvoice(itemNotary)" ng-blur="getListNotary(itemNotary)"></select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >No Account</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <select class="form-control" ng-options="invoice as invoice.accountNumber for invoice in invoices" style="width: 100%" ng-model="itemInvoice" ng-change="getListReceiveInvoice(itemInvoice)" ng-blur="getListReceiveInvoice(itemInvoice)"></select>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="container-fluid" style="padding-left:0px;">
                        <div class="col-md-6 col-sm-6 col-xs-offset-4 content-desc" >

                            <div class="form-group row clearfix" >
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn cancel-button" ng-click="goToList()">Cancel</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn submit-button" ng-click="submit()">Approve</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>