<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Approval Invoice</li>
                <li class="active">Approval Invoice Details</li>
            </ol>
            <div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th class="table-header-padding">Notaris</th>
                            <th class="table-header-padding" style="text-align: left">No. Invoice</th>
                            <th class="table-header-padding" style="text-align: left">Nama Badan Usaha</th>
                            <th class="table-header-padding" style="text-align: left">No. NPWP</th>
                            <th class="table-header-padding"  style="text-align: left">Fee</th>
                            <th class="table-header-padding" style="text-align: left">Tgl Order</th>
                            <th class="table-header-padding" style="text-align: left">Tgl Receive</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="resumeList in dataResult.resumeList">
                            <td>
                                {{resumeList.notaryName}}
                            </td>
                            <td style="text-align: left">
                                {{resumeList.invoiceNumber}}
                            </td>
                            <td style="text-align: left">
                                {{resumeList.companyName}}
                            </td>
                            <td style="text-align: left">
                                {{resumeList.npwp}}
                            </td>
                            <td style="text-align: left">
                                <input type="text" class="form-control" ng-model="resumeList.fee" ng-readonly="true" >
                            </td>
                            <td style="text-align: left">
                                {{resumeList.orderDate | date: "dd MMMM yyyy"}}
                            </td>
                            <td style="text-align: left">
                                {{resumeList.receiveDate | date: "dd MMMM yyyy"}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-2 col-sm-2 col-xs-2 label-desc" style="padding-left:0px;margin-top:10px;">
                        <p >Total Data</p>
                    </div>
                    <div class="col-md-4 col-sm-4 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder="" ng-model="dataResult.totalData" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-2 col-sm-2 col-xs-2 label-desc" style="padding-left:0px;margin-top:10px;">
                        <p >Total Fee</p>
                    </div>
                    <div class="col-md-4 col-sm-4 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder="" ng-model="dataResult.totalFee" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-2 col-sm-2 col-xs-2 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Rekening Penerima</label>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-2 col-sm-2 col-xs-2 label-desc" style="padding-left:0px;margin-top:10px;">
                        <p >Bank</p>
                    </div>
                    <div class="col-md-4 col-sm-4 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder="" ng-model="dataResult.bank" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-2 col-sm-2 col-xs-2 label-desc" style="padding-left:0px;margin-top:10px;">
                        <p >No. Account</p>
                    </div>
                    <div class="col-md-4 col-sm-4 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder="" ng-model="dataResult.accountNumber" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-2 col-sm-2 col-xs-2 label-desc" style="padding-left:0px;margin-top:10px;">
                        <p >Bank Branch</p>
                    </div>
                    <div class="col-md-4 col-sm-4 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="dataResult.bankBranch" placeholder="" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-2 col-sm-2 col-xs-2 label-desc" style="padding-left:0px;margin-top:10px;">
                        <p >Account Name</p>
                    </div>
                    <div class="col-md-4 col-sm-4 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="dataResult.accountName" placeholder="" readonly>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-2 col-sm-2 col-sm-offset-2 content-desc" >
                        <button class="btn cancel-button" ng-click="reject()">Reject</button>
                    </div>
                    <div class="col-md-2 col-sm-2 content-desc" >
                        <button class="btn submit-button" ng-click="approve()">Approve</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>