<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-md-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-2 head-label">
                    <select class="form-control" ng-options="search as search.value for search in search" ng-model="itemSearch"></select>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control form-custom field-search" placeholder="Input Text" ng-model="searchValue">
                </div>
                <div class="col-md-1 container-btn-search">
                    <div class="input-group">
                        <button ng-click="doSearch(itemSearch,searchValue)" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <!--
            <div class="form-group col-md-2">
                <button ng-click="createUser()" class="btn button-blue-primary">Tambah User</button>
            </div> -->
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" ng-click="checkedAll()" ng-model="privilege" style="margin-top:-25px" class="table-header-padding" ng-disabled="listRequestResumes.length == 0"></th>
                    <th style="padding-left:0px;" class="table-header-padding">APP ID</th>
                    <th class="table-header-padding">Nama Badan Usaha</th>
                    <th class="table-header-padding">Branch</th>
                    <th class="table-header-padding">Nama MO</th>
                    <th class="table-header-padding">Activity</th>
                    <th class="table-header-padding">Keterangan</th>
                    <th class="table-header-padding">Last Proceed</th>
                    <th class="table-header-padding" style="text-align: center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="listRequestResume in listRequestResumes">
                    <td><input type="checkbox" ng-model="listRequestResume.value" ng-change="checkedChild(listRequestResume.value)"></td>
                    <td style="padding-left:0px;">{{listRequestResume.appId}}</td>
                    <td>{{listRequestResume.companyName}}</td>
                    <td>{{listRequestResume.branch}}</td>
                    <td>{{listRequestResume.marketingOfficer}}</td>
                    <td ng-if="listRequestResume.activity == 'REQ_CANCEL'">Batal Pengajuan</td>
                    <td>{{listRequestResume.cancelDescription}}</td>
                    <td>{{listRequestResume.lastProceed | date: 'dd MMMM yyyy HH:mm:ss'}}</td>
                    <td style="text-align: center">
                        <a href="" ng-click="doCancelRequest(listRequestResume.id,listRequestResume.version)" class="icon-to-cancel" tooltip="Cancel"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-2 col-md-offset-10">
            <button class="btn submit-button" ng-click="doApprove()">Approve</button>
        </div>

        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>