<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Approval Request Resume</li>
                <li class="active">Resume Detail</li>
            </ol>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama Badan Usaha</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.companyName" placeholder="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-2 right-form-content" >-->
                        <!--<button ng-click="doRetrieve()" class="btn button-blue-primary">Retrieve</button>-->
                    <!--</div>-->
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >No NPWP</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.npwp" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-2 right-form-content" >-->
                    <!--<button ng-click="doRetrieve()" class="btn button-blue-primary">Retrieve</button>-->
                    <!--</div>-->
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Branch</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.branch" placeholder="" value="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama MO</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.marketingOfficer" placeholder="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="breadcrumb-custom"></div>
                <div class="col-lg-12 table-of-content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Data Kelengkapan</th>
                            <th style="text-align:right;" class="table-header-padding">Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users.documentList">
                            <td style="padding-left:0px;" ng-click="goToDetail()">{{user.documentDesc}}</td>
                            <td align="right"><a class="btn-sm btn-danger" ng-href="{{user.url}}" target="_blank" tooltip="Download"><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                        </tr>
                        <tr>
                            <td style="padding-left:0px;" ng-click="goToDetail()">Resume BCA</td>
                            <td align="right"><a class="btn-sm btn-danger" ng-href="{{users.resumeAhuUrl}}" target="_blank" tooltip="Download"><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>

                        </tr>
                        <tr>
                            <td style="padding-left:0px;" ng-click="goToDetail()">NPWP</td>
                            <td align="right"><a class="btn-sm btn-danger" ng-href="{{users.npwpUrl}}" target="_blank" tooltip="Download"><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>

                        </tr>

                        </tbody>
                    </table>
                <div class="breadcrumb-custom" style="margin-top:-30px;"></div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Hasil Matching</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.resumeMatch" placeholder="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                    <button ng-click="doRetrieve(users.resumeMatch)" class="btn button-blue-primary" ng-disabled="users.resumeMatch==null">Retrieve</button>
                    </div>
                </div>
                
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Keterangan</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <textarea type="text" class="form-control form-custom" ng-model="users.description" placeholder="" ng-readonly="false"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Keterangan MO</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <textarea type="text" class="form-control form-custom" ng-model="users.moDescription" placeholder="" ng-readonly="true"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn cancel-button" ng-click="reject()">Reject</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn submit-button" ng-click="approve()">Approve</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>