<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li class="active">Detail Approval Resume Notary</li>
            </ol>
            <ul class="nav nav-pills" style="border-bottom:1px solid #c5c5c5; padding-bottom: 10px; margin-bottom: 10px">
                <li ng-class="{active:isSet(1)}"><a class="tabs" href ng-click="setTab(1)">Resume</a></li>
                <li ng-class="{active:isSet(2)}"><a class="tabs" href ng-click="setTab(2)">Resume Tambahan</a></li>
                <!--<li ng-class="{active:isSet(3)}"><a class="tabs" href ng-click="setTab(3)">Dokumen Kelengkapan</a></li>-->
            </ul>
            <div ng-show="isSet(1)">
                <accordion close-others="oneAtATime">
                    <accordion-group is-open="group.isOpen" ng-repeat="documentList in datResult.documentResumeList">
                        <accordion-heading><i class="glyphicon-plus"></i> {{ documentList.documentDesc }}
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.isOpen, 'glyphicon-chevron-right': !group.isOpen}"></i>
                        </accordion-heading>

                        <!--<canvas-viewer src="../img/bcaf-logo.png" ></canvas-viewer>-->
                        <button ng-click="prevPage()" ng-if="documentList.type=='PDF'">&lt;</button>
                        <button ng-click="nextPage()" ng-if="documentList.type=='PDF'">&gt;</button>
                        <br ng-if="documentList.type=='PDF'">
                        <span ng-if="documentList.type=='PDF'">{{currentPage}}/{{totalPages}}</span>
                        <br ng-if="documentList.type=='PDF'">
                        <br ng-if="documentList.type=='PDF'">
                        <div style="height: 150px; overflow-y:scroll;" ng-if="documentList.type=='PDF'">
                            <pdfviewer ng-src="{{trustSrc(documentList.url)}}" on-page-load='pageLoaded(page,total)' id="viewer"></pdfviewer>
                            <!--{{pdfTag}}-->
                            <!--<ng-bind-html ng-bind-html="pdfTag">-->

                            <!--</ng-bind-html>{{pdfTag}}-->
                        </div>
                        <div style="height: 150px; overflow-y:scroll;" ng-if="documentList.type=='IMAGE'">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:40px; padding:20px; text-align: center;">
                                <img ng-src="{{trustSrc(documentList.url)}}" ng-class="classRotate">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" ng-click="doRotate('min')"><i class="fa fa-reply" aria-hidden="true"></i></button>
                                <button class="btn btn-primary" ng-click="doRotate()"><i class="fa fa-share" aria-hidden="true"></i></button>
                            </div>
                        </div>

                    </accordion-group>

                </accordion>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:18px;">
                                <label >Metode</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <select class="form-control" ng-options="method as method.value for method in method" ng-model="itemSearch"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{dataResult.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid head-section-tab" ng-if="itemSearch.keyName=='input'">
                    <h5>Modal</h5>
                </div>
                <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Modal</th>
                            <th class="table-header-padding">Nominal (Rp)</th>
                            <th class="table-header-padding">Jumlah Satuan (Dalam Lembar)</th>
                            <th class="table-header-padding">Verifikasi</th>
                            <th class="table-header-padding">Keterangan</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stock in dataResult.stockList">
                            <td style="padding-left:0px;">
                                {{stock.name}}
                            </td>
                            <td>{{stock.nominal | currency:"Rp "}}</td>
                            <td>{{stock.stockQuantity}}</td>
                            <td >
                                <label class="radio-inline">
                                    <input type="radio" name="stock.id" ng-value=true ng-selected="stock.verified" ng-model="stock.verified"> OK
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stock.id" ng-value=false ng-selected="stock.verified" ng-model="stock.verified"> Not OK
                                </label>
                            </td>
                            <td class="table-header-padding">
                                <input type="text" class="form-control" ng-model="stock.verifiedDescription" ng-readonly="stock.verified==null || stock.verified==true">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid head-section-tab"  ng-if="itemSearch.keyName=='input'">
                    <h5>Pemegang Saham</h5>
                </div>
                <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Nama Pemegang Saham</th>
                            <th class="table-header-padding">Jumlah Saham</th>
                            <th class="table-header-padding">Nominal Saham (Rp)</th>
                            <th class="table-header-padding">Verifikasi</th>
                            <th class="table-header-padding">Keterangan</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stockHolder in dataResult.stockHolderList">
                            <td style="padding-left:0px;">
                                {{stockHolder.name}}
                            </td>
                            <td>{{stockHolder.stockQuantity}}</td>
                            <td>{{stockHolder.stockNominal | currency:"Rp "}}</td>
                            <td >
                                <label class="radio-inline">
                                    <input type="radio" name="stock.id" ng-value=true ng-selected="stockHolder.verified" ng-model="stockHolder.verified"> OK
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stock.id" ng-value=false ng-selected="stockHolder.verified" ng-model="stockHolder.verified"> Not OK
                                </label>
                            </td>
                            <td class="table-header-padding">
                                <input type="text" class="form-control" ng-model="stockHolder.verifiedDescription" ng-readonly="stockHolder.verified==null || stockHolder.verified==true">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{dataResult.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='upload'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;" ng-repeat="documentList in dataResult.documentList">
                            <div class="col-md-9 col-sm-9 col-xs-9 label-desc" style="padding-left:0px;">
                                <label >{{documentList.documentDesc}}</label>
                            </div>
                            <div class="col-md-2 col-sm-2 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <button class="btn-sm btn-danger" ng-click="downloadDocumentMarketing(documentList.documentCode)" tooltip="Download">
                                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="isSet(2)">
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:4px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-3 col-sm-3 content-desc" style="margin-bottom:6px;">
                                <input type="text" ng-model="dataResult.companyName" class="form-control" ng-readonly="true">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc">
                                <form class="form-inline">
                                    <div class="form-group row clearfix" style="margin-left: 15px">
                                        <label class="radio-inline">
                                            <input type="radio" name="positionVerified" ng-model="dataResult.companyNameVerified" ng-value="true"> OK
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="positionVerified" ng-model="dataResult.companyNameVerified" ng-value="false"> Not OK
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc">
                                <input type="text" class="form-control" ng-model="dataResult.companyNameDescription" ng-readonly="dataResult.companyNameVerified==null || dataResult.companyNameVerified==true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-bottom: 10px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:6px;">
                                <label >Kedudukan</label>
                            </div>
                            <div class="col-md-3 col-sm-3 content-desc" style="margin-bottom:6px; margin-top: 4px">
                                <input type="text" ng-model="dataResult.position" class="form-control" ng-readonly="true">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="margin-top: 10px">
                                <form class="form-inline">
                                    <div class="form-group row clearfix" style="margin-left: 15px">
                                        <label class="radio-inline">
                                            <input type="radio" name="positionVerified" ng-model="dataResult.positionVerified" ng-value="true"> OK
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="positionVerified" ng-model="dataResult.positionVerified" ng-value="false"> Not OK
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="margin-top: 10px">
                                <input type="text" class="form-control" ng-model="dataResult.positionDescription" ng-readonly="dataResult.positionVerified==null || dataResult.positionVerified==true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px; padding-bottom: 12px" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;">
                                <label >Kategori</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc">
                                <form class="form-inline">
                                    <div class="form-group row clearfix" style="margin-left: 15px">
                                        <label class="radio-inline">
                                            <input type="radio" name="radioCategory" ng-model="dataResult.category"  ng-value="'TERBUKA'" ng-disabled="true"> Terbuka
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="radioCategory" ng-model="dataResult.category"  ng-value="'TERTUTUP'" ng-disabled="true"> Tertutup
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc">
                                <form class="form-inline">
                                    <div class="form-group row clearfix" style="margin-left: 15px">
                                        <label class="radio-inline">
                                            <input type="radio" name="categoryVerified" ng-model="dataResult.categoryVerified" ng-value="true"> OK
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="categoryVerified" ng-model="dataResult.categoryVerified" ng-value="false"> Not OK
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc">
                                <input type="text" class="form-control" ng-model="dataResult.categoryDescription" ng-readonly="dataResult.categoryVerified==null || dataResult.categoryVerified==true">
                            </div>
                            <!--<form class="form-inline">-->
                                <!--<div class="form-group row clearfix" style="margin-left: 15px">-->
                                   <!---->
                                <!--</div>-->
                            <!--</form>-->
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px; padding-bottom: 10px">
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;">
                                <label >Jenis Penanaman Modal</label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;">
                                <form class="form-inline">
                                    <div class="form-group row clearfix" style="width: 200px; margin-left: 2px">
                                        <div class="col-sm-6">
                                            <input type="checkbox" ng-disabled="true" ng-checked="dataResult.stockType=='PMA'">
                                            PMA
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="checkbox" ng-disabled="true" ng-checked="dataResult.stockType=='PMDN'">
                                            PMDN
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc">
                                <form class="form-inline">
                                    <div class="form-group row clearfix" style="margin-left: 15px">
                                        <label class="radio-inline">
                                            <input type="radio" name="stokTypeVerified" ng-model="dataResult.stokTypeVerified" ng-value="true"> OK
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="stokTypeVerified" ng-model="dataResult.stokTypeVerified" ng-value="false"> Not OK
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc">
                                <input type="text" class="form-control" ng-model="dataResult.stockTypeDescription" ng-readonly="dataResult.stokTypeVerified==null || dataResult.stokTypeVerified==true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-3 col-sm-3 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                                <label >Alamat</label>
                            </div>
                            <div class="col-md-3 col-sm-3 content-desc" style="margin-bottom:10px; margin-top: 6px">
                                <input type="text" ng-model="dataResult.address" class="form-control" ng-readonly="true">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc">
                                <form class="form-inline">
                                    <div class="form-group row clearfix" style="margin-left: 15px; margin-top: 10px">
                                        <label class="radio-inline">
                                            <input type="radio" name="addressVerified" ng-model="dataResult.addressVerified" ng-value="true"> OK
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="addressVerified" ng-model="dataResult.addressVerified" ng-value="false"> Not OK
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="margin-top: 10px">
                                <input type="text" class="form-control" ng-model="dataResult.addressDescription" ng-readonly="dataResult.addressVerified==null || dataResult.addressVerified==true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid head-section-tab" style="padding-left:0px">
                    <div style="float:left;"><h5>Anggaran Dasar dan Perubahan</h5></div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="table-responsive" style="width: 100%; overflow-x: scroll;">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="padding-left:0px;" class="table-header-padding">No Akta</th>
                                <th style="padding-left:0px;" class="table-header-padding">Tanggal Akta</th>
                                <th class="table-header-padding">Notaris</th>
                                <th class="table-header-padding">Perihal</th>
                                <th class="table-header-padding">Nomor Pengesahan</th>
                                <th class="table-header-padding">Tanggal Pengesahan</th>
                                <th class="table-header-padding">Verifikasi</th>
                                <th class="table-header-padding">Keterangan</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="stock in dataResult.articleAssociationList">
                                <td style="padding-left:0px;">
                                    {{stock.certificateNumber}}
                                </td>
                                <td >
                                    {{stock.certificateDate | date:'dd MMM yyyy'}}
                                </td>
                                <td>{{stock.notary}}</td>
                                <td>{{stock.about}}</td>
                                <td>{{stock.approvalNumber}}</td>
                                <td>{{stock.approvalDate | date: 'dd MMM yyyy'}}</td>
                                <td >
                                    <label class="radio-inline">
                                        <input type="radio" name="stock.id" ng-value=true ng-selected="stock.verified" ng-model="stock.verified"> OK
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="stock.id" ng-value=false ng-selected="stock.verified" ng-model="stock.verified"> Not OK
                                    </label>
                                </td>
                                <td class="table-header-padding">
                                    <input type="text" class="form-control" ng-model="stock.verifiedDescription" ng-readonly="stock.verified==null || stock.verified==true">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="container-fluid head-section-tab" style="padding-left:0px">
                    <div style="float:left;"><h5>Pengurus</h5></div>
                </div>
                <div class="container-fluid" style="padding-left: 0px">
                    <table class="table table-hover">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="padding-left:0px;" class="table-header-padding">Nama</th>
                                <th class="table-header-padding">Jabatan</th>
                                <th class="table-header-padding">As Signer</th>
                                <th class="table-header-padding">As Approver</th>
                                <th class="table-header-padding">Masa Jabatan</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="directorList in dataResult.directorList">
                                <td style="padding-left:0px;">
                                    {{directorList.name}}
                                </td>
                                <td>{{directorList.position}}</td>
                                <td><input type="checkbox" ng-checked="directorList.signer" ng-disabled="true"></td>
                                <td><input type="checkbox" ng-checked="directorList.approver" ng-disabled="true"></td>
                                <td>{{directorList.startDate | date:'dd MMMM yyyy'}} - {{directorList.endDate | date:'dd MMMM yyyy'}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </table>
                </div>
                <div class="container-fluid head-section-tab" style="padding-left:0px">
                    <div style="float:left;"><h5>Data Pendukung</h5></div>
                </div>
                <div class="container-fluid" style="padding-left:0px" >
                    <table class="table table-hover">
                        <thead>
                        <tr>

                            <th style="padding-left:0px;" class="table-header-padding">Dokumen</th>
                            <th class="table-header-padding">No Dokumen</th>
                            <th class="table-header-padding">Tanggal</th>
                            <th class="table-header-padding">Masa Berlaku</th>
                            <th class="table-header-padding">Verifikasi</th>
                            <th class="table-header-padding">Keterangan</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stock in dataResult.additionalDataList">
                            <td style="padding-left:0px;">
                                {{stock.documentName}}
                            </td>
                            <td >
                                {{stock.documentNumber}}
                            </td>
                            <td>
                                {{stock.documentNumber | date: 'dd MMM yyyy'}}
                            </td>
                            <td>{{stock.documentPeriod | date: 'dd MMM yyyy'}}</td>
                            <td >
                                <label class="radio-inline">
                                    <input type="radio" name="stock.id" ng-value=true ng-selected="stock.verified" ng-model="stock.verified"> OK
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stock.id" ng-value=false ng-selected="stock.verified" ng-model="stock.verified"> Not OK
                                </label>
                            </td>
                            <td class="table-header-padding">
                                <input type="text" class="form-control" ng-model="stock.verifiedDescription" ng-readonly="stock.verified==null || stock.verified==true">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid">
                   <h5>Wewenang Direksi/Tugas Pengurus</h5>
                    <div class="col-sm-6" style="padding-left: 0px">
                        <textarea class="form-control form-custom" ng-model="dataResult.directorJob" style="height: 80px" placeholder="Input Text Here" ng-readonly="true">

                        </textarea>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 20px">
                    <h5>Keterangan</h5>
                    <div class="col-sm-6" style="padding-left: 0px">
                        <textarea class="form-control form-custom" ng-model="dataResult.description" style="height: 80px;" placeholder="Input Text Here" ng-readonly="true">

                        </textarea>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 20px">
                    <h5>Keterangan Reject</h5>
                    <div class="col-sm-6" style="padding-left: 0px">
                        <textarea class="form-control form-custom" ng-model="rejectDescription" style="height: 80px" placeholder="Input Text Here" maxlength="255">

                        </textarea>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-2 col-sm-2" style="padding-left: 0px">
                        <button class="btn cancel-button" ng-click="showModalBack()">Back</button>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <button class="btn cancel-button" ng-click="rejectResume()">Reject</button>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <button class="btn submit-button" ng-click="approveResume()">Approve</button>
                    </div>
                </div>
            </div>
            <!--<div ng-show="isSet(3)">-->
                <!--<div class="container-fluid">-->
                    <!--<table class="table table-hover">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th style="padding-left:0px;" class="table-header-padding">Data Lama</th>-->
                            <!--<th class="table-header-padding" style="text-align: center">Download</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="documentList in dataResult.documentList">-->
                            <!--<td style="padding-left:0px;">-->
                                <!--{{documentList.description}}-->
                            <!--</td>-->
                            <!--<td style="text-align: center">-->
                                <!--<a ng-href="{{documentList.url}}" target="_blank" class="btn-sm btn-danger" tooltip="Download">-->
                                    <!--<i class="fa fa-cloud-download" aria-hidden="true"></i>-->
                                <!--</a>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>