<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-md-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-6" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <select class="form-control" ng-options="notary as notary.name for notary in notaries" style="width: 100%" ng-model="itemNotary" ng-change="getListInvoice(itemNotary)" ng-blur="getListNotary(itemNotary)"></select>
                </div>
                <div class="col-md-6 col-sm-offset-2" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <select class="form-control" ng-options="invoice as invoice.invoiceNumber for invoice in invoices" style="width: 100%" ng-model="itemInvoice" ng-change="getListReceiveInvoice(itemInvoice)" ng-blur="getListReceiveInvoice(itemInvoice)"></select>
                </div>
                <div class="col-md-6 col-sm-offset-2" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <p class="input-group" style="width: 395px;">
                        <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true" ng-model="tglEfektif" is-open="awal.opened" datepicker-options="dateOptions" placeholder="Tanggal Receive" ng-required="true" close-text="Close" required/>
                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openAwal($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                    </p>
                </div>
                <div class="col-md-1 container-btn-search" style="padding-top: 5px">
                    <div class="input-group">
                        <button ng-click="doSearch(itemInvoice,itemNotary,tglEfektif)" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="padding-left:0px;" class="table-header-padding">No Invoice</th>
                    <th class="table-header-padding">Notaris</th>
                    <th class="table-header-padding">Jumlah Data</th>
                    <th class="table-header-padding">Total Fee</th>
                    <th class="table-header-padding">Keterangan</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoice in listApproveInvoice">
                    <td style="padding-left:0px;" ng-click="goToDetail(invoice.id)">{{ invoice.invoiceNumber }}</td>
                    <td ng-click="goToDetail(invoice.id)">{{ invoice.notaryName }}</td>
                    <td ng-click="goToDetail(invoice.id)">{{ invoice.totalData }}</td>
                    <td ng-click="goToDetail(invoice.id)">{{ invoice.totalFee }}</td>
                    <td ng-click="goToDetail(invoice.id)">{{ invoice.description }}</td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>