<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Assign Item Produk
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <form class="form-horizontal" ng-submit="processSubmit()">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-8">
                                    <select class="form-control" ng-options="orient as orient.product_name for orient in product" ng-model="itemProduct" ng-change="setItem(itemProduct)"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Stock Available</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="true" placeholder="Stock" class="form-control" ng-model="stockItem" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Stock Assign</label>
                                <div class="col-sm-8">
                                    <input type="number" placeholder="Stock Assign" required class="form-control" ng-model="stockAssign" min="1" max="{{stockItem}}" />
                                    <label ng-show="stockInvalid" class="control-label alert-message">Stock Assign not should be greater than Stock Available</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Date</label>
                                <div class="col-sm-5" style="margin-left: 15px">
                                    <div class="form-group row clearfix input-group" >

                                            <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                                   ng-model="date"
                                                   is-open="awal.opened" datepicker-options="dateOptions" placeholder="Date" ng-required="true"
                                                   close-text="Close" require min-date="minDate"d/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openAwal($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                    </div>
                                    <label ng-show="dateInvalid" class="control-label alert-message">Date is not empty</label>
                                </div>
                            </div>


                            <button type="reset" class="btn btn-danger" ng-click="showModalBack()">Cancel</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>

                <div class="">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Sales Name</th>
                                <th>Product Assign</th>
                                <th>Stock Assign</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="data in reports" >
                                <td>{{data.sales}}</td>
                                <td>{{data.product_name}}</td>
                                <td>{{data.stock_start}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

</div>