<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- ol class="breadcrumb breadcrumb-custom">
                <li class="active">Matching Result</li>
            </ol> -->
            <ul class="nav nav-pills" style="border-bottom:1px solid #c5c5c5; margin-top: 10px; padding-bottom: 10px; margin-bottom: 10px">
                <li ng-class="{active:isSet(1)}" ><a class="tabs" style="padding-left:15px;" href ng-click="setTab(1)">Resume</a></li>
                <li ng-class="{active:isSet(2)}"><a class="tabs" style="padding-left:15px;"href ng-click="setTab(2)">Dokumen Kelengkapan</a></li>
            </ul>
            <div ng-show="isSet(1)">
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:18px;">
                                <label >Metode</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <select class="form-control" ng-options="method as method.value for method in method" ng-model="itemSearch"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 right-form-content" >
                                <button ng-click="retrieveAppId()" class="btn button-blue-primary">Retrieve</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{users.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid head-section-tab" ng-if="itemSearch.keyName=='input'">
                    <h5>Modal</h5>
                </div>
                <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Modal</th>
                            <th class="table-header-padding">Nominal (Rp)</th>
                            <th class="table-header-padding">Jumlah Satuan (Dalam Lembar)</th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr ng-repeat="stock in users.stockList">
                                <td style="padding-left:0px;">
                                    {{stock.name}}
                                </td>
                                <td>{{stock.nominal | currency:"Rp "}}</td>
                                <td>{{stock.stockQuantity}}</td>
                            </tr>
                            </tbody>
                    </table>
                </div>
                <div class="container-fluid head-section-tab"  ng-if="itemSearch.keyName=='input'">
                    <h5>Pemegang Saham</h5>
                </div>
                <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Nama Pemegang Saham</th>
                            <th class="table-header-padding">Jumlah Saham</th>
                            <th class="table-header-padding">Nominal Saham (Rp)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stockHolder in users.stockHolderList">
                            <td style="padding-left:0px;">
                                {{stockHolder.name}}
                            </td>
                            <td>{{stockHolder.stockQuantity}}</td>
                            <td>{{stockHolder.stockNominal | currency:"Rp "}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{users.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='upload'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-9 col-sm-9 col-xs-9 label-desc" style="padding-left:0px;">
                                <label >Resume</label>
                            </div>
                            <div class="col-md-2 col-sm-2 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        
                                        <a ng-if="users.urlResume != undefined" ng-href="{{users.urlResume}}"> <i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="isSet(2)">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama Badan Usaha</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.companyName" placeholder="APP ID" value="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                        <!-- <button ng-click="retrieveAppId()" class="btn button-blue-primary">Retrieve</button> -->
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >No NPWP</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.npwp" placeholder="Nama Badan" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Branch</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.branch" placeholder="Nomor NPWP" value="" ng-readonly="true" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                        <!-- <input id="npwp" type="file" file-model="myFile" class="hidden">
                        <label for="npwp" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label> -->
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama MO</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.marketingOfficer" placeholder="File Resume BCA" value="" ng-readonly="true" ng-required="true">
                                <!--<label ng-show="centralBranchInvalid" class="control-label alert-message">Cabang Sentral tidak boleh kosong</label>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                        <!-- <input id="resumeBca" type="file" file-model="myFile2" class="hidden">
                        <label for="resumeBca" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label> -->
                    </div>
                    <!-- <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left: 0px; padding-bottom:10px">
                        <button class="btn submit-button" ng-click="doAddOtherFile()" ng-if="!otherDocument">Add Other File</button>
                        <button class="btn submit-button" ng-click="doAddOtherFile(false)" ng-if="otherDocument">Hide</button>
                    </div> -->
                    <!-- <div class="col-md-7 col-sm-7 col-xs-7 col-xs-offset-1" style="padding-left: 0px; padding-bottom:10px">
                        <div class="col-md-11 col-sm-11 content-desc" >
                            <div class="form-group row clearfix" >
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn cancel-button" ng-click="showModalBack()" ng-if="!otherDocument">Batal</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left: -30px">
                                    <button class="btn submit-button" ng-click="uploadFile()" ng-if="!otherDocument">Simpan</button>
                                </div>
                            </div>
                        </div>
                    </div> -->


                </div>

                    <!-- <div class="container-fluid" style="padding-left:0px;" ng-repeat="fileInput in document">
                        <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                            <label >{{fileInput.name}}</label>
                        </div>
                        <div class="col-md-6 col-sm-6 content-desc" >

                            <div class="form-group row clearfix" >
                                <div class="col-sm-12">
                                    <input type="text" class="form-control form-custom" ng-readonly="true" placeholder={{fileInput.file.name}}>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 right-form-content" >
                            <input id="{{'upload' + $index}}" type="file" file-model="fileInput.file"  class="hidden"/>

                            <label for="{{'upload' + $index}}" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label>

                        </div>
                    </div> -->
                    <!-- <div class="row content-container" ng-repeat="privilege in users.documentList">
                <div class="container-fluid" style="padding-left:0px; margin-bottom: 10px;">
                    <div class="col-md-5 col-sm-5 col-xs-5 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label><h4>{{privilege.description}}</h4></label>
                    </div>
                </div>
                <div class="row">
                    
                </div>
                <div class="container-fluid" style="padding-left:0px;" ng-repeat="subCategory in privilege.subCategoryPrivilegeList">
                    <div class="col-md-5 col-sm-5 col-xs-5 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >{{subCategory.subCategory}}</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc">
                        <div class="form-group row clearfix" >
                            <div class="col-sm-5" style="margin-left: -100px;" ng-repeat="privilegeList in subCategory.privilegeList">
                                <input type="radio" style="margin-left: 20px;" ng-model="privilegeList.value" name="{{subCategory.subCategory}}" ng-value=true ng-change="changed($parent.$parent.$index,$parent.$index,privilegeList.id)"> {{privilegeList.description}}
                            </div>
                        </div>
                    </div>
                </div>
                </div> -->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="padding-left:0px;" class="table-header-padding">Data Kelengkapan</th>
                        <th class="table-header-padding col-md-4">Keterangan</th>
                        <th class="table-header-padding col-md-4 text-center">Hasil Verifikasi</th>
                        <th class="table-header-padding">Keterangan Pending</th>
                        <th class="table-header-padding" style="text-align:center;">Download File Lama</th>
                        <th class="table-header-padding" style="text-align:center;">Download File Baru</th>
                        <th class="table-header-padding" style="text-align:center;"></th>
                        <!-- <th class="table-header-padding">Action</th> -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users.documentList">
                        <td style="padding-left:0px;" >{{ user.code }}</td>
                        <td style="padding-left:0px;" >{{ user.description }}</td>
                        <td class="col-md-5">
                            <div ng-repeat="privilegeList in user.privileges" class="col-md-6">
                                <input type="radio" style="margin-left: 20px;" ng-model="privilegeList.value" name="{{subCategory.subCategory}}" ng-value=true ng-change="changeValue(privilegeList.id,$parent.$index)" ng-selected="privilegeList.value"> {{privilegeList.description}}
                            </div>
                        </td>
                        <td >
                            <input type="text" class="form-control form-custom" ng-model="user.pendingDescription" name="" ng-readonly="user.verified==null || user.verified">
                        </td>
                        <td style="text-align:center;"><a ng-if="user.url != undefined" class="btn-sm btn-danger" ng-href="{{user.url}}" target="_blank"> <i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                        <td style="text-align:center;">{{user.marketingOfficer}}</td>
                        <td style="text-align:center;"> <a href="" ng-click="deleteDocument($index)" ng-show="user.delete"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                    </tbody>
                </table>

                    <!--<div ng-repeat="fileInput in listDocument">-->
                        <!--<input type="file" file-input="{{'myFile' + $index}}"/>-->
                        <!--<button ng-click="uploadFileTest()">upload me</button>-->
                    <!--</div>-->

                    <div class="container-fluid" style="padding-left:0px;">
                        <div class="col-md-6 col-sm-6 content-desc" >

                            <div class="form-group row clearfix" >
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;"><button class="btn submit-button" ng-click="lovBranch()">Add Other File</button></div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn cancel-button" ng-click="pending()">Pending</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn submit-button" ng-click="process()">Process</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>