<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Setting Notary
                    <li class="active">Tambah Notary</li>
            </ol>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 detail-left no-padding-element" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Nama Notary</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc">
                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.name" placeholder="Nama Notary" ng-readonly="true">
                                <label ng-show="nameInvalid" class="control-label alert-message">Nama tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 right-form-content-search">
                        <button ng-click="lovListNotary()" class="btn button-search-create-notary"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Notary ID</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.notaryId" placeholder="Notary ID" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Alamat</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.address" placeholder="Alamat" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Kota</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.city" placeholder="Kota" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Telepon</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.phone" placeholder="Nomor Telepon" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Fax</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.fax" placeholder="Nomor Fax" readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Contact Person</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.contactPerson" placeholder="Contact Person" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 detail-right no-padding-element" style="padding-left:0px;">
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Account No</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="contentData.accountNo" placeholder="Nomor Akun" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Account Name</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="contentData.accountName" placeholder="Nama Akun" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Bank</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="contentData.bank" placeholder="Bank" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px; padding-right: 0px">
                        <label>Bank Branch ID</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="contentData.bankBranchId" placeholder="Bank Branch ID" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Bank Branch</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="contentData.bankBranch" placeholder="Cabang Bank" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Saldo</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="number" class="form-control form-custom" ng-model="contentData.balance" min="0" placeholder="Saldo" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--BOTTOM FORM SIDE -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="breadcrumb-custom"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 detail-left no-padding-element" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Kode Kliring</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc">
                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="number" class="form-control form-custom" ng-model="contentData.kliringCode" min="0" placeholder="Kode Kliring">
                                <label ng-show="cliringCodeInvalid" class="control-label alert-message">Kode Kliring tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Jenis Notary</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc">
                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <select ng-model="notaryType.value" class="form-control">
                                    <option value="">---Silahkan Pilih---</option>
                                    <option ng-repeat="notaryType in notaryType" value="{{notaryType.value}}">{{notaryType.name}}</option>
                                </select>
                                <label ng-show="notaryTypeInvalid" class="control-label alert-message">Jenis Notary tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Fee Resume</label>
                    </div>
                    <div class="col-md-3 col-sm-3 content-desc" style="padding-right: 5px;">
                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="number" class="form-control form-custom" placeholder="Fee Resume" min="0" step="1" ng-model="feeResume">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 content-desc" style="padding-left: 0px">
                        <p class="input-group">
                            <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true" ng-model="tglEfektif" is-open="awal.opened" datepicker-options="dateOptions" placeholder="Effective Date" ng-required="true" close-text="Close" required/>
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openAwal($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </p>
                    </div>
                    <div class="col-md-1 col-sm-1 right-form-content plus-icon">
                        <a href="" ng-click="addResume(feeResume, tglEfektif)"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;" ng-repeat="notaryFeeResumeList in notaryFeeResumeList">
                    <div class="col-md-3 col-sm-3 col-xs-offset-3 content-desc" style="padding-right: 5px;">
                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder="Fee Resume" ng-readonly="true" ng-model="notaryFeeResumeList.feeResume">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 content-desc" style="padding-left: 0px">
                        <p class="input-group">
                            <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="notaryFeeResumeList.effectiveDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" required readonly/>

                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" disabled><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-1 col-sm-1 right-form-content plus-icon">
                        <a href="" ng-click="deleteFeeResume($index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;padding-right: 0px">
                        <label>NPWP</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc">
                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <div class="radio">
                                        <label><input type="radio" name="npwp" ng-value="true" ng-model="contentData.npwpStatus">Ya</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="radio">
                                        <label><input type="radio" name="npwp" ng-value="false" ng-model="contentData.npwpStatus">Tidak</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-offset-3 content-desc" style="margin-top: -10px">
                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="number" class="form-control form-custom" ng-if="contentData.npwpStatus==true" ng-model="contentData.npwpNo" placeholder="Nomor NPWP" min="0">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" style="padding-left:0px;" ng-if="contentData.npwpStatus==true">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Alamat NPWP</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc">
                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.npwpAddress" placeholder="Alamat NPWP" ng-readonly="boolean">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>PPN</label>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7 content-desc">
                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="number" class="form-control form-custom" ng-model="contentData.ppn" placeholder="PPN" ng-readonly="boolean" min="0">
                                <label ng-show="ppnInvalid" class="control-label alert-message">PPN tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 content-desc" style="margin: 10px 0px 0px -10px">
                        %
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;padding-right: 0px">
                        <label>SKB</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc">
                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <div class="radio">
                                        <label><input type="radio" ng-model="contentData.skb" ng-value="true">Ya</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="radio">
                                        <label><input type="radio" ng-model="contentData.skb" ng-value="false">Tidak</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <label ng-show="skbInvalid" class="control-label alert-message">SKB tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc">
                        <div class="form-group row clearfix">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn cancel-button" ng-click="showModalBack()">Batal</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn submit-button" ng-click="createSettingNotary()">Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>