<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Setting Parameter Cabang Sentral</li>
                <li class="active">Tambah Cabang Sentral</li>
            </ol>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Area</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.name">
                                <label ng-show="nameInvalid" class="control-label alert-message">Nama Cabang Sentral tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Cabang</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" readonly>
                                <label ng-show="branchInvalid" class="control-label alert-message">Cabang tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content plus-icon" >
                        <a href="" ng-click="lovBranch()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;" ng-if="contentData.branch.length > 0" ng-repeat="branch in contentData.branch">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="branch.name" ng-value="branch.name"  ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content plus-icon" >
                        <a href="" ng-click="deleteBranch($index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn cancel-button" ng-click="showModalBack()">Cancel</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn submit-button" ng-click="createBranchCentral()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>