<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Create Produsen
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <form role="form">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" ng-model="fullName" class="form-control" placeholder="First Name">
                                <label ng-show="fullNameInvalid" class="control-label alert-message">Firstname is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" ng-model="lastName" class="form-control" placeholder="Last Name">
                                <label ng-show="lastNameInvalid" class="control-label alert-message">Last Name is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" ng-model="username" class="form-control" placeholder="Username">
                                <label ng-show="userNameInvalid" class="control-label alert-message">Username is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" ng-model="password" class="form-control" placeholder="Password">
                                <label ng-show="passwordInvalid" class="control-label alert-message">Password is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" ng-model="confirmPassword" class="form-control" placeholder="Confirmation Passord">
                                <label ng-show="confirmPasswordInvalid" class="control-label alert-message">Confirm password is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" ng-model="email" class="form-control" placeholder="Email">
                                <label ng-show="emailInvalid" class="control-label alert-message">Email is not empty</label>

                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" ng-model="contact" class="form-control" placeholder="Phone">
                                <label ng-show="phoneInvalid" class="control-label alert-message">Phone is not empty</label>

                            </div>
                            <div class="form-group">
                                <label>Post Code</label>
                                <input type="text" ng-model="post" class="form-control" placeholder="Post Code">
                                <label ng-show="postInvalid" class="control-label alert-message">Post Code is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Country</label>
                                <select class="form-control" ng-options="orient as orient.name for orient in country" ng-model="itemCountry"></select>
                            </div>
                            <div class="form-group">
                                <label>Province</label>
                                <select class="form-control" ng-options="orient as orient.name for orient in province" ng-model="itemProvince" ng-change="setCity(itemProvince)"></select>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <select class="form-control" ng-options="orient as orient.city_name for orient in city" ng-model="itemCity" ng-change="selectCity(itemCity)"></select>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <textarea ng-model="address" class="form-control" placeholder="Address"></textarea>
                                <label ng-show="phoneInvalid" class="control-label alert-message">Address is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Institution</label>
                                <input type="text" ng-model="institution" class="form-control" placeholder="Institution">
                            </div>
                            <div class="form-group">
                                <label>Department</label>
                                <input type="text" ng-model="department" class="form-control" placeholder="Department">
                            </div>

                            <button type="reset" ng-click="showModalBack()" class="btn btn-danger">Cancel</button>
                            <button type="submit" ng-click="processSubmit()" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>