<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Create Marketing
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-8">
                                    <textarea rows="4" placeholder="Description" class="form-control" ng-model="description">
                                    </textarea>
                                </div>
                            </div>

                            <button type="reset" class="btn btn-danger" ng-click="showModalBack()">Cancel</button>
                            <button type="submit" ng-click="processSubmit()" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>