<!--<div class="main-panel">-->
    <!--<nav class="navbar navbar-transparent navbar-absolute">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="#">Profile</a>-->
            <!--</div>-->
            <!--<div class="collapse navbar-collapse">-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li>-->
                        <!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">dashboard</i>-->
                            <!--<p class="hidden-lg hidden-md">Dashboard</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">notifications</i>-->
                            <!--<span class="notification">5</span>-->
                            <!--<p class="hidden-lg hidden-md">Notifications</p>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Mike John responded to your email</a></li>-->
                            <!--<li><a href="#">You have 5 new tasks</a></li>-->
                            <!--<li><a href="#">You're now friend with Andrew</a></li>-->
                            <!--<li><a href="#">Another Notification</a></li>-->
                            <!--<li><a href="#">Another One</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">person</i>-->
                            <!--<p class="hidden-lg hidden-md">Profile</p>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->

                <!--<form class="navbar-form navbar-right" role="search">-->
                    <!--<div class="form-group  is-empty">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                        <!--<span class="material-input"></span>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-white btn-round btn-just-icon">-->
                        <!--<i class="material-icons">search</i><div class="ripple-container"></div>-->
                    <!--</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->

    <!--<div class="content">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="card">-->
                        <!--<div class="card-header" data-background-color="green">-->
                            <!--<h4 class="title">Create Reseller</h4>-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                            <!--<form>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Full Name</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<input type="text" ng-model="fullName" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Username</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<input type="text" class="form-control" ng-model="username">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Password</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<input type="password" ng-model="password" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Confirm Password</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-4">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<input type="password" ng-model="confirmPassword" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Email</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<input type="email" ng-model="email" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Phone</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<input type="text" ng-model="contact" class="form-control">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Country</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<select class="form-control" ng-options="orient as orient.name for orient in country" ng-model="itemCountry"></select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Province</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<select class="form-control" ng-options="orient as orient.name for orient in province" ng-model="itemProvince" ng-change="setCity(itemProvince)"></select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">City</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<select class="form-control" ng-options="orient as orient.city_name for orient in city" ng-model="itemCity" ng-change="selectCity(itemCity)"></select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Address</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<textarea ng-model="address" class="form-control"></textarea>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<button type="reset" class="btn btn-danger">Cancel</button>-->
                                <!--<button type="submit" ng-click="processSubmit()" class="btn btn-success">Save</button>-->
                                <!--<div class="clearfix"></div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Create Reseller
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <form role="form">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" ng-model="fullName" class="form-control">
                                <label ng-show="fullNameInvalid" class="control-label alert-message">FullName is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" ng-model="username" class="form-control">
                                <label ng-show="userNameInvalid" class="control-label alert-message">Username is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" ng-model="password" class="form-control">
                                <label ng-show="passwordInvalid" class="control-label alert-message">Password is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" ng-model="confirmPassword" class="form-control">
                                <label ng-show="confirmPasswordInvalid" class="control-label alert-message">Confirm password is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" ng-model="email" class="form-control">
                                <label ng-show="emailInvalid" class="control-label alert-message">Email is not empty</label>

                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" ng-model="contact" class="form-control">
                                <label ng-show="phoneInvalid" class="control-label alert-message">Phone is not empty</label>

                            </div>
                            <div class="form-group">
                                <label>Country</label>
                                <select class="form-control" ng-options="orient as orient.name for orient in country" ng-model="itemCountry"></select>
                            </div>
                            <div class="form-group">
                                <label>Province</label>
                                <select class="form-control" ng-options="orient as orient.name for orient in province" ng-model="itemProvince" ng-change="setCity(itemProvince)"></select>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <select class="form-control" ng-options="orient as orient.city_name for orient in city" ng-model="itemCity" ng-change="selectCity(itemCity)"></select>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <textarea ng-model="address" class="form-control"></textarea>
                                <label ng-show="phoneInvalid" class="control-label alert-message">Address is not empty</label>
                            </div>

                            <button type="reset" ng-click="showModalBack()" class="btn btn-danger">Cancel</button>
                            <button type="submit" ng-click="processSubmit()" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>