<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Create User Group Marketing
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="username" class="form-control" placeholder="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" ng-model="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button ng-click="addUser(username, email)" style="width: 100%" class="btn btn-warning"><i class="fa fa-plus"></i> &nbsp; Add User Marketing</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-12" style="border-bottom: 1px solid #666666; margin-bottom: 20px">

                    </div>
                    <div class="col-lg-8" ng-if="dataUser.length>0">
                        <label>List User Group Marketing</label>
                        <form class="form-horizontal" ng-repeat="data in dataUser">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Username</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="data.username" class="form-control" placeholder="Username" readonly="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-8">
                                    <input type="email" ng-model="data.email" class="form-control" placeholder="Email" readonly="true">
                                </div>
                            </div>

                            <div style="border-bottom: 1px solid #666666; margin-bottom: 10px">

                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" ng-click="processSubmit()" class="btn btn-primary">Submit</button>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>