<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Security Admin</li>
                <li class="active">Tambah User</li>
            </ol>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Username</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.username" placeholder="Username" value="">
                                <label ng-show="userNameInvalid" class="control-label alert-message">Username tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-2 right-form-content" >-->
                        <!--<button ng-click="retrieveUser()" class="btn button-blue-primary">Retrieve</button>-->
                    <!--</div>-->
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >NIP</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.nip" placeholder="NIP" >
                                <label ng-show="nipInvalid" class="control-label alert-message">NIP tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama Lengkap</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.fullName" placeholder="Nama Lengkap" value="" maxlength="50">
                                <label ng-show="fullNameInvalid" class="control-label alert-message">Nama Lengkap tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Email</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-5">
                                <input type="text" class="form-control form-custom" ng-model="contentData.email" placeholder="Email" value="" maxlength="50">
                                <label ng-show="emailInvalid" class="control-label alert-message">Email tidak boleh kosong</label>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-custom" ng-model="emailDomain" ng-readonly="true" placeholder="@mailinator.com" maxlength="50">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Divisi</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.division" placeholder="Divisi" maxlength="50">
                                <label ng-show="divisionInvalid" class="control-label alert-message">Divisi tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Jabatan</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.position" placeholder="Jabatan" maxlength="50">
                                <label ng-show="positionInvalid" class="control-label alert-message">Jabatan tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Cabang</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" readonly>
                                <label ng-show="branchInvalid" class="control-label alert-message">Cabang tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content plus-icon" >
                        <a href="" ng-click="lovBranch()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;" ng-if="contentData.branch.length > 0" ng-repeat="listBranch in contentData.branch">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listBranch.name" ng-value="listBranch.name" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content plus-icon" >
                        <a href="" ng-click="deleteBranch($index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Cabang Sentral<sup>*</sup></label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder="" readonly>
                                <label ng-show="centralBranchInvalid" class="control-label alert-message">Cabang Sentral tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content plus-icon" >
                        <a href="" ng-click="lovBranchCentral()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;" ng-if="contentData.centralBranch != null" ng-repeat="centralBranch in contentData.centralBranch">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="centralBranch.name" ng-value="centralBranch.name"  ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content plus-icon" >
                        <a href="" ng-click="deleteBranchCentral($index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Grup Privilege<sup>*</sup></label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder="" value="" readonly>
                                <label ng-show="groupInvalid" class="control-label alert-message">Group tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content plus-icon" >
                        <a href="" ng-click="lovGroupPrivilege()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;" ng-if="contentData.group.length > 0" ng-repeat="listGroup in contentData.group">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc">
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listGroup.name" ng-value="listGroup.name" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content plus-icon">
                        <a href="" ng-click="deleteGroup($index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn cancel-button" ng-click="showModalBack()">Cancel</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn submit-button" ng-click="createUser()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>