<!--<div class="main-panel">-->
    <!--<nav class="navbar navbar-transparent navbar-absolute">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="#">Profile</a>-->
            <!--</div>-->
            <!--<div class="collapse navbar-collapse">-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li>-->
                        <!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">dashboard</i>-->
                            <!--<p class="hidden-lg hidden-md">Dashboard</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">notifications</i>-->
                            <!--<span class="notification">5</span>-->
                            <!--<p class="hidden-lg hidden-md">Notifications</p>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Mike John responded to your email</a></li>-->
                            <!--<li><a href="#">You have 5 new tasks</a></li>-->
                            <!--<li><a href="#">You're now friend with Andrew</a></li>-->
                            <!--<li><a href="#">Another Notification</a></li>-->
                            <!--<li><a href="#">Another One</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">person</i>-->
                            <!--<p class="hidden-lg hidden-md">Profile</p>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->

                <!--<form class="navbar-form navbar-right" role="search">-->
                    <!--<div class="form-group  is-empty">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                        <!--<span class="material-input"></span>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-white btn-round btn-just-icon">-->
                        <!--<i class="material-icons">search</i><div class="ripple-container"></div>-->
                    <!--</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->

    <!--<div class="content">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="card">-->
                        <!--<div class="card-header" data-background-color="green">-->
                            <!--<h4 class="title">Create Privilege</h4>-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                            <!--<form>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Name Capabillities</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<input type="text" class="form-control" ng-model="capabillities" placeholder="input name">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Role</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<select class="form-control" ng-options="orient as orient.name for orient in roles" ng-model="itemRole"></select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<div class="col-md-1">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="control-label">Province</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-md-9">-->
                                        <!--<div class="form-group label-floating">-->
                                            <!--<select class="form-control" ng-options="orient as orient.name for orient in province" ng-model="itemProvince" ng-change="setCity(itemProvince)"></select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<button type="reset" class="btn btn-danger">Cancel</button>-->
                                <!--<button type="submit" ng-click="processSubmit()" class="btn btn-success">Save</button>-->
                                <!--<div class="clearfix"></div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Create Privilege
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div role="form">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Name Capabillities</label>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group label-floating">
                                        <input type="text" class="form-control" ng-model="capabillities"
                                               placeholder="input name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Role</label>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group label-floating">
                                        <select class="form-control"
                                                ng-options="orient as orient.name for orient in roles"
                                                ng-model="itemRole"></select>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="form-group">-->
                                <!--<label>Name</label>-->
                                <!--<input type="text" ng-model="name" class="form-control" placeholder="Product Name">-->
                                <!--<label ng-show="nameInvalid" class="control-label alert-message">Product name is not empty</label>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Price Low</label>-->
                                <!--<input type="text" ng-model="priceLow" class="form-control" placeholder="Price Low">-->
                                <!--<label ng-show="priceLowInvalid" class="control-label alert-message">Price Low is not empty</label>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Price Sell</label>-->
                                <!--<input type="text" ng-model="priceSell" class="form-control" placeholder="Price Sell">-->
                                <!--<label ng-show="priceSellInvalid" class="control-label alert-message">Price Sell is not empty</label>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Discount</label>-->
                                <!--<input type="text" ng-model="discount" class="form-control" placeholder="Discount">-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Type</label>-->
                                <!--<input type="text" ng-model="type" class="form-control" placeholder="E.g: Baru, Bekas, etc">-->
                                <!--<label ng-show="typeInvalid" class="control-label alert-message">Type is not empty</label>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Stock</label>-->
                                <!--<input type="input" ng-model="stock" class="form-control" placeholder="Stock">-->
                                <!--<label ng-show="stockInvalid" class="control-label alert-message">Stock is not empty</label>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Volume</label>-->
                                <!--<select class="form-control" ng-options="orient as orient.display for orient in volume" ng-model="itemVolume"></select>-->
                                <!--<label ng-show="volumeInvalid" class="control-label alert-message">Volume is not empty</label>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Weight</label>-->
                                <!--<input type="number" ng-model="weight" class="form-control" placeholder="Weight">-->
                                <!--<label ng-show="weightInvalid" class="control-label alert-message">Weight in grams</label>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<div class="row">-->
                                    <!--<label class="col-sm-2 control-label">Image Default</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input type="text" class="form-control" placeholder="{{images1.name}}" ng-readonly="true">-->
                                        <!--<label ng-show="imageDefaultInvalid" class="control-label alert-message">Image default is not empty</label>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<input id="imagesDefault" type="file" file-model="images1" class="hidden">-->
                                        <!--<label for="imagesDefault" style="width: 100%; text-align: center" class="btn btn-warning"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<label class="col-sm-2 control-label">Image Thumbnail</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input type="text" class="form-control" placeholder="{{images2.name}}" ng-readonly="true">-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<input id="imagesThumbnail1" type="file" file-model="images2" class="hidden">-->
                                        <!--<label for="imagesThumbnail1" style="width: 100%; text-align: center" class="btn btn-warning"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<label class="col-sm-2 control-label">Image Thumbnail</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input type="text" class="form-control" placeholder="{{images3.name}}" ng-readonly="true">-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<input id="imagesThumbnail2" type="file" file-model="images3" class="hidden">-->
                                        <!--<label for="imagesThumbnail2" style="width: 100%; text-align: center" class="btn btn-warning"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<label class="col-sm-2 control-label">Image Thumbnail</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input type="text" class="form-control" placeholder="{{images4.name}}" ng-readonly="true">-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<input id="imagesThumbnail3" type="file" file-model="images4" class="hidden">-->
                                        <!--<label for="imagesThumbnail3" style="width: 100%; text-align: center" class="btn btn-warning"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row">-->
                                    <!--<label class="col-sm-2 control-label">Image Thumbnail</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<input type="text" class="form-control" placeholder="{{images5.name}}" ng-readonly="true">-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<input id="imagesThumbnail4" type="file" file-model="images5" class="hidden">-->
                                        <!--<label for="imagesThumbnail4" style="width: 100%; text-align: center" class="btn btn-warning"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<label>Description</label>-->
                                <!--<textarea ng-model="description" class="form-control" placeholder="Product Description"></textarea>-->
                                <!--<label ng-show="descriptionInvalid" class="control-label alert-message">Description is not empty</label>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                                <!--<div class="row">-->
                                    <!--<label class="col-sm-2 control-label">Category</label>-->
                                    <!--<div class="col-sm-8">-->
                                        <!--<select class="form-control" ng-options="orient as orient.name for orient in categoryConstruct" ng-model="itemCategory"></select>-->
                                        <!--<label ng-show="categoryInvalid" class="control-label alert-message">Category is not empty</label>-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<button style="width: 100%; text-align: center" class="btn btn-primary" ng-click="addCategory()"><i class="fa fa-plus" aria-hidden="true" style="padding: 0px" tooltip="Add Category"></i></button>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="row" style="margin-top: 8px; margin-bottom: 8px" ng-repeat="listCategory in categoryList">-->
                                    <!--<div class="col-sm-8 col-sm-offset-2">-->
                                        <!--<input class="form-control" ng-disabled="true" type="text" ng-model="listCategory.name" />-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-2">-->
                                        <!--<button style="width: 100%; text-align: center" class="btn btn-danger" ng-click="deleteCategory($index)"><i class="fa fa-times" aria-hidden="true" style="padding: 0px" tooltip="Delete Category"></i></button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<label>Status</label>-->
                                <!--<select class="form-control" ng-options="orient as orient.display for orient in status" ng-model="itemStatus"></select>-->
                            <!--</div>-->



                            <button type="reset" ng-click="showModalBack()" class="btn btn-danger">Cancel</button>
                            <button type="submit" ng-click="processSubmit()" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>