<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Create Product
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div role="form">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" ng-model="name" class="form-control" placeholder="Product Name">
                                <label ng-show="nameInvalid" class="control-label alert-message">Product name is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Price Low</label>
                                <input type="text" ng-model="priceLow" class="form-control" placeholder="Price Low">
                                <label ng-show="priceLowInvalid" class="control-label alert-message">Price Low is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Price Sell</label>
                                <input type="text" ng-model="priceSell" class="form-control" placeholder="Price Sell">
                                <label ng-show="priceSellInvalid" class="control-label alert-message">Price Sell is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Discount</label>
                                <input type="text" ng-model="discount" class="form-control" placeholder="Discount">
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <select class="form-control" ng-options="orient as orient.name for orient in type" ng-model="itemType"></select>
                            </div>
                            <div class="form-group">
                                <label>Stock</label>
                                <input type="input" ng-model="stock" class="form-control" placeholder="Stock">
                                <label ng-show="stockInvalid" class="control-label alert-message">Stock is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Volume</label>
                                <select class="form-control" ng-options="orient as orient.display for orient in volume" ng-model="itemVolume"></select>
                                <label ng-show="volumeInvalid" class="control-label alert-message">Volume is not empty</label>
                            </div>
                            <div class="form-group">
                                <label>Weight</label>
                                <input type="number" ng-model="weight" class="form-control" placeholder="Weight">
                                <label ng-show="weightInvalid" class="control-label alert-message">Weight in grams</label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 control-label">Image Default</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="{{images1.name}}" ng-readonly="true">
                                        <label ng-show="imageDefaultInvalid" class="control-label alert-message">Image default is not empty</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input id="imagesDefault" type="file" file-model="images1" class="hidden">
                                        <label for="imagesDefault" style="width: 100%; text-align: center" class="btn btn-warning"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 control-label">Image Thumbnail</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="{{images2.name}}" ng-readonly="true">
                                    </div>
                                    <div class="col-sm-2">
                                        <input id="imagesThumbnail1" type="file" file-model="images2" class="hidden">
                                        <label for="imagesThumbnail1" style="width: 100%; text-align: center" class="btn btn-warning"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 control-label">Image Thumbnail</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="{{images3.name}}" ng-readonly="true">
                                    </div>
                                    <div class="col-sm-2">
                                        <input id="imagesThumbnail2" type="file" file-model="images3" class="hidden">
                                        <label for="imagesThumbnail2" style="width: 100%; text-align: center" class="btn btn-warning"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 control-label">Image Thumbnail</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="{{images4.name}}" ng-readonly="true">
                                    </div>
                                    <div class="col-sm-2">
                                        <input id="imagesThumbnail3" type="file" file-model="images4" class="hidden">
                                        <label for="imagesThumbnail3" style="width: 100%; text-align: center" class="btn btn-warning"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 control-label">Image Thumbnail</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="{{images5.name}}" ng-readonly="true">
                                    </div>
                                    <div class="col-sm-2">
                                        <input id="imagesThumbnail4" type="file" file-model="images5" class="hidden">
                                        <label for="imagesThumbnail4" style="width: 100%; text-align: center" class="btn btn-warning"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea ng-model="description" class="form-control" placeholder="Product Description"></textarea>
                                <label ng-show="descriptionInvalid" class="control-label alert-message">Description is not empty</label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-2 control-label">Category</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-options="orient as orient.name for orient in categoryConstruct" ng-model="itemCategory"></select>
                                        <label ng-show="categoryInvalid" class="control-label alert-message">Category is not empty</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <button style="width: 100%; text-align: center" class="btn btn-primary" ng-click="addCategory()"><i class="fa fa-plus" aria-hidden="true" style="padding: 0px" tooltip="Add Category"></i></button>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 8px; margin-bottom: 8px" ng-repeat="listCategory in categoryList">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <input class="form-control" ng-disabled="true" type="text" ng-model="listCategory.name" />
                                    </div>
                                    <div class="col-sm-2">
                                        <button style="width: 100%; text-align: center" class="btn btn-danger" ng-click="deleteCategory($index)"><i class="fa fa-times" aria-hidden="true" style="padding: 0px" tooltip="Delete Category"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" ng-options="orient as orient.display for orient in status" ng-model="itemStatus"></select>
                            </div>



                            <button type="reset" ng-click="showModalBack()" class="btn btn-danger">Cancel</button>
                            <button type="submit" ng-click="processSubmit()" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>