<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Detail Group Marketing
        </h1>
        <h4>Nama Group: {{data.group_name}}</h4>
        <p>Description: {{data.description}}</p>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-md-12">
        <!--    Hover Rows  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary" ng-click="create()">Create User Marketing</button>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID User</th>
                            <th>Username</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in data.member" ng-click="assignItem(data.id_user_group)" style="cursor: pointer">
                            <td>{{data.id_user}}</td>
                            <td>{{data.username}}</td>
                            <td>{{data.email}}</td>
                            <td>
                                <a class="btn-sm btn-success" href="" ng-click="doUpdate(data.id)" tooltip="Update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                &nbsp;
                                <a class="btn-sm btn-danger" href="" ng-click="doDelete(data.id, data.name)" tooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Hover Rows  -->
    </div>
</div>