


<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Favorite
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--    Hover Rows  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary" ng-click="createProdusen()">Create Produsen</button>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in produsenList">
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <a class="btn-sm btn-success" href="" ng-click="doUpdateProdusen(user.uid)" tooltip="Update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                &nbsp;
                                <a class="btn-sm btn-danger" href="" ng-click="doDeleteProdusen(user.uid, user.username)" tooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Hover Rows  -->
    </div>
</div>
<!-- /. ROW  -->