<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Feedback
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--    Hover Rows  -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID Feedback</th>
                            <th>Title</th>
                            <th>Feedback</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in dataList">
                            <td>{{data.id}}</td>
                            <td>{{data.title_feedback}}</td>
                            <td>
                                <a class="btn btn-success" href="" ng-click="doDetailFeedback(data.id)" tooltip="Reply">Reply Feedback</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Hover Rows  -->
    </div>
</div>
<!-- /. ROW  -->