<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Feedback
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <form class="form-horizontal" ng-submit="processSubmit()">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-8">
                                    <input type="text" placeholder="Title" class="form-control" ng-model="title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Content</label>
                                <div class="col-sm-8">
                                    <textarea rows="3" class="form-control" placeholder="content" ng-model="content"></textarea>
                                    <!--<label ng-show="stockInvalid" class="control-label alert-message">Stock Assign not should be greater than Stock Available</label>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

</div>