<!--<div class="main-panel">-->
    <!--<nav class="navbar navbar-transparent navbar-absolute">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="#">Material Dashboard</a>-->
            <!--</div>-->
            <!--<div class="collapse navbar-collapse">-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li>-->
                        <!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">dashboard</i>-->
                            <!--<p class="hidden-lg hidden-md">Dashboard</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">notifications</i>-->
                            <!--<span class="notification">5</span>-->
                            <!--<p class="hidden-lg hidden-md">Notifications</p>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Mike John responded to your email</a></li>-->
                            <!--<li><a href="#">You have 5 new tasks</a></li>-->
                            <!--<li><a href="#">You're now friend with Andrew</a></li>-->
                            <!--<li><a href="#">Another Notification</a></li>-->
                            <!--<li><a href="#">Another One</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">person</i>-->
                            <!--<p class="hidden-lg hidden-md">Profile</p>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->

                <!--<form class="navbar-form navbar-right" role="search">-->
                    <!--<div class="form-group  is-empty">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                        <!--<span class="material-input"></span>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-white btn-round btn-just-icon">-->
                        <!--<i class="material-icons">search</i><div class="ripple-container"></div>-->
                    <!--</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->

    <!--<div class="content">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
                    <!--<div class="card card-stats">-->
                        <!--<div class="card-header" data-background-color="orange">-->
                            <!--<i class="material-icons">content_copy</i>-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                            <!--<p class="category">Used Space</p>-->
                            <!--<h3 class="title">49/50<small>GB</small></h3>-->
                        <!--</div>-->
                        <!--<div class="card-footer">-->
                            <!--<div class="stats">-->
                                <!--<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
                    <!--<div class="card card-stats">-->
                        <!--<div class="card-header" data-background-color="green">-->
                            <!--<i class="material-icons">store</i>-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                            <!--<p class="category">Revenue</p>-->
                            <!--<h3 class="title">$34,245</h3>-->
                        <!--</div>-->
                        <!--<div class="card-footer">-->
                            <!--<div class="stats">-->
                                <!--<i class="material-icons">date_range</i> Last 24 Hours-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
                    <!--<div class="card card-stats">-->
                        <!--<div class="card-header" data-background-color="red">-->
                            <!--<i class="material-icons">info_outline</i>-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                            <!--<p class="category">Fixed Issues</p>-->
                            <!--<h3 class="title">75</h3>-->
                        <!--</div>-->
                        <!--<div class="card-footer">-->
                            <!--<div class="stats">-->
                                <!--<i class="material-icons">local_offer</i> Tracked from Github-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-3 col-md-6 col-sm-6">-->
                    <!--<div class="card card-stats">-->
                        <!--<div class="card-header" data-background-color="blue">-->
                            <!--<i class="fa fa-twitter"></i>-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                            <!--<p class="category">Followers</p>-->
                            <!--<h3 class="title">+245</h3>-->
                        <!--</div>-->
                        <!--<div class="card-footer">-->
                            <!--<div class="stats">-->
                                <!--<i class="material-icons">update</i> Just Updated-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-md-4">-->
                    <!--<div class="card">-->
                        <!--<div class="card-header card-chart" data-background-color="green">-->
                            <!--<div class="ct-chart" id="dailySalesChart"></div>-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                            <!--<h4 class="title">Daily Sales</h4>-->
                            <!--<p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in today sales.</p>-->
                        <!--</div>-->
                        <!--<div class="card-footer">-->
                            <!--<div class="stats">-->
                                <!--<i class="material-icons">access_time</i> updated 4 minutes ago-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-md-4">-->
                    <!--<div class="card">-->
                        <!--<div class="card-header card-chart" data-background-color="orange">-->
                            <!--<div class="ct-chart" id="emailsSubscriptionChart"></div>-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                            <!--<h4 class="title">Email Subscriptions</h4>-->
                            <!--<p class="category">Last Campaign Performance</p>-->
                        <!--</div>-->
                        <!--<div class="card-footer">-->
                            <!--<div class="stats">-->
                                <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-md-4">-->
                    <!--<div class="card">-->
                        <!--<div class="card-header card-chart" data-background-color="red">-->
                            <!--<div class="ct-chart" id="completedTasksChart"></div>-->
                        <!--</div>-->
                        <!--<div class="card-content">-->
                            <!--<h4 class="title">Completed Tasks</h4>-->
                            <!--<p class="category">Last Campaign Performance</p>-->
                        <!--</div>-->
                        <!--<div class="card-footer">-->
                            <!--<div class="stats">-->
                                <!--<i class="material-icons">access_time</i> campaign sent 2 days ago-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col-lg-6 col-md-12">-->
                    <!--<div class="card card-nav-tabs">-->
                        <!--<div class="card-header" data-background-color="purple">-->
                            <!--<div class="nav-tabs-navigation">-->
                                <!--<div class="nav-tabs-wrapper">-->
                                    <!--<span class="nav-tabs-title">Tasks:</span>-->
                                    <!--<ul class="nav nav-tabs" data-tabs="tabs">-->
                                        <!--<li class="active">-->
                                            <!--<a href="#profile" data-toggle="tab">-->
                                                <!--<i class="material-icons">bug_report</i>-->
                                                <!--Bugs-->
                                                <!--<div class="ripple-container"></div></a>-->
                                        <!--</li>-->
                                        <!--<li class="">-->
                                            <!--<a href="#messages" data-toggle="tab">-->
                                                <!--<i class="material-icons">code</i>-->
                                                <!--Website-->
                                                <!--<div class="ripple-container"></div></a>-->
                                        <!--</li>-->
                                        <!--<li class="">-->
                                            <!--<a href="#settings" data-toggle="tab">-->
                                                <!--<i class="material-icons">cloud</i>-->
                                                <!--Server-->
                                                <!--<div class="ripple-container"></div></a>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="card-content">-->
                            <!--<div class="tab-content">-->
                                <!--<div class="tab-pane active" id="profile">-->
                                    <!--<table class="table">-->
                                        <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td>-->
                                                <!--<div class="checkbox">-->
                                                    <!--<label>-->
                                                        <!--<input type="checkbox" name="optionsCheckboxes" checked>-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td>Sign contract for "What are conference organizers afraid of?"</td>-->
                                            <!--<td class="td-actions text-right">-->
                                                <!--<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>-->
                                                <!--<div class="checkbox">-->
                                                    <!--<label>-->
                                                        <!--<input type="checkbox" name="optionsCheckboxes">-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>-->
                                            <!--<td class="td-actions text-right">-->
                                                <!--<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>-->
                                                <!--<div class="checkbox">-->
                                                    <!--<label>-->
                                                        <!--<input type="checkbox" name="optionsCheckboxes">-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit-->
                                            <!--</td>-->
                                            <!--<td class="td-actions text-right">-->
                                                <!--<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>-->
                                                <!--<div class="checkbox">-->
                                                    <!--<label>-->
                                                        <!--<input type="checkbox" name="optionsCheckboxes" checked>-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td>Create 4 Invisible User Experiences you Never Knew About</td>-->
                                            <!--<td class="td-actions text-right">-->
                                                <!--<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</div>-->
                                <!--<div class="tab-pane" id="messages">-->
                                    <!--<table class="table">-->
                                        <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td>-->
                                                <!--<div class="checkbox">-->
                                                    <!--<label>-->
                                                        <!--<input type="checkbox" name="optionsCheckboxes" checked>-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit-->
                                            <!--</td>-->
                                            <!--<td class="td-actions text-right">-->
                                                <!--<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>-->
                                                <!--<div class="checkbox">-->
                                                    <!--<label>-->
                                                        <!--<input type="checkbox" name="optionsCheckboxes">-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td>Sign contract for "What are conference organizers afraid of?"</td>-->
                                            <!--<td class="td-actions text-right">-->
                                                <!--<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</div>-->
                                <!--<div class="tab-pane" id="settings">-->
                                    <!--<table class="table">-->
                                        <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td>-->
                                                <!--<div class="checkbox">-->
                                                    <!--<label>-->
                                                        <!--<input type="checkbox" name="optionsCheckboxes">-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>-->
                                            <!--<td class="td-actions text-right">-->
                                                <!--<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>-->
                                                <!--<div class="checkbox">-->
                                                    <!--<label>-->
                                                        <!--<input type="checkbox" name="optionsCheckboxes" checked>-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit-->
                                            <!--</td>-->
                                            <!--<td class="td-actions text-right">-->
                                                <!--<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>-->
                                                <!--<div class="checkbox">-->
                                                    <!--<label>-->
                                                        <!--<input type="checkbox" name="optionsCheckboxes">-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</td>-->
                                            <!--<td>Sign contract for "What are conference organizers afraid of?"</td>-->
                                            <!--<td class="td-actions text-right">-->
                                                <!--<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">edit</i>-->
                                                <!--</button>-->
                                                <!--<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">-->
                                                    <!--<i class="material-icons">close</i>-->
                                                <!--</button>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        <!--</tbody>-->
                                    <!--</table>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-lg-6 col-md-12">-->
                    <!--<div class="card">-->
                        <!--<div class="card-header" data-background-color="orange">-->
                            <!--<h4 class="title">Employees Stats</h4>-->
                            <!--<p class="category">New employees on 15th September, 2016</p>-->
                        <!--</div>-->
                        <!--<div class="card-content table-responsive">-->
                            <!--<table class="table table-hover">-->
                                <!--<thead class="text-warning">-->
                                <!--<th>ID</th>-->
                                <!--<th>Name</th>-->
                                <!--<th>Salary</th>-->
                                <!--<th>Country</th>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td>1</td>-->
                                    <!--<td>Dakota Rice</td>-->
                                    <!--<td>$36,738</td>-->
                                    <!--<td>Niger</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>2</td>-->
                                    <!--<td>Minerva Hooper</td>-->
                                    <!--<td>$23,789</td>-->
                                    <!--<td>Curaçao</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>3</td>-->
                                    <!--<td>Sage Rodriguez</td>-->
                                    <!--<td>$56,142</td>-->
                                    <!--<td>Netherlands</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>4</td>-->
                                    <!--<td>Philip Chaney</td>-->
                                    <!--<td>$38,735</td>-->
                                    <!--<td>Korea, South</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<footer class="footer">-->
        <!--<div class="container-fluid">-->
            <!--<nav class="pull-left">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--Home-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--Company-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--Portfolio-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#">-->
                            <!--Blog-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nav>-->
            <!--<p class="copyright pull-right">-->
                 <!--<a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web-->
            <!--</p>-->
        <!--</div>-->
    <!--</footer>-->
<!--</div>-->

<!--<div id="page-wrapper">-->
<!--<div id="page-inner">-->


    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Dashboard <small>Summary of your App</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
    </div>


    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-green green">
                <div class="panel-left pull-left green">
                    <i class="fa fa-eye fa-5x"></i>

                </div>
                <div class="panel-right">
                    <h3>8,457</h3>
                    <strong> Daily Visits</strong>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-left pull-left blue">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>

                <div class="panel-right">
                    <h3>52,160 </h3>
                    <strong> Sales</strong>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-red">
                <div class="panel-left pull-left red">
                    <i class="fa fa fa-comments fa-5x"></i>

                </div>
                <div class="panel-right">
                    <h3>15,823 </h3>
                    <strong> Comments </strong>

                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-brown">
                <div class="panel-left pull-left brown">
                    <i class="fa fa-users fa-5x"></i>

                </div>
                <div class="panel-right">
                    <h3>36,752 </h3>
                    <strong>No. of Visits</strong>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Area Chart
                </div>
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Line Chart
                </div>
                <div class="panel-body">
                    <div id="morris-line-chart"></div>
                </div>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Customers</h4>
                    <div class="easypiechart" id="easypiechart-blue" data-percent="82" ><span class="percent">82%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Sales</h4>
                    <div class="easypiechart" id="easypiechart-orange" data-percent="55" ><span class="percent">55%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>Profits</h4>
                    <div class="easypiechart" id="easypiechart-teal" data-percent="84" ><span class="percent">84%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body easypiechart-panel">
                    <h4>No. of Visits</h4>
                    <div class="easypiechart" id="easypiechart-red" data-percent="46" ><span class="percent">46%</span>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->


    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bar Chart Example
                </div>
                <div class="panel-body">
                    <div id="morris-bar-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Donut Chart Example
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <!-- /. ROW  -->





    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tasks Panel
                </div>
                <div class="panel-body">
                    <div class="list-group">

                        <a href="#" class="list-group-item">
                            <span class="badge">7 minutes ago</span>
                            <i class="fa fa-fw fa-comment"></i> Commented on a post
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">16 minutes ago</span>
                            <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">36 minutes ago</span>
                            <i class="fa fa-fw fa-globe"></i> Invoice 653 has paid
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">1 hour ago</span>
                            <i class="fa fa-fw fa-user"></i> A new user has been added
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">1.23 hour ago</span>
                            <i class="fa fa-fw fa-user"></i> A new user has added
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="badge">yesterday</span>
                            <i class="fa fa-fw fa-globe"></i> Saved the world
                        </a>
                    </div>
                    <div class="text-right">
                        <a href="#">More Tasks <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Responsive Table Example
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>S No.</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Name</th>
                                <th>Email ID.</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>John</td>
                                <td>Doe</td>
                                <td>John15482</td>
                                <td>name@site.com</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Kimsila</td>
                                <td>Marriye</td>
                                <td>Kim1425</td>
                                <td>name@site.com</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Rossye</td>
                                <td>Nermal</td>
                                <td>Rossy1245</td>
                                <td>name@site.com</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Richard</td>
                                <td>Orieal</td>
                                <td>Rich5685</td>
                                <td>name@site.com</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Jacob</td>
                                <td>Hielsar</td>
                                <td>Jac4587</td>
                                <td>name@site.com</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Wrapel</td>
                                <td>Dere</td>
                                <td>Wrap4585</td>
                                <td>name@site.com</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /. ROW  -->


    <!--<footer><p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez</a></p>-->


    <!--</footer>-->
<!--</div>-->
<!--&lt;!&ndash; /. PAGE INNER  &ndash;&gt;-->
<!--</div>-->
