<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- ol class="breadcrumb breadcrumb-custom">
                <li class="active">Matching Result</li>
            </ol> -->
            <ul class="nav nav-pills" style="border-bottom:1px solid #c5c5c5; margin-top: 10px; padding-bottom: 10px; margin-bottom: 10px">
                <li ng-class="{active:isSet(1)}" ><a class="tabs" style="padding-left:15px;" href ng-click="setTab(1)">Resume</a></li>
                <li ng-class="{active:isSet(2)}"><a class="tabs" style="padding-left:15px;"href ng-click="setTab(2)">Resume Tambahan</a></li>
                <!--<li ng-class="{active:isSet(3)}"><a class="tabs" style="padding-left:15px;"href ng-click="setTab(3)">Dokumen Kelengkapan</a></li>-->
            </ul>
            <div ng-show="isSet(1)">
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:18px;">
                                <label >Metode</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" style="padding-left:0px;">
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <select class="form-control" ng-options="method as method.value for method in method" ng-model="itemSearch"></select>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-md-2 col-sm-2 right-form-content" >-->
                                <!--<button ng-click="retrieveAppId()" class="btn button-blue-primary">Retrieve</button>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">

                    <accordion close-others="oneAtATime">
                        <accordion-group is-open="group.isOpen" ng-repeat="documentList in users.documentResumeList">
                            <accordion-heading><i class="glyphicon-plus"></i> {{ documentList.documentDesc }}
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.isOpen, 'glyphicon-chevron-right': !group.isOpen}"></i>
                            </accordion-heading>

                            <!--<canvas-viewer src="../img/bcaf-logo.png" ></canvas-viewer>-->
                            <button ng-click="prevPage()" ng-if="documentList.type=='PDF'">&lt;</button>
                            <button ng-click="nextPage()" ng-if="documentList.type=='PDF'">&gt;</button>
                            <br ng-if="documentList.type=='PDF'">
                            <span ng-if="documentList.type=='PDF'">{{currentPage}}/{{totalPages}}</span>
                            <br ng-if="documentList.type=='PDF'">
                            <br ng-if="documentList.type=='PDF'">
                            <div style="height: 150px; overflow-y:scroll;" ng-if="documentList.type=='PDF'">
                                <pdfviewer ng-src="{{trustSrc(documentList.url)}}" on-page-load='pageLoaded(page,total)' id="viewer"></pdfviewer>
                                <!--{{pdfTag}}-->
                                <!--<ng-bind-html ng-bind-html="pdfTag">-->

                                <!--</ng-bind-html>{{pdfTag}}-->
                            </div>
                            <div style="height: 150px; overflow-y:scroll;" ng-if="documentList.type=='IMAGE'">
                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:40px; padding:20px; text-align: center;">
                                    <img ng-src="{{trustSrc(documentList.url)}}" ng-class="classRotate">
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button class="btn btn-primary" ng-click="doRotate('min')"><i class="fa fa-reply" aria-hidden="true"></i></button>
                                    <button class="btn btn-primary" ng-click="doRotate()"><i class="fa fa-share" aria-hidden="true"></i></button>
                                </div>
                            </div>

                        </accordion-group>

                    </accordion>

                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{users.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid head-section-tab" ng-if="itemSearch.keyName=='input'">
                    <div style="float:left;"><h5>Modal</h5></div>
                    <div style="float:right;"><button class="btn button-blue-primary" ng-click="addModal(Modal)">Add</button></div>
                </div>
                <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Modal</th>
                            <th class="table-header-padding">Nominal (Rp)</th>
                            <th class="table-header-padding">Jumlah Satuan (Dalam Lembar)</th>
                            <th class="table-header-padding">Verifikasi</th>
                            <th class="table-header-padding">Keterangan</th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr ng-repeat="stock in users.stockList">
                                <td style="padding-left:0px;">
                                    <input type="text" class="form-control form-custom" ng-model="stock.name" placeholder="Modal" value="" >
                                </td>
                                <td><input type="text" class="form-control form-custom" ng-model="stock.nominal" placeholder="Nominal" value="" ></td>
                                <td><input type="text" class="form-control form-custom" ng-model="stock.stockQuantity" placeholder="Jumlah Satuan" value="" ></td>
                                <td style="width: 185px">
                                    <label class="radio-inline">
                                        <input type="radio" name="stock.id" ng-value=true ng-selected="stock.verified" ng-disabled="true"> OK
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="stock.id" ng-value=false ng-selected="stock.verified" ng-disabled="true"> Not OK
                                    </label>

                                </td>
                                <td class="table-header-padding">{{stock.verifiedDescription}}</td>
                                <td><button href="" ng-click="doDeleteModal($index)" class="form-control form-custom icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                            </tr>
                            </tbody>
                    </table>
                </div>
                <div class="container-fluid head-section-tab"  ng-if="itemSearch.keyName=='input'">
                    
                    <div style="float:left;"><h5>Pemegang Saham</h5></div>
                    <div style="float:right;"><button class="btn button-blue-primary" ng-click="addPemegangSaham(PemegangSaham)">Add</button></div>
                </div>
                <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Nama Pemegang Saham</th>
                            <th class="table-header-padding">Jumlah Saham</th>
                            <th class="table-header-padding">Nominal Saham (Rp)</th>
                            <th class="table-header-padding">Verifikasi</th>
                            <th class="table-header-padding">Keterangan</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stockHolder in users.stockHolderList">
                            <td style="padding-left:0px;">
                                    <input type="text" class="form-control form-custom" ng-model="stockHolder.name" placeholder="Nama Pemegang Saham" value="" >
                            </td>
                            <td><input type="text" class="form-control form-custom" ng-model="stockHolder.stockQuantity" placeholder="Jumlah Saham" value="" ></td>
                            <td><input type="text" class="form-control form-custom" ng-model="stockHolder.stockNominal" placeholder="Nominal Saham" value="" ></td>
                            <td style="width: 185px">
                                <label class="radio-inline">
                                    <input type="radio" name="stock.id" ng-value=true ng-selected="stock.verified" ng-disabled="true"> OK
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="stock.id" ng-value=false ng-selected="stock.verified" ng-disabled="true"> Not OK
                                </label>

                            </td>
                            <td class="table-header-padding">{{stock.verifiedDescription}}</td>
                            <td><button href="" ng-click="doDeletePemegangSaham($index)" class="form-control form-custom icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{users.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
                    <div class="form-group row clearfix" >
                        <div class="col-md-2 col-sm-2 col-xs-2" style="margin-bottom:10px;"><button class="btn cancel-button" ng-click="goToList()">Cancel</button></div>
                        <div class="col-md-2 col-sm-2 col-xs-2" style="margin-bottom:10px;"><button class="btn submit-button" ng-click="save()">Save</button></div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='upload'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Resume</label>
                            </div><div class="col-md-6 col-sm-6 col-xs-6 label-desc" style="padding-left:0px;">
                                <input type="text" class="form-control form-custom" placeholder={{users.file.name}} ng-readonly="true">
                            </div>
                            <div class="col-md-2 col-sm-2 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12" style="padding-left:0px;">
                                        <!-- <input type="text" class="form-control form-custom" placeholder={{file.name}} ng-readonly="true"> -->
                                        <input id="upload" type="file" file-model="users.file" class="hidden"/><label for="upload" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label>
                                        <!-- <a ng-if="users.urlResume != undefined" ng-href="{{users.urlResume}}"> <i class="fa fa-cloud-download" aria-hidden="true"></i></a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-md-offset-4" style="padding-left:0px;">
                                <button ng-click="save()" class="btn button-blue-primary">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="isSet(2)">
                <accordion close-others="oneAtATime">
                    <accordion-group is-open="group.isOpen" ng-repeat="documentList in users.documentAdditionalResumeList">
                        <accordion-heading><i class="glyphicon-plus"></i> {{ documentList.documentDesc }}
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': group.isOpen, 'glyphicon-chevron-right': !group.isOpen}"></i>
                        </accordion-heading>

                        <!--<canvas-viewer src="../img/bcaf-logo.png" ></canvas-viewer>-->
                        <button ng-click="prevPage()" ng-if="documentList.type=='PDF'">&lt;</button>
                        <button ng-click="nextPage()" ng-if="documentList.type=='PDF'">&gt;</button>
                        <br ng-if="documentList.type=='PDF'">
                        <span ng-if="documentList.type=='PDF'">{{currentPage}}/{{totalPages}}</span>
                        <br ng-if="documentList.type=='PDF'">
                        <div style="height: 150px; overflow-y:scroll;" ng-if="documentList.type=='PDF'">
                            <pdfviewer ng-src="{{trustSrc(documentList.url)}}" on-page-load='pageLoaded(page,total)' id="viewer"></pdfviewer>
                            <!--{{pdfTag}}-->
                            <!--<ng-bind-html ng-bind-html="pdfTag">-->

                            <!--</ng-bind-html>{{pdfTag}}-->
                        </div>
                        <div style="height: 150px; overflow-y:scroll;" ng-if="documentList.type=='IMAGE'">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:40px; padding:20px; text-align: center;">
                                <img ng-src="{{trustSrc(documentList.url)}}" ng-class="classRotate">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button class="btn btn-primary" ng-click="doRotate('min')"><i class="fa fa-reply" aria-hidden="true"></i></button>
                                <button class="btn btn-primary" ng-click="doRotate()"><i class="fa fa-share" aria-hidden="true"></i></button>
                            </div>

                            <!--<ng-croppie  src="inputImage"-->
                                          <!--ng-model='outputImage'-->
                                          <!--update='onUpdate'-->
                                          <!--boundry="{w: 200, h: 200}"-->
                                          <!--viewport="{w: -1, h:-1}"-->
                                          <!--mousezoom="true"-->
                                          <!--type="square"-->
                                          <!--ng-if="group.type=='IMAGE'" >-->
                            <!--</ng-croppie>-->
                        </div>

                    </accordion-group>

                </accordion>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama Badan Usaha</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.companyName" placeholder="APP ID" value="" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Kedudukan</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.position" placeholder="Kedudukan">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Kategori</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                <div class="col-sm-6" ng-repeat="privilegeList in users.categoryList">
                                
                                    <input type="radio" style="margin-left: 20px;" ng-model="privilegeList.value" name="{{privilegeList.name}}" ng-value=true ng-change="changeValue(privilegeList.id,$index)" ng-selected="privilegeList.value"> {{privilegeList.description}}
                                </div>
                                </div>
                            </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Jenis Penanaman Modal</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                                <div class="col-sm-6" ng-repeat="privilegeList in users.stockTypeList">
                                
                                    <input type="radio" style="margin-left: 20px;" ng-model="privilegeList.value" name="{{privilegeList.name}}" ng-value=true ng-change="changeValuePenanamanModal(privilegeList.id,$index)" ng-selected="privilegeList.value"> {{privilegeList.description}}
                                </div>
                                </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                    </div>

                </div>

                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Alamat</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.address" placeholder="Alamat">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid head-section-tab" style="padding-left:0px">
                    <div style="float:left;"><h5>Anggaran Dasar dan Perubahan</h5></div>
                    <div style="float:right;"><button class="btn button-blue-primary" ng-click="addAnggaran(Anggaran)">Add</button></div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="table-responsive" style="width: 100%; overflow-x: scroll;">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="padding-left:0px; width: 185px" class="table-header-padding">No Akta</th>
                                <th style="padding-left:0px; width: 185px" class="table-header-padding">Tanggal Akta</th>
                                <th style="width: 185px" class="table-header-padding">Notaris</th>
                                <th class="table-header-padding">Perihal</th>
                                <th class="table-header-padding">Nomor Pengesahan</th>
                                <th class="table-header-padding">Tanggal Pengesahan</th>
                                <th class="table-header-padding">Verifikasi</th>
                                <th class="table-header-padding">Keterangan</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="stock in users.articleAssociationList">
                                <td style="padding-left:0px; width: 140px">
                                    <input type="text" class="form-control form-custom" ng-model="stock.certificateNumber" placeholder="No Akta" value="" >
                                </td>
                                <td ><p class="input-group">
                                    <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                           ng-model="stock.certificateDate"
                                           is-open="awal.opened" datepicker-options="dateOptions" placeholder="Tanggal Akta" ng-required="true"
                                           close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openAwal($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>

                                </td>
                                <td><input type="text" class="form-control form-custom" ng-model="stock.notary" placeholder="Notaris" value="" ></td>
                                <td style="width: 185px"><input type="text" class="form-control form-custom" ng-model="stock.about" placeholder="Perihal" value="" ></td>
                                <td style="width: 185px"><input type="text" class="form-control form-custom" ng-model="stock.approvalNumber" placeholder="No Pengesahan" value="" ></td>
                                <td style="width: 185px"><p class="input-group">
                                    <input name="dateAkhir" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                           ng-model="stock.approvalDate"
                                           is-open="akhir.opened" datepicker-options="dateOptions" placeholder="Tanggal Pengesahan" ng-required="true"
                                           close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openAkhir($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p></td>
                                <td style="width: 185px">
                                    <label class="radio-inline">
                                        <input type="radio" name="stock.id" id="inlineRadio1" ng-value=true ng-selected="stock.verified" ng-disabled="true"> OK
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="stock.id" id="inlineRadio2" ng-value=false ng-selected="stock.verified" ng-disabled="true"> Not OK
                                    </label>

                                </td>
                                <td class="table-header-padding">{{stock.verifiedDescription}}</td>
                                <td><button href="" ng-click="doDeleteAnggaran($index)" class="form-control form-custom icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="container-fluid head-section-tab" style="padding-left:0px">
                    <div style="float:left;"><h5>Pengurus</h5></div>
                    <div style="float:right;"><button class="btn button-blue-primary" ng-click="addPengurus(Pengurus)">Add</button></div>
                </div>
                <div class="container-fluid" style="padding-left:0px" >
                    <table class="table table-hover">
                        <thead>
                        <tr>
                    
                            <th style="padding-left:0px;" class="table-header-padding">Nama</th>
                            <th class="table-header-padding">Jabatan</th>
                            <th class="table-header-padding">As Signer</th>
                            <th class="table-header-padding">As Approver</th>
                            <th class="table-header-padding">Masa Jabatan</th>
                            <th class="table-header-padding">Verifikasi</th>
                            <th class="table-header-padding">Keterangan</th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr ng-repeat="stock in users.directorList">
                                <td style="padding-left:0px;">
                                    <input type="text" class="form-control form-custom" ng-model="stock.name" placeholder="Nama" value="" >
                                </td>
                                <td >
                                    <input type="text" class="form-control form-custom" ng-model="stock.position" placeholder="Jabatan" value="">
                                </td>
                                <td >
                                    <!-- <input type="checkbox" class="form-control form-custom" ng-model="stock.signer" ng-checked=""> -->
                                    <input type="checkbox" ng-model="stock.signer" >
                                </td>
                                <td >
                                    <!-- <input type="checkbox" class="form-control form-custom" ng-model="stock.signer" ng-checked=""> -->
                                    <input type="checkbox" ng-model="stock.approver" >
                                </td>
                                <td><p class="input-group">
                            <input name="startDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                   ng-model="stock.startDate"
                                   is-open="start.opened" datepicker-options="dateOptions" placeholder="Awal Jabatan" ng-required="true"
                                   close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openStart($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                       
                            <input name="endDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                   ng-model="stock.endDate"
                                   is-open="end.opened" datepicker-options="dateOptions" placeholder="Masa Jabatan" ng-required="true"
                                   close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </p></td>

                                <td style="width: 185px">
                                    <label class="radio-inline">
                                        <input type="radio" name="stock.id" ng-value=true ng-selected="stock.verified" ng-disabled="true"> OK
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="stock.id" ng-value=false ng-selected="stock.verified" ng-disabled="true"> Not OK
                                    </label>

                                </td>
                                <td class="table-header-padding">{{stock.verifiedDescription}}</td>
                                <td><button href="" ng-click="doDeletePengurus($index)" class="form-control form-custom icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                            </tr>
                            </tbody>
                    </table>
                </div>
                <div class="container-fluid head-section-tab" style="padding-left:0px">
                    <div style="float:left;"><h5>Data Pendukung</h5></div>
                    <div style="float:right;"><button class="btn button-blue-primary" ng-click="addDataPendukung(DataPendukung)">Add</button></div>
                </div>
                <div class="container-fluid" style="padding-left:0px" >
                    <table class="table table-hover">
                        <thead>
                        <tr>
                    
                            <th style="padding-left:0px;" class="table-header-padding">Dokumen</th>
                            <th class="table-header-padding">No Dokumen</th>
                            <th class="table-header-padding">Tanggal</th>
                            <th class="table-header-padding">Masa Berlaku</th>
                            <th class="table-header-padding">Verifikasi</th>
                            <th class="table-header-padding">Keterangan</th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr ng-repeat="stock in users.additionalDataList">
                                <td style="padding-left:0px;">
                                    <input type="text" class="form-control form-custom" ng-model="stock.documentName" placeholder="Nama Dokumen" value="" >
                                </td>
                                <td >
                                    <input type="text" class="form-control form-custom" ng-model="stock.documentNumber" placeholder="No Dokumen" value="">
                                </td>
                                <td><p class="input-group">
                            <input name="documentDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                   ng-model="stock.documentDate"
                                   is-open="documentDate.opened" datepicker-options="dateOptions" placeholder="Tanggal" ng-required="true"
                                   close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDocumentDate($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span></p></td>
                                    <td><p class="input-group">
                       
                            <input name="documentPeriod" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                   ng-model="stock.documentPeriod"
                                   is-open="documentPeriod.opened" datepicker-options="dateOptions" placeholder="Masa Berlaku" ng-required="true"
                                   close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openDocumentPeriod($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </p></td>
                                <td style="width: 185px">
                                    <label class="radio-inline">
                                        <input type="radio" name="stock.id" ng-value=true ng-selected="stock.verified" ng-disabled="true"> OK
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="stock.id" ng-value=false ng-selected="stock.verified" ng-disabled="true"> Not OK
                                    </label>

                                </td>
                                <td class="table-header-padding">{{stock.verifiedDescription}}</td>
                                
                                <td><button href="" ng-click="doDeleteDataPendukung($index)" class="form-control form-custom icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                            </tr>
                            </tbody>
                    </table>
                </div>
            
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Wewenang Direksi / Tugas Pengurus</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <!-- <input type="text" class="form-control form-custom" ng-model="users.directorJob" placeholder="Wewenang Direksi / Tugas Pengurus"> -->
                                <textarea type="text" class="form-control form-custom" ng-model="users.directorJob" placeholder="Wewenang Direksi / Tugas Pengurus" required="true"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Keterangan</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <!-- <input type="text" class="form-control form-custom" ng-model="users.description" placeholder="Keterangan"> -->
                                <textarea type="text" class="form-control form-custom" ng-model="users.description" placeholder="Keterangan" required="true"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="container-fluid" style="padding-left:0px;">
                        <div class="col-md-6 col-sm-6 col-xs-offset-4 content-desc" >

                            <div class="form-group row clearfix" >
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;"><button class="btn submit-button" ng-click="save()">Save</button></div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn cancel-button" ng-click="goToList()">Cancel</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn submit-button" ng-click="submit()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div ng-show="isSet(3)">-->
                <!--<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">-->
                <!--<div class="container-fluid" style="padding-left:0px;">-->
                    <!---->
                <!--<table class="table table-hover">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th style="padding-left:0px;" class="table-header-padding">Data Lama</th>-->
                        <!--<th class="table-header-padding" style="text-align:center;">Download</th>-->
                        <!--&lt;!&ndash; <th class="table-header-padding">Action</th> &ndash;&gt;-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="user in users.documentList">-->
                        <!--<td style="padding-left:0px;" >{{ user.documentCode }}</td>-->
                        <!---->
                        <!---->
                        <!--<td style="text-align:center;"><a class="btn-sm btn-danger"  ng-if="user.url != undefined" ng-href="{{user.url}}"> <i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>-->
                        <!---->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->

                    <!--&lt;!&ndash;<div ng-repeat="fileInput in listDocument">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="file" file-input="{{'myFile' + $index}}"/>&ndash;&gt;-->
                        <!--&lt;!&ndash;<button ng-click="uploadFileTest()">upload me</button>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                    <!--&lt;!&ndash; <div class="container-fluid" style="padding-left:0px;">-->
                        <!--<div class="col-md-6 col-sm-6 col-xs-offset-4 content-desc" >-->

                            <!--<div class="form-group row clearfix" >-->
                            <!--<div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;"><button class="btn submit-button" ng-click="lovBranch()">Add Other File</button></div>-->
                                <!--<div class="col-md-6 col-sm-6 col-xs-6">-->
                                    <!--<button class="btn cancel-button" ng-click="pending()">Pending</button>-->
                                <!--</div>-->
                                <!--<div class="col-md-6 col-sm-6 col-xs-6">-->
                                    <!--<button class="btn submit-button" ng-click="process()">Process</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div> &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            
        </div>
    </div>

     <!--<script>-->

         <!--var basic = $('#main-cropper').croppie({-->
             <!--viewport: { width: 250, height: 250 },-->
             <!--boundary: { width: 300, height: 300 },-->
             <!--showZoomer: false,-->
             <!--url: 'http://lorempixel.com/500/400/'-->
         <!--});-->

         <!--function readFile(input) {-->
             <!--if (input.files && input.files[0]) {-->
                 <!--var reader = new FileReader();-->

                 <!--reader.onload = function (e) {-->
                     <!--$('#main-cropper').croppie('bind', {-->
                         <!--url: e.target.result-->
                     <!--});-->
                     <!--$('.actionDone').toggle();-->
                     <!--$('.actionUpload').toggle();-->
                 <!--}-->

                 <!--reader.readAsDataURL(input.files[0]);-->
             <!--}-->
         <!--}-->

         <!--$('.actionUpload input').on('change', function () { readFile(this); });-->
         <!--$('.actionDone').on('click', function(){-->
             <!--$('.actionDone').toggle();-->
             <!--$('.actionUpload').toggle();-->
         <!--})-->

     <!--</script>-->