<div class="row">
    <div class="col-lg-12 page-header-section">
        <!--<form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">-->
            <!--<div class="form-group col-md-10 left-header-content">-->
                <!--<div class="col-md-2 head-label">-->
                    <!--<h5>Search By</h5>-->
                <!--</div>-->
                <!--<div class="col-md-2 head-label">-->
                    <!--<select class="form-control" ng-options="search as search.value for search in search" ng-model="itemSearch"></select>-->
                <!--</div>-->
                <!--<div class="col-md-6" style="padding-left: 25px">-->
                    <!--<input type="text" class="form-control form-custom field-search" placeholder="Input Text" ng-model="searchValue">-->
                <!--</div>-->
                <!--<div class="col-md-1 container-btn-search">-->
                    <!--<div class="input-group">-->
                        <!--<button ng-click="doSearch(itemSearch,searchValue)" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; -->
            <!--<div class="form-group col-md-2">-->
                <!--<button ng-click="createUser()" class="btn button-blue-primary">Tambah User</button>-->
            <!--</div> &ndash;&gt;-->
        <!--</form>-->
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="padding-left:0px;" class="table-header-padding">APP ID</th>
                    <th class="table-header-padding">Nama Badan Usaha</th>
                    <!--<th class="table-header-padding">No NPWP</th>-->
                    <th class="table-header-padding">Branch</th>
                    <th class="table-header-padding">Nama MO</th>
                    <th class="table-header-padding">Last Procced</th>
                    <th class="table-header-padding">Keterangan</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="listRequestResume in listRequestResumes" ng-if="!listRequestResume.cancel" style="cursor: pointer" ng-click="goToDetail(listRequestResume.id)">
                    <td style="padding-left:0px;">{{listRequestResume.appId}}</td>
                    <td>{{listRequestResume.companyName}}</td>
                    <!--<td>{{listRequestResume.npwp}}</td>-->
                    <td>{{listRequestResume.branch}}</td>
                    <td>{{listRequestResume.marketingOfficer}}</td>
                    <td>{{listRequestResume.lastProceed | date: 'dd MMMM yyyy HH:mm:ss'}}</td>
                    <td>Update</td>
                    <!-- <td style="text-align: center">
                    <a href="" ng-click="doCancelRequest(listRequestResume.id,listRequestResume.version)" class="icon-to-cancel" tooltip="Hapus"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td> -->
                </tr>
                <tr ng-repeat="listRequestResume in listRequestResumes" ng-if="listRequestResume.cancel" style="cursor: not-allowed">
                    <td style="padding-left:0px;">{{listRequestResume.appId}}</td>
                    <td>{{listRequestResume.companyName}}</td>
                    <td>{{listRequestResume.npwp}}</td>
                    <td>{{listRequestResume.branch}}</td>
                    <td>{{listRequestResume.marketingOfficer}}</td>
                    <td>{{listRequestResume.lastProceed | date: 'dd MMMM yyyy HH:mm:ss'}}</td>
                    <td>Update</td>
                    <!-- <td style="text-align: center">
                    <a href="" ng-click="doCancelRequest(listRequestResume.id,listRequestResume.version)" class="icon-to-cancel" tooltip="Hapus"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td> -->
                </tr>

            </tbody>
        </table>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>