<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-md-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-5 head-label">
                    <p class="input-group">
                            <input name="startDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                   ng-model="search.startDate"
                                   is-open="start.opened" datepicker-options="dateOptions" placeholder="Start Date" ng-required="true"
                                   close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openStart($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                       
                            <input name="endDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                   ng-model="search.endDate"
                                   is-open="end.opened" datepicker-options="dateOptions" placeholder="End Date" ng-required="true"
                                   close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </p>
                </div>
                <div class="col-md-1 container-btn-search">
                    <div class="input-group">
                        <button ng-click="doSearch(search)" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
<!-- /.row -->
<div class="row" ng-show="listRequestResumes != undefined">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="padding-left:0px;" class="table-header-padding"><input type="checkbox" ng-model="document" ng-click="checkedAll()"></th>
                <th class="table-header-padding">Notaris</th>
                <th class="table-header-padding" style="text-align: left">Resume ID</th>
                <th class="table-header-padding" style="text-align: left">No. NPWP</th>
                <th class="table-header-padding" style="text-align: left">Fee</th>
                <th class="table-header-padding" style="text-align: left">Tgl Order</th>
                <th class="table-header-padding" style="text-align: left">Tgl Receive</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="documentList in listRequestResumes.resumeInvoiceList">
                <td style="padding-left:0px;"><input type="checkbox" ng-model="documentList.value" ng-change="value(documentList.value,documentList,$index)"></td>
                <td>
                    {{documentList.notary}}
                </td>
                <td style="text-align: left">
                    {{documentList.resumeId}}
                </td>
                <td style="text-align: left">
                    {{documentList.npwp}}
                </td>
                <td style="text-align: left">
                    {{documentList.fee}}
                </td>
                <td style="text-align: left">
                    {{documentList.receiveDate | date: "dd MMMM yyyy"}}
                </td>
                <td style="text-align: left">
                    {{documentList.approveDate | date: "dd MMMM yyyy"}}
                </td>
            </tr>
            </tbody>
        </table>
        <!-- <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div> -->
    </div>
</div>
<div class="row" ng-show="listRequestResumes != undefined">
    <div class="container-fluid description-banner-detail-billboard page-header-section">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >No Invoice</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="input.invoiceNumber" placeholder="APP ID" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Total Data</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="totalData" placeholder="Nama Badan" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Total Fee</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" value="" ng-model="totalFee" ng-readonly="true" ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div>
<div class="row" ng-show="listRequestResumes != undefined">
    <div class="container-fluid description-banner-detail-billboard page-header-section">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Bank</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listRequestResumes.bank" placeholder="APP ID" value="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >No Account</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listRequestResumes.accountNumber" placeholder="Nama Badan" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Bank Branch</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listRequestResumes.bankBranch" value="" ng-readonly="true" ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Account Name</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listRequestResumes.accountName" value="" ng-readonly="true" ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="container-fluid" style="padding-left:0px;">
                        <div class="col-md-6 col-sm-6 col-xs-offset-4 content-desc" >

                            <div class="form-group row clearfix" >
                                <!-- <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn cancel-button" ng-click="goToList()">Cancel</button>
                                </div> -->
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn submit-button" ng-click="submit()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>