<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 page-header-section">
        <form class="form-inline col-md-12" ng-submit="findValue(search)" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-sm-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-sm-6" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <input type="text" class="form-control form-custom field-search margin10" placeholder="Nama Badan Usaha" ng-model="name">
                </div>
                <div class="col-sm-6 col-sm-offset-2" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <input type="text" class="form-control form-custom field-search margin10" placeholder="NPWP" ng-model="npwp">
                </div>
                <div class="col-sm-6 col-sm-offset-2" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <input type="text" class="form-control form-custom field-search margin10" placeholder="APP ID" ng-model="appId">
                </div>
                <div class="col-sm-6 col-sm-offset-2" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <button ng-click="doSearch()" class="btn button-blue-primary margin10">Search</button>
                </div>

                <!--<div class="col-md-6 no-paddingleft">
                    <input type="text" class="form-control form-custom field-search margin10" placeholder="Nama Badan Usaha" ng-model="name" ng-show="!usernameExist">
                    <input type="text" class="form-control form-custom field-search margin10" placeholder="APP ID" ng-model="appId" ng-show="!usernameExist">
                    <input type="text" class="form-control form-custom field-search margin10" placeholder="Branch" ng-model="branch" ng-show="!usernameExist">
                    <input type="text" class="form-control form-custom field-search margin10" placeholder="Status" ng-model="status" ng-show="!usernameExist">
                    <input type="text" class="form-control form-custom field-search margin10" placeholder="Cabang Central" ng-model="branchCentral" ng-show="!usernameExist">
                    <button ng-click="doSearch()" class="btn button-blue-primary margin10">Search</button>
                </div>-->
                <!--<div class="col-md-1 container-btn-search">
                    <div class="input-group"><br><br><br><br>
                        <button ng-click="lovBranch(branchCentral)" style="margin-top:11px;" class="btn button-search-sm margin10"><i class="fa fa-search" aria-hidden="true"></i></button><br>

                        <button ng-click="lovBranchCentral()" style="margin-top:45px;" class="btn button-search-sm margin10"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>-->
            </div>
            <div class="form-group col-md-2">
                <button ng-click="exportDataExcel()" style="background:green;" class="btn button-blue-primary"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                <button ng-click="exportDataPdf()" style="background:red;" class="btn button-blue-primary"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <div id="exportable">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="padding-left:0px;" class="table-header-padding">APP ID</th>
                        <th class="table-header-padding">Resume ID</th>
                        <th class="table-header-padding">Masa Berlaku</th>
                        <th class="table-header-padding">Nama Badan Usaha</th>
                        <th class="table-header-padding">No NPWP</th>
                        <th class="table-header-padding">Branch</th>
                        <th class="table-header-padding">No MO</th>
                        <th class="table-header-padding">Status</th>
                        <th class="table-header-padding">Last Activity</th>
                        <th class="table-header-padding">Last Proceed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="notary in listDocument" ng-click="getDetail(notary.status)">
                        <td style="padding-left:0px;">{{ notary.appId}}</td>
                        <td>{{ notary.resumeId }}</td>
                        <td>{{ notary.effectivePeriod | date : 'dd-MMM-yyyy'}}</td>
                        <td>{{ notary.companyName }}</td>
                        <td>{{ notary.npwp }}</td>
                        <td>{{ notary.branch }}</td>
                        <td>{{ notary.marketingOfficer }}</td>
                        <td>{{ notary.status }}</td>
                        <td>{{ notary.activity }}</td>
                        <td>{{ notary.lastProceed | date : 'dd-MMM-yyyy'}}</td>
                        <!--  <td>
                    <a href="" ng-click="doUpdateParameterNotary(notary.id)" class="icon-to-edit" tooltip="Ubah"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    &nbsp; &nbsp;
                    <a href="" ng-click="doDeleteParameterNotary(notary.id, notary.name,notary.version)" class="icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td> -->
                    </tr>
                    <!-- <tr ng-click="getDetail('cancel')">
                <td style="padding-left:0px;">123123</td>
                <td>123456789</td>
                <td>11-Nov-15</td>
                <td>PT Berkah Utama</td>
                <td>01234567890123</td>
                <td>Arteri</td>
                <td>Agus</td>
                <td>In Proggress</td>
                <td>Upload Dokumen</td>
                <td>11-Nov-15 10:10:15</td>
            </tr>
            <tr ng-click="getDetail('Done','0987654321-001')">
                <td style="padding-left:0px;">123123</td>
                <td>123456789</td>
                <td>11-Nov-15</td>
                <td>PT Berkah Utama</td>
                <td>01234567890123</td>
                <td>Arteri</td>
                <td>Agus</td>
                <td>Done</td>
                <td>Upload Dokumen</td>
                <td>11-Nov-15 10:10:15</td>
            </tr>
            <tr ng-click="getDetail('Reject')">
                <td style="padding-left:0px;">123123</td>
                <td>123456789</td>
                <td>11-Nov-15</td>
                <td>PT Berkah Utama</td>
                <td>01234567890123</td>
                <td>Arteri</td>
                <td>Agus</td>
                <td>Reject</td>
                <td>Upload Dokumen</td>
                <td>11-Nov-15 10:10:15</td>
            </tr>
            <tr ng-click="getDetail('Pending')">
                <td style="padding-left:0px;">123123</td>
                <td>123456789</td>
                <td>11-Nov-15</td>
                <td>PT Berkah Utama</td>
                <td>01234567890123</td>
                <td>Arteri</td>
                <td>Agus</td>
                <td>Pending</td>
                <td>Upload Dokumen</td>
                <td>11-Nov-15 10:10:15</td>
            </tr>
            <tr ng-click="getDetail('Cancel')">
                <td style="padding-left:0px;">123123</td>
                <td>123456789</td>
                <td>11-Nov-15</td>
                <td>PT Berkah Utama</td>
                <td>01234567890123</td>
                <td>Arteri</td>
                <td>Agus</td>
                <td>Cancel</td>
                <td>Upload Dokumen</td>
                <td>11-Nov-15 10:10:15</td>
            </tr> -->
                </tbody>
            </table>
        </div>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>
<script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script>