<div class="row">
<div class="container-fluid description-banner-detail-billboard">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <!-- ol class="breadcrumb breadcrumb-custom">
      <li class="active">Matching Result</li>
      </ol> -->
   <ul class="nav nav-pills" style="border-bottom:1px solid #c5c5c5; margin-top: 10px; padding-bottom: 10px; margin-bottom: 10px">
      <li ng-class="{active:isSet(1)}" ><a class="tabs" style="padding-left:15px;" href ng-click="setTab(1)">Resume</a></li>
      <li ng-class="{active:isSet(2)}"><a class="tabs" style="padding-left:15px;"href ng-click="setTab(2)">Resume Tambahan</a></li>
      <li ng-class="{active:isSet(3)}"><a class="tabs" style="padding-left:15px;"href ng-click="setTab(3)">Dokumen Kelengkapan</a></li>
   </ul>
   <div ng-show="isSet(1)">
      <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
         <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
            <div class="container-fluid" style="padding-left:0px;">
               <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:18px;">
                  <label >Metode</label>
               </div>
               <div class="col-md-6 col-sm-6 content-desc" style="padding-left:0px;">
                  <div class="form-group row clearfix" >
                     <div class="col-sm-12">
                        <select class="form-control" ng-options="method as method.value for method in method" ng-model="itemSearch"></select>
                     </div>
                  </div>
               </div>
               <div class="col-md-2 col-sm-2 right-form-content" >
                  <button ng-click="retrieveAppId()" class="btn button-blue-primary">Retrieve</button>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
         <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
            <div class="container-fluid" style="padding-left:0px;">
               <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                  <label >Nama Badan Usaha</label>
               </div>
               <div class="col-md-6 col-sm-6 content-desc" >
                  <div class="form-group row clearfix" >
                     <div class="col-sm-12">
                        <p>{{users.companyName}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid head-section-tab" ng-if="itemSearch.keyName=='input'">
         <div style="float:left;">
            <h5>Modal</h5>
         </div>
      </div>
      <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th style="padding-left:0px;" class="table-header-padding">Modal</th>
                  <th class="table-header-padding">Nominal (Rp)</th>
                  <th class="table-header-padding">Jumlah Satuan (Dalam Lembar)</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="stock in users.stockList">
                  <td style="padding-left:0px;">
                     {{stock.name}}
                  </td>
                  <td>{{stock.nominal}}</td>
                  <td>{{stock.stockQuantity}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="container-fluid head-section-tab"  ng-if="itemSearch.keyName=='input'">
         <div style="float:left;">
            <h5>Pemegang Saham</h5>
         </div>
      </div>
      <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th style="padding-left:0px;" class="table-header-padding">Nama Pemegang Saham</th>
                  <th class="table-header-padding">Jumlah Saham</th>
                  <th class="table-header-padding">Nominal Saham (Rp)</th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="stockHolder in users.stockHolderList">
                  <td style="padding-left:0px;">
                     {{stockHolder.name}}
                  </td>
                  <td>{{stockHolder.stockQuantity}}</td>
                  <td>{{stockHolder.stockNominal}}</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
         <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
            <div class="container-fluid" style="padding-left:0px;">
               <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                  <label >Nama Badan Usaha</label>
               </div>
               <div class="col-md-6 col-sm-6 content-desc" >
                  <div class="form-group row clearfix" >
                     <div class="col-sm-12">
                        <p>{{users.companyName}}</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='upload'">
         <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
            <div class="container-fluid" style="padding-left:0px;">
               <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                  <label >Resume</label>
               </div>
               <!-- <div class="col-md-6 col-sm-6 col-xs-6 label-desc" style="padding-left:0px;">
                  <input type="text" class="form-control form-custom" placeholder={{users.file.name}} ng-readonly="true">
                  </div> -->
               <div class="col-md-2 col-sm-2 content-desc" >
                  <div class="form-group row clearfix" >
                     <div class="col-sm-12" style="padding-left:0px;">
                        <!-- <input type="text" class="form-control form-custom" placeholder={{file.name}} ng-readonly="true"> -->
                        <!-- <input id="upload" type="file" file-model="users.file" class="hidden"/><label for="upload" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label> -->
                        <a class="btn-sm btn-danger" ng-if="users.resumeAhuUrl != undefined" target="_blank" ng-href="{{users.resumeAhuUrl}}"> <i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                        <!-- <a class="btn-sm btn-danger"  ng-if="user.url != undefined" ng-href="{{user.url}}"> <i class="fa fa-cloud-download" aria-hidden="true"></i></a> -->
                     </div>
                  </div>
               </div>
               <!-- <div class="col-md-6 col-md-offset-4" style="padding-left:0px;">
                  <button ng-click="save()" class="btn button-blue-primary">Upload</button>
                  </div> -->
            </div>
         </div>
      </div>
   </div>
   <div ng-show="isSet(2)">
      <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
         <div class="container-fluid" style="padding-left:0px;">
            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
               <label >Nama Badan Usaha</label>
            </div>
            <div class="col-md-6 col-sm-6 content-desc" >
               <div class="form-group row clearfix" >
                  <div class="col-sm-12">
                     <input type="text" class="form-control form-custom" ng-disabled="true" ng-model="users.companyName" placeholder="APP ID" value="" >
                  </div>
               </div>
            </div>
            <div class="col-md-2 col-sm-2 right-form-content" >
            </div>
         </div>
         <div class="container-fluid" style="padding-left:0px;">
            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
               <label >Kedudukan</label>
            </div>
            <div class="col-md-6 col-sm-6 content-desc" >
               <div class="form-group row clearfix" >
                  <div class="col-sm-12">
                     <input type="text" class="form-control form-custom" ng-disabled="true"ng-model="users.position" placeholder="Kedudukan">
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid" style="padding-left:0px;">
            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
               <label >Kategori</label>
            </div>
            <div class="col-md-6 col-sm-6 content-desc" >
               <div class="form-group row clearfix" >
                  <div class="col-sm-6" ng-repeat="privilegeList in users.categoryList">
                     <input type="radio" style="margin-left: 20px;" ng-model="privilegeList.value" name="{{privilegeList.name}}" ng-value=true  ng-disabled="true" ng-change="changeValue(privilegeList.id,$index)" ng-selected="privilegeList.value"> {{privilegeList.description}}
                  </div>
               </div>
            </div>
            <div class="col-md-2 col-sm-2 right-form-content" >
            </div>
         </div>
         <div class="container-fluid" style="padding-left:0px;">
            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
               <label >Jenis Penanaman Modal</label>
            </div>
            <div class="col-md-6 col-sm-6 content-desc" >
               <div class="form-group row clearfix" >
                  <div class="col-sm-6" ng-repeat="privilegeList in users.stockTypeList">
                     <input type="radio" style="margin-left: 20px;" ng-model="privilegeList.value" name="{{privilegeList.name}}" ng-value=true  ng-disabled="true" ng-change="changeValuePenanamanModal(privilegeList.id,$index)" ng-selected="privilegeList.value"> {{privilegeList.description}}
                  </div>
               </div>
            </div>
            <div class="col-md-2 col-sm-2 right-form-content" >
            </div>
         </div>
         <div class="container-fluid" style="padding-left:0px;">
            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
               <label >Alamat</label>
            </div>
            <div class="col-md-6 col-sm-6 content-desc" >
               <div class="form-group row clearfix" >
                  <div class="col-sm-12">
                     <input type="text" ng-disabled="true"  class="form-control form-custom" ng-model="users.address" placeholder="Alamat">
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid head-section-tab" style="padding-left:0px">
            <div style="float:left;">
               <h5>Anggaran Dasar dan Perubahan</h5>
            </div>
            <!-- <div style="float:right;"><button class="btn button-blue-primary" ng-click="addAnggaran(Anggaran)">Add</button></div> -->
         </div>
         <div class="container-fluid" style="padding-left:0px" >
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th style="padding-left:0px;" class="table-header-padding">No Akta</th>
                     <th class="table-header-padding">Tanggal Akta</th>
                     <th class="table-header-padding">Notaris</th>
                     <th class="table-header-padding">Perihal</th>
                     <th class="table-header-padding">Nomor Pengesahan</th>
                     <th class="table-header-padding">Tanggal Pengesahan</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="stock in users.articleAssociationList">
                     <td style="padding-left:0px;">
                        <input type="text" class="form-control form-custom" ng-disabled="true" ng-model="stock.certificateNumber" placeholder="Modal" value="" >
                     </td>
                     <td>
                        <p class="input-group">
                           <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                              ng-model="stock.certificateDate"
                              is-open="awal.opened" datepicker-options="dateOptions" placeholder="Tanggal Akta" ng-required="true"
                              close-text="Close" required/>
                           <!-- <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="openAwal($event)"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                           </span> -->
                        </p>
                     </td>
                     <td><input type="text" class="form-control form-custom" ng-disabled="true"  ng-model="stock.notary" placeholder="Jumlah Satuan" value="" ></td>
                     <td><input type="text" class="form-control form-custom" ng-disabled="true" ng-model="stock.about" placeholder="Jumlah Satuan" value="" ></td>
                     <td><input type="text" class="form-control form-custom" ng-disabled="true" ng-model="stock.approvalNumber" placeholder="Jumlah Satuan" value="" ></td>
                     <td>
                        <p class="input-group">
                           <input name="dateAkhir" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                              ng-model="stock.approvalDate"
                              is-open="akhir.opened" datepicker-options="dateOptions" placeholder="Tanggal Pengesahan" ng-required="true"
                              close-text="Close" required/>
                           <!-- <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="openAkhir($event)"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                           </span> -->
                        </p>
                     </td>
                     <!-- <td><button href="" ng-click="doDeleteAnggaran($index)" class="form-control form-custom icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></button></td> -->
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="container-fluid head-section-tab" style="padding-left:0px">
            <div style="float:left;">
               <h5>Pengurus</h5>
            </div>
            <!-- <div style="float:right;"><button class="btn button-blue-primary" ng-click="addPengurus(Pengurus)">Add</button></div> -->
         </div>
         <div class="container-fluid" style="padding-left:0px" >
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th style="padding-left:0px;" class="table-header-padding">Nama</th>
                     <th class="table-header-padding">Jabatan</th>
                     <th class="table-header-padding" style="text-align:center;">As Signer</th>
                     <th class="table-header-padding" style="text-align:center;">As Approver</th>
                     <th class="table-header-padding">Masa Jabatan</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="stock in users.directorList">
                     <td style="padding-left:0px;">
                        <input type="text" class="form-control form-custom" ng-disabled="true" ng-model="stock.name" placeholder="Nama" value="" >
                     </td>
                     <td >
                        <input type="text" class="form-control form-custom" ng-disabled="true" ng-model="stock.position" placeholder="Jabatan" value="">
                     </td>
                     <td align="center">
                        <!-- <input type="checkbox" class="form-control form-custom" ng-model="stock.signer" ng-checked=""> -->
                        <input type="checkbox" ng-model="stock.signer" ng-disabled="true" >
                     </td>
                     <td  align="center">
                        <!-- <input type="checkbox" class="form-control form-custom" ng-model="stock.signer" ng-checked=""> -->
                        <input type="checkbox" ng-model="stock.approver" ng-disabled="true" >
                     </td>
                     <td>
                        <p class="input-group">
                           <input name="startDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                              ng-model="stock.startDate"
                              is-open="start.opened" datepicker-options="dateOptions" placeholder="Awal Jabatan" ng-required="true"
                              close-text="Close" required/>
                           <!-- <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="openStart($event)"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                           </span> -->
                           <input name="endDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                              ng-model="stock.endDate"
                              is-open="end.opened" datepicker-options="dateOptions" placeholder="Akhir Jabatan" ng-required="true"
                              close-text="Close" required/>
                           <!-- <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                           </span> -->
                        </p>
                     </td>
                     <!-- <td><button href="" ng-click="doDeletePengurus($index)" class="form-control form-custom icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></button></td> -->
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="container-fluid head-section-tab" style="padding-left:0px">
            <div style="float:left;">
               <h5>Data Pendukung</h5>
            </div>
            <!-- <div style="float:right;"><button class="btn button-blue-primary" ng-click="addDataPendukung(DataPendukung)">Add</button></div> -->
         </div>
         <div class="container-fluid" style="padding-left:0px" >
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th style="padding-left:0px;" class="table-header-padding">Dokumen</th>
                     <th class="table-header-padding">No Dokumen</th>
                     <th class="table-header-padding">Tanggal</th>
                     <th class="table-header-padding">Masa Berlaku</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="stock in users.additionalDataList">
                     <td style="padding-left:0px;">
                        <input type="text" class="form-control form-custom" ng-disabled="true" ng-model="stock.documentName" placeholder="Nama Dokumen" value="" >
                     </td>
                     <td >
                        <input type="text" class="form-control form-custom" ng-disabled="true" ng-model="stock.documentNumber" placeholder="Jabatan" value="">
                     </td>
                     <td>
                        <p class="input-group">
                           <input name="documentDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                              ng-model="stock.documentDate"
                              is-open="documentDate.opened" datepicker-options="dateOptions" placeholder="Awal Jabatan" ng-required="true"
                              close-text="Close" required/>
                           <!-- <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="openDocumentDate($event)"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                           </span> -->
                        </p>
                     </td>
                     <td>
                        <p class="input-group">
                           <input name="documentPeriod" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                              ng-model="stock.documentPeriod"
                              is-open="documentPeriod.opened" datepicker-options="dateOptions" placeholder="Akhir Jabatan" ng-required="true"
                              close-text="Close" required/>
                           <!-- <span class="input-group-btn">
                           <button type="button" class="btn btn-default" ng-click="openDocumentPeriod($event)"><i
                              class="glyphicon glyphicon-calendar"></i></button>
                           </span> -->
                        </p>
                     </td>
                     <!-- <td><button href="" ng-click="doDeleteDataPendukung($index)" class="form-control form-custom icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></button></td> -->
                  </tr>
               </tbody>
            </table>
         </div>
         <div class="container-fluid" style="padding-left:0px;">
            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
               <label >Wewenang Direksi / Tugas Pengurus</label>
            </div>
            <div class="col-md-6 col-sm-6 content-desc" >
               <div class="form-group row clearfix" >
                  <div class="col-sm-12">
                     <!-- <input type="text" class="form-control form-custom" ng-model="users.directorJob" placeholder="Wewenang Direksi / Tugas Pengurus"> -->
                     <textarea type="text" class="form-control form-custom" ng-disabled="true" ng-model="users.directorJob" placeholder="Wewenang Direksi / Tugas Pengurus" required="true"></textarea>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid" style="padding-left:0px;">
            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
               <label >Keterangan</label>
            </div>
            <div class="col-md-6 col-sm-6 content-desc" >
               <div class="form-group row clearfix" >
                  <div class="col-sm-12">
                     <!-- <input type="text" class="form-control form-custom" ng-model="users.description" placeholder="Keterangan"> -->
                     <textarea type="text" class="form-control form-custom" ng-disabled="true" ng-model="users.description" placeholder="Keterangan" required="true"></textarea>
                  </div>
               </div>
            </div>
         </div>
         <!-- <div class="container-fluid" style="padding-left:0px;">
            <div class="col-md-6 col-sm-6 col-xs-offset-4 content-desc" >
               <div class="form-group row clearfix" >
                  <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;"><button class="btn submit-button" ng-click="save()">Save</button></div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                     <button class="btn cancel-button" ng-click="goToList()">Cancel</button>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                     <button class="btn submit-button" ng-click="submit()">Submit</button>
                  </div>
               </div>
            </div>
         </div> -->
      </div>
   </div>
   <div ng-show="isSet(3)">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
         <div class="container-fluid" style="padding-left:0px;">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th style="padding-left:0px;" class="table-header-padding">Data Lama</th>
                     <th class="table-header-padding" style="text-align:center;">Download</th>
                     <!-- <th class="table-header-padding">Action</th> -->
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="user in users.documentList">
                     <td style="padding-left:0px;" >{{ user.documentCode }}</td>
                     <td style="text-align:center;"><a class="btn-sm btn-danger" target="_blank" ng-if="user.url != undefined" ng-href="{{user.url}}"> <i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                     <!-- <button class="btn-sm btn-danger" ng-click="downloadDocumentMarketing(documentList.documentCode)" tooltip="Download">
                                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                        </button> --></td>
                  </tr>
               </tbody>
            </table>
            <!--<div ng-repeat="fileInput in listDocument">-->
            <!--<input type="file" file-input="{{'myFile' + $index}}"/>-->
            <!--<button ng-click="uploadFileTest()">upload me</button>-->
            <!--</div>-->
            <!-- <div class="container-fluid" style="padding-left:0px;">
               <div class="col-md-6 col-sm-6 col-xs-offset-4 content-desc" >
               
                   <div class="form-group row clearfix" >
                   <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;"><button class="btn submit-button" ng-click="lovBranch()">Add Other File</button></div>
                       <div class="col-md-6 col-sm-6 col-xs-6">
                           <button class="btn cancel-button" ng-click="pending()">Pending</button>
                       </div>
                       <div class="col-md-6 col-sm-6 col-xs-6">
                           <button class="btn submit-button" ng-click="process()">Process</button>
                       </div>
                   </div>
               </div>
               </div> -->
         </div>
      </div>
   </div>
</div>