<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header-css text-bold">List Of Transaction</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="padding-left:0px;" class="table-header-padding">Billboard Name</th>
                        <th class="table-header-padding">Company Name</th>
                        <th class="table-header-padding">Address</th>
                        <th class="table-header-padding">Phone Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td style="padding-left:0px;" class="table-padding1" ng-click="viewDetail(user.id)" >{{ user.name }}</td>
                        <td class="table-padding1 pointer" ng-click="viewDetail(user.id)" >{{ user.companyName }}</td>
                        <td  class="table-padding1 pointer" style="text-align: justify;" ng-click="viewDetail(user.id)" >{{ user.address }}<br>
                            {{user.district}}, {{user.city}} <br>
                            {{user.province}} - Indonesia
                        </td>
                        <td  class="table-padding1 pointer" ng-click="viewDetail(user.id)" >{{ user.phoneNumber }}</td>
                        <td class="table-padding2 pointer">
                            <a  href="" ng-click="approveBO(user.id,'APPROVED')" class="btn btn-success btn-sm">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                            <a href="" ng-click="approveBO(user.id,'REJECTED')" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                    <div class="col-md-12" style="text-align:center">
                        <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
                    </div>

                <!-- <div class="col-md-12">
                        <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
                </div> -->
        </div>
</div>