
    <!-- /.navbar-static-side -->
    <div id="wrapper">
        <sidebar></sidebar>
        <div id="page-wrapper">
            <div id="page-inner">
                <div ui-view></div>
            </div>
        </div>

    </div>

    <!-- /#page-wrapper -->
<!--</div>-->