<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
           Group Marketing
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--    Hover Rows  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary" ng-click="create()">Create Marketing</button>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in dataList" ng-click="detailGroup(data.id)" style="cursor: pointer">
                            <td>{{data.group_name}}</td>
                            <td>
                                <a class="btn-sm btn-success" href="" ng-click="doUpdate(data.id)" tooltip="Update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                &nbsp;
                                <a class="btn-sm btn-danger" href="" ng-click="doDelete(data.id, data.name)" tooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Hover Rows  -->
    </div>
</div>
<!-- /. ROW  -->