<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li class="active">Matching Result</li>
            </ol>
            <ul class="nav nav-pills" style="border-bottom:1px solid #c5c5c5; padding-bottom: 10px; margin-bottom: 10px">
                <!--<li ng-class="{active:isSet(1)}"><a class="tabs" href ng-click="setTab(1)">Resume</a></li>-->
                <li ng-class="{active:isSet(1)}"><a class="tabs" href ng-click="setTab(1)">Resume Tambahan</a></li>
                <!--<li ng-class="{active:isSet(3)}"><a class="tabs" href ng-click="setTab(3)">Dokumen Kelengkapan</a></li>-->
            </ul>
            <!--<div ng-show="isSet(1)">
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:18px;">
                                <label >Metode</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <select ng-disabled="true" class="form-control" ng-options="method as method.value for method in method" ng-model="itemSearch"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='INPUT'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{dataResult.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid head-section-tab" ng-if="itemSearch.keyName=='INPUT'">
                    <h5>Modal</h5>
                </div>
                <div class="container-fluid" ng-if="itemSearch.keyName=='INPUT'">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Modal</th>
                            <th class="table-header-padding">Nominal (Rp)</th>
                            <th class="table-header-padding">Jumlah Satuan (Dalam Lembar)</th>
                        </tr>
                        </thead>
                            <tbody>
                            <tr ng-repeat="stock in dataResult.stockList">
                                <td style="padding-left:0px;">
                                    {{stock.name}}
                                </td>
                                <td>{{stock.nominal | currency:"Rp "}}</td>
                                <td>{{stock.stockQuantity}}</td>
                            </tr>
                            </tbody>
                    </table>
                </div>
                <div class="container-fluid head-section-tab"  ng-if="itemSearch.keyName=='INPUT'">
                    <h5>Pemegang Saham</h5>
                </div>
                <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Nama Pemegang Saham</th>
                            <th class="table-header-padding">Jumlah Saham</th>
                            <th class="table-header-padding">Nominal Saham (Rp)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stockHolder in dataResult.stockHolderList">
                            <td style="padding-left:0px;">
                                {{stockHolder.name}}
                            </td>
                            <td>{{stockHolder.stockQuantity}}</td>
                            <td>{{stockHolder.stockNominal | currency:"Rp "}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='INPUT'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{dataResult.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='UPLOAD'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;" ng-repeat="documentList in dataResult.documentList">
                            <div class="col-md-9 col-sm-9 col-xs-9 label-desc" style="padding-left:0px;">
                                <label >{{documentList.documentDesc}}</label>
                            </div>
                            <div class="col-md-2 col-sm-2 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <button class="btn-sm btn-danger" ng-click="downloadDocumentMarketing(documentList.documentCode)" tooltip="Download">
                                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <div ng-show="isSet(1)">
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label>Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc">
                                <div class="form-group row clearfix">
                                    <div class="col-sm-12">
                                        <p>{{dataResult.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label>Kedudukan</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc">
                                <p>{{dataResult.position}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                                <label>Kategori</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc">
                                <div class="form-group row clearfix">
                                    <div class="col-sm-6">
                                        <input type="checkbox" ng-disabled="true" ng-checked="dataResult.category=='TERBUKA'"> Terbuka
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="checkbox" ng-disabled="true" ng-checked="dataResult.category=='TERTUTUP'"> Tertutup
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                                <label>Jenis Penanaman Modal</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc">
                                <div class="form-group row clearfix">
                                    <div class="col-sm-6">
                                        <input type="checkbox" ng-disabled="true" ng-checked="dataResult.stockType=='PMA'"> PMA
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="checkbox" ng-disabled="true" ng-checked="dataResult.category=='PMDN'"> PMDN
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                                <label>Alamat</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc">
                                <div class="form-group row clearfix">
                                    <div class="col-sm-12">
                                        <p>{{dataResult.address}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid head-section-tab">
                    <h5>Anggaran Dasar dan Perubahan</h5>
                </div>
                <div class="container-fluid">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="padding-left:0px;" class="table-header-padding">No Akta</th>
                                <th class="table-header-padding">Tanggal Akta</th>
                                <th class="table-header-padding">Notaris</th>
                                <th class="table-header-padding">Perihal</th>
                                <th class="table-header-padding">Nomor dan Tanggal Pengesahan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="articleAssociationList in dataResult.articleAssociationList">
                                <td style="padding-left:0px;">
                                    {{articleAssociationList.certificateNumber }}
                                </td>
                                <td> {{articleAssociationList.certificateDate | date:'dd MMMM yyyy' }}</td>
                                <td>{{articleAssociationList.notary}}</td>
                                <td>{{articleAssociationList.about}}</td>
                                <td>{{articleAssociationList.approvalNumber}} - {{articleAssociationList.approvalDate | date:'dd MMMM yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="container-fluid head-section-tab">
                    <h5>Pengurus</h5>
                </div>
                <div class="container-fluid">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="padding-left:0px;" class="table-header-padding">Nama</th>
                                <th class="table-header-padding">Jabatan</th>
                                <th class="table-header-padding">As Signer</th>
                                <th class="table-header-padding">As Approver</th>
                                <th class="table-header-padding">Masa Jabatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="directorList in dataResult.directorList">
                                <td style="padding-left:0px;">
                                    {{directorList.name}}
                                </td>
                                <td>{{directorList.position}}</td>
                                <td><input type="checkbox" ng-checked="directorList.signer" ng-disabled="true"></td>
                                <td><input type="checkbox" ng-checked="directorList.approver" ng-disabled="true"></td>
                                <td>{{directorList.startDate | date:'dd MMMM yyyy'}} - {{directorList.endDate | date:'dd MMMM yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid head-section-tab">
                    <h5>Data Pendukung</h5>
                </div>
                <div class="container-fluid">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="padding-left:0px;" class="table-header-padding">Dokumen</th>
                                <th class="table-header-padding">No Dokumen</th>
                                <th class="table-header-padding">Tanggal</th>
                                <th class="table-header-padding">Masa Berlaku</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="additionalDataList in dataResult.additionalDataList">
                                <td style="padding-left:0px;">
                                    {{additionalDataList.documentName}}
                                </td>
                                <td>{{additionalDataList.documentNumber}}</td>
                                <td>{{additionalDataList.documentDate | date:'dd MMMM yyyy'}}</td>
                                <td>{{additionalDataList.documentPeriod | date:'dd MMMM yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid">
                    <h5>Wewenang Direksi/Tugas Pengurus</h5>
                    <div class="col-sm-6" style="padding-left: 0px">
                        <textarea class="form-control form-custom" ng-model="dataResult.directorJob" style="height: 100px" ng-readonly="true" placeholder="Input Text Here">

                        </textarea>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 20px">
                    <h5>Keterangan</h5>
                    <div class="col-sm-6" style="padding-left: 0px">
                        <textarea class="form-control form-custom" ng-model="dataResult.description" style="height: 100px;" ng-readonly="true" placeholder="Input Text Here">

                        </textarea>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 20px">
                    <h5>Keterangan MO</h5>
                    <div class="col-sm-6" style="padding-left: 0px">
                        <textarea class="form-control form-custom" ng-model="moDescription" style="height: 100px;" placeholder="Input Text Here">

                        </textarea>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 20px">
                    <div class="col-md-6 col-sm-6 content-desc" style="padding-left: 0px">
                        <div class="form-group row clearfix">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn cancel-button" ng-click="showModalBack()">Cancel</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn submit-button" ng-click="process()">Process</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div ng-show="isSet(3)">
                <div class="container-fluid">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Data Lama</th>
                            <th class="table-header-padding" style="text-align: center">Download</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="documentList in dataResult.documentList">
                                <td style="padding-left:0px;">
                                    {{documentList.description}}
                                </td>
                                <td style="text-align: center">
                                    <a ng-href="{{documentList.url}}" class="btn-sm btn-danger" tooltip="Download">
                                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:0px;">
                                    Resume BCA
                                </td>
                                <td style="text-align: center">
                                    <a ng-href="{{dataResult.resumeAhuUrl}}" class="btn-sm btn-danger" tooltip="Download">
                                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left:0px;">
                                    NPWP
                                </td>
                                <td style="text-align: center">
                                    <a ng-href="{{dataResult.npwpUrl}}" class="btn-sm btn-danger" tooltip="Download">
                                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>-->
        </div>
    </div>