<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header-css text-bold">All Billboard
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="padding-left:0px;" class="table-header-padding">Billboard Name</th>
                        <th class="table-header-padding">Type</th>
                        <th class="table-header-padding">Location</th>
                        <th class="table-header-padding">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in billboard" ng-click="billboardDetail(user.id)">
                        <td style="padding-left:0px;" class="table-padding1 pointer">{{ user.name }}</td>
                        <td class="table-padding1 pointer">{{user.orientation}}, {{ user.lightingType }}</td>
                        <td class="table-padding1 pointer">{{ user.address }} <br>{{user.district}}, {{user.city}} <br>{{user.province}}</td>
                        <td class="table-padding1 pointer">{{ user.status }}</td>
                    </tr>
                    </tbody>
                </table>
                    <div class="col-md-12" style="text-align:center">
                        <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
                    </div>
    </div>
</div>