<div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header text-bold">Notifikasi</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Daftar Notifikasi Saat Ini</h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="" ng-repeat="notif in notifications" ng-filter>
                                <div class="col-md-12" style="border-bottom:1px solid; border-color:#afafaf; padding-left:0px; padding-right:0px;">
                                    <div class="col-md-10" style="padding-left:0px;">
                                        <h5 ng-bind-html="notif.message" class="alert-link" style="color:#000; font-family: calibri; font-weight:300;"></h5>
                                    </div>

                                    <div class="col-md-2" style="text-align:right;">
                                       <h5> {{notif.creationDate | date:'yyyy-MM-dd'}}</h5>
                                    </div>
                                </div>
                               <!--<hr style="background: #afafaf; width: 100%;">-->
                            </div>

                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>