<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Order Resume AHU</li>
                <li class="active">Order Resume Detail</li>
            </ol>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px; padding-right:0px; margin-top:10px;">
                        <label >Nama Badan Usaha</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.companyName" placeholder="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >No NPWP</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.npwp" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Branch</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.branch" placeholder="" value="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama MO</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.marketingOfficer" placeholder="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="breadcrumb-custom"></div>
                <div class="col-lg-12 table-of-content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Data Kelengkapan (.PDF)</th>
                            <th style="text-align:right;" class="table-header-padding">Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users.documentList">
                            <td style="padding-left:0px;">{{user.documentDesc}}</td>
                            <td align="right"><a ng-href="{{user.url}}" target="_blank">Preview</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="breadcrumb-custom" style="margin-top:-30px;"></div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Hasil Matching</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.resumeMatch" placeholder="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 right-form-content" >
                        <button ng-click="toMatchingResult(users.id)" class="btn button-blue-light-primary">View</button>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Action</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <select class="form-control" ng-options="action as action.value for action in action" ng-model="users.action"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Keterangan</label>
                    </div>
                    <div class="col-md-10 col-sm-10 content-desc" style="padding-left: 0px; margin-top: 20px">

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <textarea style="height: 80px" type="text" class="form-control form-custom" ng-model="users.description" required="true"></textarea>
                                <label ng-show="descriptionInvalid" class="control-label alert-message">Keterangan tidak boleh kosong</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn cancel-button" ng-click="reject()">Batal</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn submit-button" ng-click="process()">Proses</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>