<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Product
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--    Hover Rows  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary" ng-click="createProduct()">Create Product</button>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID Product</th>
                            <th>Name</th>
                            <th>Price Low</th>
                            <th>Price Sell</th>
                            <th>Discount</th>
                            <th>Last Update</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in dataList">
                            <td>{{data.id}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.price_low | currency : 'Rp.'}}</td>
                            <td>{{data.price_sell | currency : 'Rp.'}}</td>
                            <td>{{data.discount}}%</td>
                            <td>{{data.last_update}}</td>
                            <td>
                                <a class="btn-sm btn-success" href="" ng-click="doUpdate(data.id)" tooltip="Update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                &nbsp;
                                <a class="btn-sm btn-danger" href="" ng-click="doDelete(data.id, data.name)" tooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                &nbsp;

                                <a class="btn-sm btn-primary" href="" ng-click="doFeedback(data.id)" tooltip="Feedback"><i class="fa fa-reply-all" aria-hidden="true"></i></a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Hover Rows  -->
    </div>
</div>
<!-- /. ROW  -->