<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Profile
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Your Profile
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li ng-class="{active:isSet(1)}"><a class="tabs" href ng-click="setTab(1)">Profile</a></li>
                    <li ng-class="{active:isSet(4)}"><a class="tabs" href ng-click="setTab(4)">User Account</a></li>
                    <li ng-class="{active:isSet(2)}"><a class="tabs" href ng-click="setTab(2)" ng-if="hasRoleAdmin()">Site</a></li>
                    <li ng-class="{active:isSet(3)}"><a class="tabs" href ng-click="setTab(3)">Bank Account</a></li>
                </ul>
                <div class="tab-content" style="padding-top: 20px" ng-show="isSet(1)">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" class="form-control" ng-model="profile.name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="profile.contact" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Photo</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" placeholder="{{photo.name}}" class="form-control" ng-readonly="true">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group label-floating">
                                        <input id="photo" type="file" file-model="photo" class="hidden">
                                        <label for="photo" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Icon"></i></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Country</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <select class="form-control" ng-options="orient as orient.name for orient in country" ng-model="itemCountry"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Province</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <select class="form-control" ng-options="orient as orient.name for orient in province" ng-model="itemProvince" ng-change="setCity(itemProvince)"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">City</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <select class="form-control" ng-options="orient as orient.city_name for orient in city" ng-model="itemCity" ng-change="setCity(itemProvince)"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Address</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <textarea ng-model="profile.address" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Post Code</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="profile.postcode" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Institution</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" class="form-control" ng-model="profile.institution">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Department</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" class="form-control" ng-model="profile.department">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success" ng-click="processUpdateProfile()">Update Profile</button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <img style="width: 100%; height: 180px" ng-src="{{profile.img}}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content" style="padding-top: 20px" ng-show="isSet(4)">

                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" class="form-control" ng-model="profile.name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="profile.contact" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Photo</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" placeholder="{{photo.name}}" class="form-control" ng-readonly="true">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group label-floating">
                                        <input id="photo" type="file" file-model="photo" class="hidden">
                                        <label for="photo" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Icon"></i></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Country</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <select class="form-control" ng-options="orient as orient.name for orient in country" ng-model="itemCountry"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Province</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <select class="form-control" ng-options="orient as orient.name for orient in province" ng-model="itemProvince" ng-change="setCity(itemProvince)"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">City</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <select class="form-control" ng-options="orient as orient.city_name for orient in city" ng-model="itemCity" ng-change="setCity(itemProvince)"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Address</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <textarea ng-model="profile.address" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Post Code</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="profile.postcode" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Institution</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" class="form-control" ng-model="profile.institution">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Department</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" class="form-control" ng-model="profile.department">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success" ng-click="processUpdateProfile()">Update Profile</button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <img style="width: 100%; height: 180px" ng-src="{{profile.img}}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content" style="padding-top: 20px" ng-show="isSet(2)">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Marketplace Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="site.site_name" class="form-control">
                                        <label ng-show="siteNameInvalid" class="control-label alert-message">Marketplace Name can not be empty</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="email" ng-model="site.site_email" class="form-control">
                                        <label ng-show="siteEmailInvalid" class="control-label alert-message">Email can not be empty</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Address</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <textarea rows="3" ng-model="site.site_address" class="form-control"></textarea>
                                        <label ng-show="siteAddressInvalid" class="control-label alert-message">Marketplace Address can not be empty</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Site Contact</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="site.site_phone" class="form-control">
                                        <label ng-show="sitePhoneInvalid" class="control-label alert-message">Phone can not be empty</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">About</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <textarea rows="3" ng-model="site.site_about" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Icon</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" placeholder="{{site_icon.name}}" class="form-control" ng-readonly="true">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group label-floating">
                                        <input id="icon" type="file" file-model="site_icon" class="hidden">
                                        <label for="icon" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Icon"></i></label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group label-floating">
                                        <button class="btn btn-primary" ng-click="viewOldImage(site.imgIcon)" tooltip="View Icon"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Logo</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" placeholder="{{site_logo.name}}" class="form-control" ng-readonly="true">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group label-floating">
                                        <input id="logo" type="file" file-model="site_logo" class="hidden">
                                        <label for="logo" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Logo"></i></label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group label-floating">
                                        <button class="btn btn-primary" ng-click="viewOldImage(site.imgLogo)" tooltip="View Logo"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Banner</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" placeholder="{{site_banner.name}}" class="form-control" ng-readonly="true">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <input id="banner" type="file" file-model="site_banner" class="hidden">
                                    <label for="banner" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Banner"></i></label>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group label-floating">
                                        <button class="btn btn-primary" ng-click="viewOldImage(site.imgBanner)" tooltip="View Banner"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Facebook</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="site.site_facebook" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Twitter</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="site.site_twitter" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Instagram</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="site.site_instagram" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Google</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="site.site_google" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Path</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="site.site_path" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Youtube</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" ng-model="site.site_youtube" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <button ng-click="processUpdateSite()" type="submit" class="btn btn-success">Update Site Info</button>
                        </div>
                    </div>
                </div>

                <div class="tab-content" style="padding-top: 20px" ng-show="isSet(3)">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Bank Account</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <select class="form-control">
                                            <option>Mandiri</option>
                                            <option>BNI</option>
                                            <option>CIMB Niaga</option>
                                            <option>BCA</option>
                                            <option>BRI</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Account Number</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Account Name</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Update Bank</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /. ROW  -->