<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-md-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-6" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <select class="form-control" ng-options="notary as notary.name for notary in notaries" style="width: 100%" ng-model="itemNotary"></select>
                </div>
                <div class="col-md-6 col-sm-offset-2" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <select class="form-control" ng-options="invoice as invoice.invoiceNumber for invoice in invoices" style="width: 100%" ng-model="itemInvoice"></select>
                </div>
                <div class="col-md-6 col-md-offset-2 container-btn-search" style="padding-left: 25px; margin-top: 10px">
                    <div class="input-group">
                        <button ng-click="getListReceiveInvoice(itemNotary,itemInvoice)" class="btn button-blue-primary">Search</button>
                    </div>
                </div>
            </div>

            <!-- <div class="form-group col-md-2">
                <button ng-click="listMemo()" class="btn button-blue-primary">Daftar Memo</button>
            </div> -->
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="padding-left:0px;" class="table-header-padding"><input type="checkbox" ng-model="invoice" ng-change="checkedAll()" ng-disabled="!dataResult"></th>
                    <th class="table-header-padding">Notaris</th>
                    <th class="table-header-padding" style="text-align: left">No. Invoice</th>
                    <th class="table-header-padding" style="text-align: left">Nama Badan Usaha</th>
                    <th class="table-header-padding" colspan="4" style="text-align: left">Fee</th>
                    <th class="table-header-padding" style="text-align: left">Tgl Order</th>
                    <th class="table-header-padding" style="text-align: left">Keterangan</th>
                    <!--<th>Check</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoice in dataResult">
                    <td style="padding-left:0px;"><input type="checkbox" ng-model="invoice.value" ng-change="checkedChild(invoice.value)"></td>
                    <td>
                        {{invoice.notaryName}}
                    </td>
                    <td style="text-align: left">
                        {{invoice.invoiceNumber}}
                    </td>
                    <td style="text-align: left">
                        {{invoice.companyName}}
                    </td>
                    <td style="text-align: left">
                        <input type="radio" ng-model="invoice.typeFee" name="{{invoice.npwp}}" ng-value=true ng-change="changed($index, invoice.typeFee)">
                    </td>
                    <td style="text-align: left">
                        <input type="number" class="form-control" ng-model="invoice.fee" ng-readonly="true">
                    </td>
                    <td style="text-align: left">
                        <input type="radio" ng-model="invoice.typeFee" name="{{invoice.npwp}}" ng-value=false ng-change="changed($index, invoice.typeFee)">
                    </td>
                    <td style="text-align: left">
                        <input type="number" class="form-control" ng-model="invoice.feeManual" min="0" ng-readonly="invoice.typeFee">
                    </td>
                    <td style="text-align: left">
                        {{invoice.orderDate | date: "dd MMM yyyy"}}
                    </td>
                    <td style="text-align: left">
                        <input type="text" class="form-control" ng-model="invoice.description" ng-readonly="invoice.typeFee">
                    </td>
                    <td style="text-align: left">
                        <a href="" ng-click="goToDetail(invoice.id)">Check</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" ng-if="dataResult.length!=null">
    <div class="col-lg-12 table-of-content">
        <div class="col-md-8 col-sm-8 col-xs-offset-4 content-desc">
            <div class="form-group row clearfix">
                <div class="col-md-3 col-sm-3 col-xs-3 col-xs-offset-6">
                    <button class="btn cancel-button" ng-click="rejectReceiveInvoice()">Reject</button>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <button class="btn submit-button" ng-click="receiveInvoiceProcess()">Receive</button>
                </div>
            </div>
        </div>
    </div>
</div>