<div class="row" ng-if="!printStatus">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-md-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-6" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <select class="form-control" ng-options="notary as notary.name for notary in notaries" style="width: 100%" ng-model="itemNotary" ng-change="getListInvoice(itemNotary)" ng-blur="getListNotary(itemNotary)"></select>
                </div>
                <div class="col-md-6 col-sm-offset-2" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <select class="form-control" ng-options="invoice as invoice.invoiceNumber for invoice in invoices" style="width: 100%" ng-model="itemInvoice" ng-change="getListReceiveInvoice(itemInvoice)" ng-blur="getListReceiveInvoice(itemInvoice)"></select>
                </div>
                <div class="col-md-1 container-btn-search" style="padding-top: 5px">
                    <div class="input-group">
                        <button ng-click="doSearch(itemNotary,itemInvoice)" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-if="!printStatus">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="table-header-padding">No. Batch</th>
                <th class="table-header-padding" style="text-align: left">No. Invoice</th>
                <th class="table-header-padding" style="text-align: left">Notaris</th>
                <th class="table-header-padding" style="text-align: left">Print</th>
                <th class="table-header-padding" colspan="4" style="text-align: left">Jumlah Data</th>
                <th class="table-header-padding" style="text-align: left">Last Print</th>
                <th class="table-header-padding" style="text-align: left"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="memo in dataResult">
                <td style="text-align: left">
                    {{memo.batchNumber}}
                </td>
                <td style="text-align: left">
                    {{memo.invoiceNumber}}
                </td>
                <td style="text-align: left">
                    {{memo.notaryName}}
                </td>
                <td style="text-align: left">
                    {{memo.totalPrint}}
                </td>
                <td style="text-align: left">
                    {{memo.totalData}}
                </td>
                <td style="text-align: left">
                    {{memo.lastPrint | date: "dd MMMM yyyy"}}
                </td>
                <td>
                    <a href="" ng-click="printMemo('testing',memo.id)" class="btn-sm btn-warning"><i class="fa fa-print" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="testing" ng-show="printStatus">
    <div>
        <!--<h2>{{dataMemo.memoDate | date: 'dd MMMM yyyy'}}</h2>-->
    </div>
</div>