<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header-css text-bold">Refund List</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Reserve Code</th>
                            <th class="table-header-padding">Full Name</th>
                            <th class="table-header-padding">Company</th>
                            <th class="table-header-padding">Phone Number</th>
                            <th class="table-header-padding">Billboard Name</th>
                            <th class="table-header-padding">Billboard Owner</th>
                            <th class="table-header-padding">Refund Now</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="refund in refundList">
                            <td style="padding-left:0px;" class="table-padding1">{{ refund.reserveCode }}</td>
                            <td class="table-padding1">{{ refund.billboardUserFullName }}</td>
                            <td class="table-padding1">{{ refund.billboardUserCompanyName }}</td>
                            <td class="table-padding1">{{ refund.billboardUserPhone }}</td>
                            <td class="table-padding1">{{ refund.billboardName }}</td>
                            <td class="table-padding1">{{ refund.billboardOwnerCompanyName }}</td>
                            <td class="table-padding2 pointer">
                                <a href="" ng-click="approveRefund(refund.reserveCode)" class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </a>
                                <!--<a href="" ng-click="approveBO(user.id,'REJECTED')" class="btn btn-danger btn-sm">-->
                                    <!--<span class="glyphicon glyphicon-remove"></span>-->
                                <!--</a>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12" style="text-align:center">
                        <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
                    </div>
                    <!--<div class="col-md-12">-->
                        <!--<pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>-->
                    <!--</div>-->
                
    </div>
</div>
<a href="#0" class="cd-top" style="z-index: 99; color: #fff"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
<script type="text/javascript">
    jQuery(document).ready(function($){
        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 300,
        //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
                offset_opacity = 1200,
        //duration of the top scrolling animation (in ms)
                scroll_top_duration = 700,
        //grab the "back to top" link
                $back_to_top = $('.cd-top');

        //hide or show the "back to top" link
        $(window).scroll(function(){
            ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
            if( $(this).scrollTop() > offset_opacity ) {
                $back_to_top.addClass('cd-fade-out');
            }
        });

        //smooth scroll to top
        $back_to_top.on('click', function(event){
            event.preventDefault();
            $('body,html').animate({
                        scrollTop: 0 ,
                    }, scroll_top_duration
            );
        });
    });
</script>