<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Report
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--    Hover Rows  -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Sales Name</th>
                            <th>Product Name</th>
                            <th>Group Name</th>
                            <th>Modals</th>
                            <th>Stock Start</th>
                            <th>Stock Sold</th>
                            <th>Start Date</th>
                            <th>Update Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in reports">
                            <td>{{data.sales}}</td>
                            <td>{{data.product_name}}</td>
                            <td>{{data.group_name}}</td>
                            <td>{{data.modal | currency : 'Rp. '}}</td>
                            <td>{{data.stock_start}}</td>
                            <td>{{data.stock_sold}}</td>
                            <td>{{data.start_date}}</td>
                            <td>{{data.update_date}}</td>
                            <td>
                                <a class="btn-sm btn-success" href="" ng-click="doUpdateReport(data.id)" tooltip="Update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
                        <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
                    </div>
                </div>
            </div>
        </div>
        <!-- End  Hover Rows  -->
    </div>
</div>
<!-- /. ROW  -->