<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-md-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-4 col-sm-4 head-label">
                    <select class="form-control" ng-options="type as type.value for type in type" ng-model="itemType"></select>
                </div>
                <!--<div class="col-md-3" style="padding-left: 25px">-->
                    <!--<p class="input-group">-->
                            <!--<input name="startDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"-->
                                   <!--ng-model="search.startDate"-->
                                   <!--is-open="start.opened" datepicker-options="dateOptions" placeholder="Start Date" ng-required="true"-->
                                   <!--close-text="Close" required/>-->
                                        <!--<span class="input-group-btn">-->
                                    <!--<button type="button" class="btn btn-default" ng-click="openStart($event)"><i-->
                                            <!--class="glyphicon glyphicon-calendar"></i></button>-->
                                    <!--</span></p>-->
                <!--</div>-->
                <div class="col-md-4" style="padding-left: 25px">
                    <p class="input-group">
                            <input name="startDate" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                   ng-model="updateDate"
                                   is-open="end.opened" datepicker-options="dateOptions" placeholder="End Date" ng-required="true"
                                   close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span></p>
                </div>
                <div class="col-md-1 container-btn-search">
                    <div class="input-group">
                        <button ng-click="Search(search,itemType)" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row --><div class="row" ng-show="listRequestResumes != undefined">
    <div class="container-fluid description-banner-detail-billboard page-header-section">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
            <!-- <h4 style="font-weight:700;">Real Time Report</h4> -->
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Report Aktivitas SA</label>
                    </div>
                    
                    <div class="form-group col-md-2 content-desc" style="float:right;">
                        <button ng-click="exportDataExcel()" style="background:green;" class="btn button-search-sm"><i  style="color:white;" class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                        <button ng-click="exportDataPdf()" style="background:red;" class="btn button-search-sm"><i style="color:white;" class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
                    </div>
                </div>
                
                
                </div>
            </div>
        </div>
    </div>

<div class="row" ng-show="listRequestResumes != undefined">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
            <tr ng-if="download.type=='USER'">
                <th class="table-header-padding">No</th>
                <th class="table-header-padding" style="text-align: left">User ID</th>
                <th class="table-header-padding" style="text-align: left">User Name</th>
                <th class="table-header-padding" style="text-align: left">Nama Field</th>
                <th class="table-header-padding" style="text-align: left">Sebelum</th>
                <th class="table-header-padding" style="text-align: left">Sesudah</th>
                <th class="table-header-padding" style="text-align: left">Last Update</th>
                <th class="table-header-padding" style="text-align: left">Last User ID</th>
                <th class="table-header-padding" style="text-align: left">Activity</th>
            </tr>
            <tr ng-if="download.type!='USER'">
                <th class="table-header-padding">No</th>
                <th class="table-header-padding" style="text-align: left">Parameter Type</th>
                <th class="table-header-padding" style="text-align: left">Parameter Name</th>
                <th class="table-header-padding" style="text-align: left">Nama Field</th>
                <th class="table-header-padding" style="text-align: left">Sebelum</th>
                <th class="table-header-padding" style="text-align: left">Sesudah</th>
                <th class="table-header-padding" style="text-align: left">Last Update</th>
                <th class="table-header-padding" style="text-align: left">Last User ID</th>
                <th class="table-header-padding" style="text-align: left">Activity</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="documentList in listRequestResumes">
                <td style="padding-left:0px;">{{$index+1}}</td>
                <td>
                    {{documentList.objectId}}
                </td>
                <td style="text-align: left">
                    {{documentList.objectCode}}
                </td>
                <td style="text-align: left">
                    {{documentList.field}}
                </td>
                <td style="text-align: left">
                    {{documentList.before}}
                </td>
                <td style="text-align: left">
                    {{documentList.after}}
                </td>
                <td style="text-align: left">
                    {{documentList.updateDate | date: "dd MMM yyyy"}}
                </td>
                <td style="text-align: left">
                    {{documentList.createdBy}}
                </td>
                <td style="text-align: left">
                    {{documentList.activity}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>
