<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-md-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-6" style="padding-left: 25px">
                    <input type="text" class="form-control form-custom field-search" ng-readonly="true" placeholder="Input Branch Central" ng-model="branchCentralList.name">
                </div>
                <div class="col-md-1 container-btn-search">
                    <div class="input-group">
                        <button ng-click="lovBranchCentral()" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="col-md-6" style="padding-left: 25px; margin-top: 10px">
                    <input type="text" class="form-control form-custom field-search" ng-readonly="true" placeholder="Input Branch" ng-model="branchList.name">
                </div>
                <div class="col-md-1 container-btn-search" style="margin-top: 10px">
                    <div class="input-group">
                        <button ng-click="lovBranch()" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-2 container-btn-search" style="padding-left: 25px; margin-top: 10px">
                    <div class="input-group">
                        <button ng-click="doSearch()" class="btn button-blue-primary">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-show="listRequestResumes != undefined">
    <div class="container-fluid description-banner-detail-billboard page-header-section">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Report Outstanding Resume</label>
                    </div>

                    <div class="form-group col-md-3 content-desc" style="float:right;">
                        <button ng-click="exportDataExcel()"class="btn btn-success"><i  style="color:white;" class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                        <button ng-click="exportDataPdf()" class="btn btn-danger"><i style="color:white;" class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="listRequestResumes != undefined">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="table-header-padding">No</th>
                    <th class="table-header-padding" style="text-align: left">Nama Badan Usaha</th>
                    <th class="table-header-padding" style="text-align: left">NPWP</th>
                    <th class="table-header-padding" style="text-align: left">Branch</th>
                    <th class="table-header-padding" style="text-align: left">Activities</th>
                    <th class="table-header-padding" style="text-align: left">Aging</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="documentList in listRequestResumes">
                    <td>{{$index+1}}</td>
                    <td>
                        {{documentList.companyName}}
                    </td>
                    <td style="text-align: left">
                        {{documentList.npwp}}
                    </td>
                    <td style="text-align: left">
                        {{documentList.branchName}}
                    </td>
                    <td style="text-align: left">
                        {{documentList.activity}}
                    </td>
                    <td style="text-align: left">
                        {{documentList.aging}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>