<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li class="active">Detail Request Dokumen Kelengkapan</li>
            </ol>
            <ul class="nav nav-pills" style="border-bottom:1px solid #c5c5c5; padding-bottom: 10px; margin-bottom: 10px">
                <li ng-class="{active:isSet(1)}"><a class="tabs" href ng-click="setTab(1)">Resume</a></li>
                <li ng-class="{active:isSet(2)}"><a class="tabs" href ng-click="setTab(2)">Dokumen Kelengkapan</a></li>
            </ul>
            <div ng-show="isSet(1)">
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:18px;">
                                <label >Metode</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <select class="form-control" ng-options="method as method.value for method in method" ng-model="itemSearch"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 right-form-content" >
                                <button ng-click="retrieveAppId()" class="btn button-blue-primary">Retrieve</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{dataResult.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid head-section-tab" ng-if="itemSearch.keyName=='input'">
                    <h5>Modal</h5>
                </div>
                <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Modal</th>
                            <th class="table-header-padding">Nominal (Rp)</th>
                            <th class="table-header-padding">Jumlah Satuan (Dalam Lembar)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stock in dataResult.stockList">
                            <td style="padding-left:0px;">
                                {{stock.name}}
                            </td>
                            <td>{{stock.nominal | currency:"Rp "}}</td>
                            <td>{{stock.stockQuantity}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid head-section-tab"  ng-if="itemSearch.keyName=='input'">
                    <h5>Pemegang Saham</h5>
                </div>
                <div class="container-fluid" ng-if="itemSearch.keyName=='input'">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Nama Pemegang Saham</th>
                            <th class="table-header-padding">Jumlah Saham</th>
                            <th class="table-header-padding">Nominal Saham (Rp)</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stockHolder in dataResult.stockHolderList">
                            <td style="padding-left:0px;">
                                {{stockHolder.name}}
                            </td>
                            <td>{{stockHolder.stockQuantity}}</td>
                            <td>{{stockHolder.stockNominal | currency:"Rp "}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{dataResult.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='upload'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;" ng-repeat="documentList in dataResult.documentList">
                            <div class="col-md-9 col-sm-9 col-xs-9 label-desc" style="padding-left:0px;">
                                <label >{{documentList.documentDesc}}</label>
                            </div>
                            <div class="col-md-2 col-sm-2 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <button class="btn-sm btn-danger" ng-click="downloadDocumentMarketing(documentList.documentCode)" tooltip="Download">
                                            <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="isSet(2)">
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Badan Usaha</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>{{dataResult.companyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >NPWP</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>NPWP</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Branch</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>Nama Branch</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5; padding-top: 20px"  ng-if="itemSearch.keyName=='input'">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                                <label >Nama Marketing Officer</label>
                            </div>
                            <div class="col-md-6 col-sm-6 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <p>Marketing Officer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Data Kelengkapan</th>
                            <th class="table-header-padding" style="text-align: left">Hasil Verifikasi</th>
                            <th class="table-header-padding" style="text-align: left">Keterangan</th>
                            <th class="table-header-padding" style="text-align: center">Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="documentList in dataResult.documentList">
                            <td style="padding-left:0px;">
                                {{documentList.documentDesc}}
                            </td>
                            <td style="text-align: left">
                               <label>  <input type="radio" name="{{documentList.documentCode}}" ng-value=true ng-change="changed($index,true)" ng-model="documentList.verificationStatus"> OK</label> &nbsp;
                                <label>  <input type="radio" name="{{documentList.documentCode}}" ng-value=false ng-model="documentList.verificationStatus" ng-checked=true ng-change="changed($index, false)"> Tidak</label>
                            </td>
                            <td style="text-align: left">
                                <input type="text" class="form-control" ng-model="documentList.description" ng-disabled="documentList.verificationStatus==true || documentList.verificationStatus==null">
                            </td>
                            <td style="text-align: center">
                                <a ng-href="{{documentList.url}}" target="_blank" class="btn-sm btn-danger" tooltip="Download">
                                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:0px;">
                                Resume AHU
                            </td>
                            <td style="text-align: left">
                                <label>  <input type="radio" name="{{'ResumeAhu'}}" ng-value=true ng-change="changedAhu(true)"  ng-model="verificationAhu"> OK</label> &nbsp;
                                <label>  <input type="radio" name="{{'ResumeAhu'}}" ng-value=false ng-change="changedAhu(false)" ng-model="verificationAhu"> Tidak</label>
                            </td>
                            <td style="text-align: left">
                                <input type="text" class="form-control" ng-model="ahuDescription" ng-disabled="verificationAhu==true || verificationAhu==null">
                            </td>
                            <td style="text-align: center">
                                <a ng-href="{{dataResult.resumeAhuUrl}}" target="_blank" class="btn-sm btn-danger" tooltip="Download">
                                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                </a>
                            </td>

                        </tr>
                        <tr>
                            <td style="padding-left:0px;">
                                NPWP
                            </td>
                            <td style="text-align: left">
                                <label>  <input type="radio" name="{{'npwp'}}" ng-value=true ng-change="changedNpwp(true)" ng-model="verificationNpwp"> OK</label> &nbsp;
                                <label>  <input type="radio" name="{{'npwp'}}" ng-value=false ng-change="changedNpwp(false)" ng-model="verificationNpwp" > Tidak</label>
                            </td>
                            <td style="text-align: left">
                                <input type="text" class="form-control" ng-model="npwpDescription" ng-disabled="verificationNpwp==true || verificationNpwp==null">
                            </td>
                            <td style="text-align: center">
                                <a ng-href="{{dataResult.npwpUrl}}" target="_blank" class="btn-sm btn-danger" tooltip="Download">
                                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                </a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="container-fluid" style="border-bottom: 1px solid #c5c5c5">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding"><input type="checkbox" ng-model="documentList" ng-click="checkedAll()"></th>
                            <th class="table-header-padding">List Nama Request Dokumen Kelengkapan</th>
                            <th class="table-header-padding" style="text-align: left">Keterangan</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="documentTypeList in dataResult.documentTypeList">
                            <th style="padding-left:0px;"><input type="checkbox" ng-model="documentTypeList.value" ng-change="checkedChild(documentTypeList.value)"></th>
                            <td>
                                {{documentTypeList.name}}
                            </td>
                            <td style="text-align: left">
                                <input type="text" class="form-control" ng-model="documentTypeList.documentDescRequest" ng-readonly="!documentTypeList.value">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-3 col-sm-3" style="padding-left: 0px;">
                        <h5>Kelengkapan List Data Dokumen</h5>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <button class="btn submit-button" ng-click="documentCompleted()">Lengkap</button>
                    </div>
                </div>
                <div class="container-fluid" style="margin-top: 10px">
                    <div class="col-md-2 col-sm-2 col-sm-offset-1" style="padding-left: 0px">
                        <button class="btn cancel-button" ng-click="showModalBack()">Cancel</button>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <button class="btn submit-button" ng-click="requestDocument()">Request</button>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>