<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li class="active">Request And Matching Resume</li>
            </ol>
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >APP ID <sup>*</sup></label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.appId" id="myField" placeholder="APP ID" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                        <button ng-click="retrieveAppId()" class="btn button-blue-primary">Retrieve</button>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama Badan</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.companyName" placeholder="Nama Badan" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >No NPWP</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="contentData.npwp" value="" ng-readonly="true" ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >File NPWP</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder="{{myFile.name}}" value="" ng-readonly="true" ng-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                        <input id="npwp" type="file" file-model="myFile" class="hidden">
                        <label for="npwp" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Resume BCA</label>
                    </div>
                    <div class="col-md-6 col-sm-6 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder="{{myFile2.name}}" value="" ng-readonly="true" ng-required="true">
                                <!--<label ng-show="centralBranchInvalid" class="control-label alert-message">Cabang Sentral tidak boleh kosong</label>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                        <input id="resumeBca" type="file" file-model="myFile2" class="hidden">
                        <label for="resumeBca" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left: 0px; padding-bottom:10px">
                        <button class="btn submit-button" ng-click="doAddOtherFile()" ng-if="!otherDocument">Add Other File</button>
                        <button class="btn submit-button" ng-click="doAddOtherFile(false)" ng-if="otherDocument">Hide</button>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7 col-xs-offset-1" style="padding-left: 0px; padding-bottom:10px">
                        <div class="col-md-11 col-sm-11 content-desc" >
                            <div class="form-group row clearfix" >
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn cancel-button" ng-click="showModalBack()" ng-if="!otherDocument">Batal</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left: -30px">
                                    <button class="btn submit-button" ng-click="uploadFile()" ng-if="!otherDocument">Simpan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px; padding-right:0px" ng-show="otherDocument">
                    <div class="container-fluid" style="padding-left:0px;" ng-repeat="fileInput in listDocument">
                        <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                            <label >{{fileInput.name}}<sup style="color:red" ng-if="fileInput.mandatory==true">*</sup></label>
                        </div>
                        <div class="col-md-6 col-sm-6 content-desc" >

                            <div class="form-group row clearfix" >
                                <div class="col-sm-12">
                                    <input type="text" class="form-control form-custom" ng-readonly="true" placeholder="{{listDocument[$index].file.name}}">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 right-form-content" >
                            <input id="{{'upload' + $index}}" type="file" file-model="listDocument[$index].file" class="hidden"/>

                            <label for="{{'upload' + $index}}" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label>

                        </div>

                       <!--  <div class="col-md-2 col-sm-2 right-form-content" >
                            <input id="{{'upload' + $index}}" type="file" file-model="listDocument[$index].file" onchange="angular.element(this).scope().addFile(this, angular.element(this).scope().$index)" class="hidden"/>

                            <label for="{{'upload' + $index}}" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label>

                        </div> -->
                    </div>
                    <div class="container-fluid" style="padding-left:0px;">
                        <div class="col-md-6 col-sm-6 col-xs-offset-4 content-desc" >
                            <div class="form-group row clearfix" >
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn cancel-button" ng-click="showModalBack()">Batal</button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button class="btn submit-button" ng-click="uploadFile()">Simpan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" style="padding-left:0px;">
                        <div class="container-fluid" style="padding-left:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                                <label style="color: red">* <span style="color: #666666">File Mandatory</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>