<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header text-bold">Reserved Billboard
        </h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <!--<div class="panel panel-default">-->

        <!--<div class="panel-body">-->
        <div class="table-responsive">

            <table class="table table-hover ">
                <thead>
                <tr>
                    <th style="padding-left:0px;" class="table-header-padding">Billboard Name</th>
                    <th class="table-header-padding">Type</th>
                    <th class="table-header-padding">Location</th>
                    <th class="table-header-padding" style="text-align: center">Fee Status</th>
                    <th class="table-header-padding" style="text-align: center">Reserved by</th>
                    <th class="table-header-padding" style="text-align: center"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="reservedOwner in reservedOwner">
                    <td style="padding-left:0px;" class="table-padding1">{{reservedOwner.billboardName}}</td>
                    <td class="table-padding1">{{reservedOwner.billboardLightingType}}</td>

                    <td class="table-padding1" style="justify">{{reservedOwner.billboardAddress}}<br>
                        {{reservedOwner.billboardDistrict}}, {{reservedOwner.billboardCity}} <br>
                        {{reservedOwner.billboardProvince}} - Indonesia
                    </td>
                    <td class="table-padding1 text-center" style="color: #EE2C2F;"
                        ng-if="reservedOwner.isFeePaid == false">{{"Not Paid"}}
                    </td>
                    <td class="table-padding1 text-center" style="color: #3AB049;"
                        ng-if="reservedOwner.isFeePaid == true">{{"Paid"}}
                    </td>
                    <td class="table-padding1 text-center"><a
                            ng-click="getDetail(reservedOwner.isFeePaid,reservedOwner.status,reservedOwner.billboardId)"
                            ng-disabled="isDisabled" style="cursor:pointer;">{{reservedOwner.reservedBy}}</a></td>
                    <td class="table-padding1" style="text-align: center;cursor:pointer; ">
                        <a href="" ng-click="rejectAll(reservedOwner.billboardId,reservedOwner.billboardName)"
                           tooltip="Reject All" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" style="text-align:center">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize"
                        class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
                        items-per-page="limit"></pagination>
        </div>
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<a href="#0" class="cd-top" style="z-index: 99; color: #fff"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 300,
        //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
                offset_opacity = 1200,
        //duration of the top scrolling animation (in ms)
                scroll_top_duration = 700,
        //grab the "back to top" link
                $back_to_top = $('.cd-top');

        //hide or show the "back to top" link
        $(window).scroll(function () {
            ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
            if ($(this).scrollTop() > offset_opacity) {
                $back_to_top.addClass('cd-fade-out');
            }
        });

        //smooth scroll to top
        $back_to_top.on('click', function (event) {
            event.preventDefault();
            $('body,html').animate({
                        scrollTop: 0,
                    }, scroll_top_duration
            );
        });

    });

</script>