<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-lg-12">
        <h3 class="page-header text-bold">Reserved Billboard
        </h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <!--<div class="panel panel-default">-->
            <!--<div class="panel-body">-->
        <div>
            <b style="padding-top:50px;font-size: 18px">{{name}}</b>
            <p style="padding-top:10px;">{{address}}<br>{{districtName}}, {{cityName}}<br>{{provinceName}} - Indonesia.<br><br>{{desc}}</p>
            <h3 class="page-header ">
            </h3>
        </div>
                <div class="col-md-12 " ng-repeat="pilihUser in pilihUser">

                    <div >
                        <div style="width: 300px; height: 40px; background-color: #E81E47; color: white; font-size: medium; text-align: left; padding-top: 10px; padding-bottom: 10px;padding-left: 10px">
                        <b >{{pilihUser.billboardUserFullName}}</b></div>
                        <p style="padding-top:10px;"> Company Name: {{pilihUser.billboardUserCompanyName}},
                         email: {{pilihUser.billboardUserEmail}},
                       phone number: {{pilihUser.billboardUserPhoneNumber}}.
                    </div>
                    <div class="form-group" style="padding-left: 0px; margin-top: 5px" >
                        <div class="container-fluid">
                            <div class="col-md-12 ">
                                <label class="col-md-3 control-label" style="text-align:left;">Price</label>
                                <label class="col-md-1 control-label">:</label>

                                <div class="col-md-6" style="padding-left: 0px">
                                    <input type="number" step="1" min="1" class="form-control" id='price' name='price' ng-model="pilihUser.price" required>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding-left: 0px; margin-top: 5px">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <label class="col-md-3 control-label" style="text-align:left;">Start Date</label>
                                <label class="col-md-1 control-label">:</label>

                                <div class="col-md-6" style="padding-left: 0px">
                                    <p class="input-group">
                                        <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}"
                                               ng-model="pilihUser.dtAwal"
                                               is-open="dateBoolean[$index].valueStart" datepicker-options="dateOptions" ng-required="true"
                                               close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openAwal($event,$index)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding-left: 0px; margin-top: 5px">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <label class="col-md-3 control-label" style="text-align:left;">End Date</label>
                                <label class="col-md-1 control-label">:</label>

                                <div class="col-md-6" style="padding-left: 0px">
                                    <p class="input-group">
                                        <input name="dateAkhir" type="text" class="form-control" datepicker-popup="{{format}}"
                                               ng-model="pilihUser.dtAkhir"
                                               is-open="dateBoolean[$index].valueEnd" datepicker-options="dateOptions" ng-required="true"
                                               close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openAkhir($event,$index)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    </p>
                                </div>

                            </div>
                        </div>
                        <h3 class="page-header ">
                        </h3>
                    </div>
                    </div>
                <div class="form-group col-md-12" align="right" style="padding-top:15px;">
                    <button type="button" class="btn btn-primary btn-back-add" ng-click="cancel()">Back</button>
                    <button type="submit" class="btn btn-primary btn-book-add" ng-click="submit()">Submit</button>

                </div>
                <!--</div>-->


            <!--</div>-->
            </div>

        </div>


<script>
    $(function () {
        $(function () {
            $('#staticParent').on('keydown', '#child', function (e) {
                -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault()
            });
        });
        $("[type='number']").keydown(function (evt) {
            if (evt.which == 190 || evt.which == 188) {
                return false;
            }
        });

    });

</script>

<script type="text/javascript">

    jQuery(document).ready(function ($) {
        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 300,
        //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
                offset_opacity = 1200,
        //duration of the top scrolling animation (in ms)
                scroll_top_duration = 700,
        //grab the "back to top" link
                $back_to_top = $('.cd-top');

        //hide or show the "back to top" link
        $(window).scroll(function () {
            ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
            if ($(this).scrollTop() > offset_opacity) {
                $back_to_top.addClass('cd-fade-out');
            }
        });

        //smooth scroll to top
        $back_to_top.on('click', function (event) {
            event.preventDefault();
            $('body,html').animate({
                        scrollTop: 0,
                    }, scroll_top_duration
            );
        });

    });

</script>
