<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header-css text-bold">Reserved Billboard
        </h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <!--<div class="panel panel-default">-->

        <!--<div class="panel-body">-->
        <div class="table-responsive">

            <table class="table table-hover " ng-hide="user">
                <thead>
                <tr>
                    <th style="padding-left:0px;" class="table-header-padding">Reserved Code</th>
                    <th class="table-header-padding">Billboard Owner</th>
                    <th class="table-header-padding">Billboard Name</th>
                    <th class="table-header-padding">Phone Number</th>
                    <th class="table-header-padding">Price</th>
                    <th class="table-header-padding">Booking Expired</th>
                    <th class="table-header-padding">Payment date</th>
                    <th class="table-header-padding">
                        <div class="btn-group" style="width: 120px">
                            <select name="kategori" class="form-control" ng-model="status.keyName"
                                    ng-change="pilihStatus()">
                                <option value="">Status</option>
                                <option ng-repeat="status in status" value="{{status.keyName}}">{{status.name}}</option>
                            </select>
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="reservedUser in reservedUser">
                    <td style="padding-left:0px;" class="header-verifikasi table-padding1">
                        {{reservedUser.reserveCode}}
                    </td>
                    <td class="header-verifikasi table-padding1">{{reservedUser.billboardOwnerCompanyName}}</td>
                    <td class="header-verifikasi table-padding1">{{reservedUser.billboardName}}</td>
                    <td class="header-verifikasi table-padding1">{{reservedUser.billboardOwnerPhone}}</td>
                    <td class="header-verifikasi table-padding1">{{reservedUser.price | idr}}</td>
                    <td class="header-verifikasi table-padding1">{{reservedUser.expiredDate | date:"dd-MMM-yyyy"}}</td>
                    <td class="header-verifikasi table-padding1">{{reservedUser.paymentDate | date:"dd-MMM-yyyy"}}</td>
                    <td class="header-verifikasi table-padding1 text-center" style="color: #F6AC3C"
                        ng-if="reservedUser.status == 'BOOKED'">{{"Booked"}}
                    </td>
                    <td class="header-verifikasi table-padding1 text-center" style="color: #3FA3CF"
                        ng-if="reservedUser.status == 'RESERVED'">{{"Reserved"}}
                    </td>
                    <td class="header-verifikasi table-padding1 text-center" style="color: #EE2C2F"
                        ng-if="reservedUser.status == 'RENTED'">{{"Rented"}}
                    </td>
                    <td class="header-verifikasi table-padding1 text-center" style="color: #046937"
                        ng-if="reservedUser.status == 'TO_REFUND'">{{"To Refund"}}
                    </td>
                    <td class="header-verifikasi table-padding1 text-center" style="color: #3AB049"
                        ng-if="reservedUser.status == 'REFUND_PAID'">{{"Refund Paid"}}
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive">

            <table class="table table-hover" ng-hide="admin">
                <thead>
                <tr>
                    <th style="padding-left:0px;">Reserved Code</th>
                    <th>Billboard Name</th>
                    <th>Billboard Owner</th>
                    <th>Billboard Buyer</th>
                    <th>Price</th>
                    <th>Booking Expired</th>
                    <th>Reserved Fee</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="reservedAdmin in reservedAdmin">
                    <td style="padding-left:0px;" class="table-padding1">{{reservedAdmin.reserveCode}}</td>
                    <td class="table-padding1">{{reservedAdmin.billboardName}}</td>
                    <td class="table-padding1">{{reservedAdmin.billboardOwnerFullName}}</td>
                    <td class="table-padding1">{{reservedAdmin.billboardUserFullName}}</td>
                    <td class="table-padding1">{{reservedAdmin.price | idr}}</td>
                    <td class="table-padding1">{{reservedAdmin.expiredDate | date:"dd-MMM-yyyy"}}</td>
                    <!--<td style="color: #3AB049"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></td>-->
                    <td class="table-padding2 pointer">
                        <a href="" ng-click="approveBB(reservedAdmin.reserveCode)" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12" style="text-align:center">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize"
                        class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"
                        items-per-page="limit"></pagination>
        </div>

    </div>
</div>
</div>
</div>

<a href="#0" class="cd-top" style="z-index: 99; color: #fff"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 300,
        //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
                offset_opacity = 1200,
        //duration of the top scrolling animation (in ms)
                scroll_top_duration = 700,
        //grab the "back to top" link
                $back_to_top = $('.cd-top');

        //hide or show the "back to top" link
        $(window).scroll(function () {
            ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
            if ($(this).scrollTop() > offset_opacity) {
                $back_to_top.addClass('cd-fade-out');
            }
        });

        //smooth scroll to top
        $back_to_top.on('click', function (event) {
            event.preventDefault();
            $('body,html').animate({
                        scrollTop: 0,
                    }, scroll_top_duration
            );
        });

    });

</script>