<!--<div class="main-panel">-->
    <!--<nav class="navbar navbar-transparent navbar-absolute">-->
        <!--<div class="container-fluid">-->
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse">-->
                    <!--<span class="sr-only">Toggle navigation</span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="#">Table List</a>-->
            <!--</div>-->
            <!--<div class="collapse navbar-collapse">-->
                <!--<ul class="nav navbar-nav navbar-right">-->
                    <!--<li>-->
                        <!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">dashboard</i>-->
                            <!--<p class="hidden-lg hidden-md">Dashboard</p>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">notifications</i>-->
                            <!--<span class="notification">5</span>-->
                            <!--<p class="hidden-lg hidden-md">Notifications</p>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="#">Mike John responded to your email</a></li>-->
                            <!--<li><a href="#">You have 5 new tasks</a></li>-->
                            <!--<li><a href="#">You're now friend with Andrew</a></li>-->
                            <!--<li><a href="#">Another Notification</a></li>-->
                            <!--<li><a href="#">Another One</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="material-icons">person</i>-->
                            <!--<p class="hidden-lg hidden-md">Profile</p>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->

                <!--<form class="navbar-form navbar-right" role="search">-->
                    <!--<div class="form-group  is-empty">-->
                        <!--<input type="text" class="form-control" placeholder="Search">-->
                        <!--<span class="material-input"></span>-->
                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-white btn-round btn-just-icon">-->
                        <!--<i class="material-icons">search</i><div class="ripple-container"></div>-->
                    <!--</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</nav>-->

    <!--<div class="content">-->
        <!--<div class="container-fluid">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="card">-->
                        <!--<div class="card-header" data-background-color="green">-->
                            <!--<h4 class="title">Maintenance Reseller</h4>-->
                        <!--</div>-->
                        <!--<div class="card-header-button">-->
                            <!--<button class="btn btn-primary-custom" ng-click="createReseller()">Create Reseller</button>-->
                        <!--</div>-->

                        <!--<div class="card-content table-responsive">-->
                            <!--<table class="table">-->
                                <!--<thead class="text-primary">-->
                                <!--<th>Name</th>-->
                                <!--<th>Email</th>-->
                                <!--<th>Balance</th>-->
                                <!--<th>Action</th>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<tr ng-repeat="user in resellerList">-->
                                    <!--<td>{{user.name}}</td>-->
                                    <!--<td>{{user.email}}</td>-->
                                    <!--<td>{{user.balance}}</td>-->
                                    <!--<td class="text-primary">-->
                                        <!--<a href="" ng-click="doUpdateReseller()"><i class="material-icons">mode_edit</i></a>-->
                                        <!--&nbsp;-->
                                        <!--<a href="" ng-click="doDeleteReseller()"><i class="material-icons">delete</i></a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</div>-->

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Reseller
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--    Hover Rows  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-primary" ng-click="createReseller()">Create Reseller</button>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Balance</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in resellerList">
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.balance}}</td>
                            <td>
                                <a class="btn-sm btn-success" href="" ng-click="doUpdateReseller(user.uid)" tooltip="Update"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                &nbsp;
                                <a class="btn-sm btn-danger" href="" ng-click="doDeleteReseller(user.uid, user.username)" tooltip="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End  Hover Rows  -->
    </div>
</div>
<!-- /. ROW  -->