<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header text-bold">Reserved Billboard
		</h3>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-12">
		<!--<div class="panel panel-default">-->
			<!--<div class="panel-body">-->
					<div class="col-md-12 ">
						<div>
							<b style="padding-top:50px;font-size: 18px">{{billName}}</b>
							<p style="padding-top:10px;">{{billAddress}}<br>{{districtName}}, {{cityName}}<br>{{provinceName}} - Indonesia.<br><br> {{desc}}</p>
						</div>
							<div class="col-md-12" style="padding-left: 0px; margin-top: 5px">
								<div class="container-fluid">
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
											<tr>
												<th style="text-align: center;"></th>
												<th style="vertical-align: middle; text-align:center;">Name</th>
												<th style="vertical-align: middle; text-align:center;">Company Name</th>
												<th style="vertical-align: middle; text-align:center;">Email</th>
												<th style="vertical-align: middle; text-align:center;">No.Handphone</th>
											</tr>
											</thead>
											<tbody>
											<tr ng-repeat="reserved1 in reserved1">
												<td style="text-align: center;"><input type="checkbox" ng-model="reserved1.selected" ng-change="isLabelChecked()"></td>
												<td style="text-align: center;">{{reserved1.billboardUserFullName}}</td>
												<td style="text-align: center;">{{reserved1.billboardUserCompanyName}}</td>
												<td style="text-align: center;">{{reserved1.billboardUserEmail}}</td>
												<td style="text-align: center;">{{reserved1.billboardUserPhoneNumber}}</td>

											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						<div class="col-md-12" align="right" style="padding-top:15px;">
							<!--<button type="button" class="btn btn-primary" ng-click="cancel()">Back</button>-->
							<button type="button" class="btn btn-primary btn-book-add" ng-click="next()">Next</button>
						</div>
					</div>
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>
</div>
<script type="text/javascript">

	jQuery(document).ready(function ($) {
		// browser window scroll (in pixels) after which the "back to top" link is shown
		var offset = 300,
		//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
				offset_opacity = 1200,
		//duration of the top scrolling animation (in ms)
				scroll_top_duration = 700,
		//grab the "back to top" link
				$back_to_top = $('.cd-top');

		//hide or show the "back to top" link
		$(window).scroll(function () {
			( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
			if ($(this).scrollTop() > offset_opacity) {
				$back_to_top.addClass('cd-fade-out');
			}
		});

		//smooth scroll to top
		$back_to_top.on('click', function (event) {
			event.preventDefault();
			$('body,html').animate({
						scrollTop: 0,
					}, scroll_top_duration
			);
		});

	});

</script>