<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-md-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-6" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <select class="form-control" ng-options="notary as notary.name for notary in notaries" style="width: 100%" ng-model="itemNotary" ng-change="getListInvoice(itemNotary)" ng-blur="getListNotary(itemNotary)"></select>
                </div>
                <div class="col-md-6 col-sm-offset-2" style="padding-left: 25px; padding-bottom: 5px; padding-top: 5px">
                    <select class="form-control" ng-options="invoice as invoice.batchNumber for invoice in invoices" style="width: 100%" ng-model="itemInvoice" ng-change="getListReceiveInvoice(itemInvoice)" ng-blur="getListReceiveInvoice(itemInvoice)"></select>
                </div>
                <div class="col-md-1 container-btn-search">
                    <div class="input-group">
                        <button ng-click="doSearch()" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
           <!--  <div class="form-group col-md-2">
                <button ng-click="submit()" ng-show="listRequestResumes.resumeInvoiceList.length > 0" class="btn button-blue-primary">Create Text File</button>
            </div> -->
        </form>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="padding-left:0px;" class="table-header-padding">Notaris</th>
                <th class="table-header-padding">No Batch</th>
                <th class="table-header-padding">No Invoice</th>
                <th class="table-header-padding">Total Fee</th>
                <th class="table-header-padding">Actual Fee</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="listRequestResume in listRequestResumes" ng-click="goToDetail(listRequestResume.id)">
                <td style="padding-left:0px;">{{listRequestResume.notaryname}}</td>
                <td>{{listRequestResume.batchNumber}}</td>
                <td>{{listRequestResume.invoiceNumber}}</td>
                <td>{{listRequestResume.totalFee}}</td>
                <td>{{listRequestResume.actualFee}}</td>
                <!-- <td style="text-align: center">
                    <a href="" ng-click="doCancelRequest(listRequestResume.id,listRequestResume.version)" class="icon-to-cancel" tooltip="Hapus"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td> -->
            </tr>
            </tbody>
        </table>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>