<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-md-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-2 head-label">
                    <select class="form-control" ng-options="search as search.value for search in search" ng-model="itemSearch"></select>
                </div>
                <div class="col-md-6">
                        <input type="text" class="form-control form-custom field-search" placeholder="Input Text" ng-model="searchValue">
                 </div>
                <div class="col-md-1 container-btn-search">
                    <div class="input-group">
                        <button ng-click="doSearch(itemSearch,searchValue)" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2">
                <button ng-click="createGroup()" class="btn button-blue-primary">Tambah Group</button>
            </div>
        </form>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="padding-left:15px;" class="table-header-padding">Group ID</th>
                <th class="table-header-padding">Group Name</th>
                <th class="table-header-padding">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in contentData">
                <td  style="padding-left:15px;">{{group.code}}</td>
                <td>{{group.name}}</td>
                <td>
                    <a href="" ng-click="doUpdateGroup(group.id)" class="icon-to-edit" tooltip="Ubah"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    &nbsp; &nbsp;
                    <a href="" ng-click="doDeleteGroup(group.id,group.name)" class="icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>