<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 col-sm-10 left-header-content">
                <div class="col-md-2 col-sm-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-2 col-sm-2 head-label">
                    <select class="form-control" ng-options="search as search.value for search in search" ng-model="itemSearch"></select>
                </div>
                <div class="col-md-6 col-sm-6">
                    <input type="text" class="form-control form-custom field-search" placeholder="Input Text" ng-model="searchValue">
                </div>
                <div class="col-md-1 container-btn-search">
                    <div class="input-group">
                        <button ng-click="doSearch(itemSearch,searchValue)" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2 col-sm-2">
                <button ng-click="createUser()" class="btn button-blue-primary">Tambah User</button>
            </div>
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="padding-left:0px;" class="table-header-padding">NIP</th>
                    <th class="table-header-padding">Nama</th>
                    <th class="table-header-padding">Cabang</th>
                    <th class="table-header-padding">Jabatan</th>
                    <th class="table-header-padding">Divisi</th>
                    <th class="table-header-padding">Status</th>
                    <th class="table-header-padding" style="text-align: center" >Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td style="padding-left:0px;">{{ user.nip }}</td>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.branch }}</td>
                    <td>{{ user.position }}</td>
                    <td>{{user.division}}</td>
                    <td ng-if="user.status==0">{{"Non Aktif"}}</td>
                    <td ng-if="user.status==1">{{"Aktif"}}</td>
                    <td ng-if="user.status==2">{{"Locked"}}</td>
                    <td style="text-align: center"><a href="" ng-click="doUpdateUser(user.id)" class="icon-to-edit" tooltip="Ubah"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        &nbsp; &nbsp;</td>



                </tr>
            </tbody>
        </table>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>