<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" ng-submit="findValue(search)" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
<!--                 <div class="col-md-2 head-label">
                    <h5>Setting Parameter Masa Berlaku</h5>
                </div> -->
                <div class="col-md-2 head-label">
                    <!-- <h5>Search By</h5> -->
                </div>
                <div class="col-md-6">
                    <!-- <input type="text" class="form-control form-custom field-search" placeholder="Area"> -->
                </div>
                <div class="col-md-1 container-btn-search">
                    <!-- <div class="input-group"> -->
                        <!-- <button ng-click="doSearch()" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                    <!-- </div> -->
                </div>
            </div>
            <div class="form-group col-md-2">
                <button ng-click="doCreateMasaBerlaku()" class="btn button-blue-primary">New Data</button>
                <!-- <button ng-click="lovBranchCentral()" class="btn button-blue-primary">New Data</button> -->
            </div>
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="table-header-padding">Create Date</th>
                <th class="table-header-padding">Effective Date</th>
                <th class="table-header-padding">Masa Berlaku Dokumen (hari)</th>
                <!-- <th class="table-header-padding">Action</th> -->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="centralBranch in branches">
                <td>{{ centralBranch.creationDate | date :'dd-MMM-yyyy'}}</td>
                <td>{{ centralBranch.effectiveDate | date :'dd-MMM-yyyy'}}</td>
                <td>{{ centralBranch.period }}</td>
                <td ng-show="checkValidasi(centralBranch.effectiveDate)" style="border:none;">
                    <!-- <a href="" ng-click="doUpdateParameterNotary(notary.id)" class="icon-to-edit" tooltip="Ubah"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    &nbsp; &nbsp; -->
                    <a href="" ng-click="doDeleteMasaBerlaku(centralBranch.id,centralBranch.effectiveDate)" class="icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>