<div class="row">
    <div class="col-lg-12 page-header-section">

        <div class="col-lg-4">
            <h4>Tax Notary</h4>
        </div>
        <div class="col-lg-5">
           
        </div>
        <div class="col-lg-3" style="margin-bottom: 10px;">
	        <div class="col-lg-1">
	        	<button ng-click="doCreateTax()" class="btn button-blue-primary">Tambah Tax</button>   
	        </div>
	          <div class="col-lg-2">
              </div>
	        </div> 
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th style="padding-left:0px;" class="table-header-padding">DPP</th>
                <th class="table-header-padding">Ada NPWP</th>
                <th class="table-header-padding">Tidak ada NPWP</th>
                <th class="table-header-padding">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dataResult in dataResult">
                <td style="padding-left:0px;">{{ dataResult.minAmount}}-{{ dataResult.maxAmount}}</td>
                <td>{{ dataResult.npwp }}</td>
                <td>{{ dataResult.nonNpwp }}</td>
                <td>
                    <a href="" ng-click="doUpdateTax(dataResult.id)" class="icon-to-edit" tooltip="Ubah"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    &nbsp; &nbsp;
                    <a href="" ng-click="doDeleteTax(dataResult.id)" class="icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    <!--<a href="" ng-click="doDeleteTax()" class="icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
            <!---->
                    <!--<a href="" ng-click="doUpdateTax()" class="icon-to-edit" tooltip="Update"><i class="fa fa-edit" aria-hidden="true"></i></a>-->
                </td>
            </tr>
           </tbody>
        </table>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>