<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
            </div>
            <div class="form-group col-md-2">
                <button ng-click="createSLA()" class="btn button-blue-primary">Tambah Data SLA</button>
            </div>
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="table-header-padding">Create Date</th>
                <th class="table-header-padding">Effective Date</th>
                <th class="table-header-padding">SLA (hari)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in datas">
                <td>{{ data.creationDate | date: 'dd MMMM yyyy' }}</td>
                <td>{{ data.effectiveDate | date: 'dd MMMM yyyy'  }}</td>
                <td>{{ data.period }}</td>
                <td>
                    <a href="" ng-click="doDeleteSLA(data.id)" class="icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>