<div class="row">
    <div class="col-lg-12 page-header-section">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-10 left-header-content">
                <div class="col-md-2 head-label">
                    <h5>Search By</h5>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control form-custom field-search" placeholder="Area" ng-model="searchValue">
                </div>
                <div class="col-md-1 container-btn-search">
                    <div class="input-group">
                        <button ng-click="doSearch(searchValue)" class="btn button-search-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2">
                <button ng-click="createParameterBranchCentral()" class="btn button-blue-primary">Tambah Area</button>
            </div>
        </form>
    </div>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12 table-of-content">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="table-header-padding">Area</th>
                <th class="table-header-padding">Create Date</th>
                <th class="table-header-padding">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="centralBranch in branches">
                <td>{{ centralBranch.name }}</td>
                <td>{{ centralBranch.creationDate | date: 'dd MMMM yyyy'  }}</td>
                <td>
                    <a href="" ng-click="doUpdateParameterBranchCentral(centralBranch.id)" class="icon-to-edit" tooltip="Ubah"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    &nbsp; &nbsp;
                    <a href="" ng-click="doDeleteParameterBranchCentral(centralBranch.id, centralBranch.name)" class="icon-to-delete" tooltip="Hapus"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
            <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
        </div>
    </div>
</div>