<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Transaction Detail
        </h1>
        <h4>Code: {{code}}</h4>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Shipping Fee</th>
                                    <th>Subtotal</th>
                                    <th>Description</th>
                                    <th>Feedback</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="data in data">
                                    <td>{{data.product}}</td>
                                    <td>{{data.quantity}}</td>
                                    <td>{{data.shipping_fee}}</td>
                                    <td>{{data.subtotal}}</td>
                                    <td>{{data.description}}</td>
                                    <td>
                                        <button class="btn-sm btn-primary" ng-style="disabledBtn(data.feedback)" ng-if="data.id_feedback==0" ng-click="data.feedback || goToFeedback(data.id_product)">Give Feedback</button>
                                        <button ng-if="data.feedback && data.id_feedback>0" class="btn-sm btn-warning" ng-click="goToViewFeedback(data.id_feedback)">View Feedback</button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>