<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Transaction
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!--    Hover Rows  -->
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr ng-if="isAdmin()">
                            <th>Order Code</th>
                            <th>Reseller Name</th>
                            <th>Total</th>
                            <th>Payment Method</th>
                            <th>Shipping Method</th>
                            <th>Shipping Date</th>
                            <th>Shipping Fee</th>
                            <th>Order Date</th>
                            <th>Order Status</th>
                            <th>Approve</th>
                        </tr>

                        <tr ng-if="isProdusen()">
                            <th>Order Code</th>
                            <th>Reseller</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                            <th>Order Date</th>
                            <th>Shipping Date</th>
                            <th>Shipping Fee</th>
                            <th>Notes</th>
                            <!--<th>Cancel</th>-->
                        </tr>

                        <tr ng-if="isReseller()">
                            <th>Order Code</th>
                            <th>Total</th>
                            <th>Payment Method</th>
                            <th>Shipping Method</th>
                            <th>Shipping Date</th>
                            <th>Shipping Fee</th>
                            <th>Order Date</th>
                            <th>Order Status</th>
                            <!--<th>Cancel</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="isAdmin()" ng-repeat="data in transaction">
                            <td>{{data.order_code}}</td>
                            <td>{{data.reseller}}</td>
                            <td>{{data.total | currency : 'Rp. '}}</td>
                            <td>{{data.payment_method}}</td>
                            <td>{{data.shipping_method}}</td>
                            <td>{{data.shipping_date}}</td>
                            <td>{{data.shipping_fee | currency : 'Rp.'}}</td>
                            <td>{{data.order_date}}</td>
                            <td>{{data.order_status}}</td>
                            <td><button class="btn-sm btn-success" ng-class="checkOrderStatus(data.order_status)" ng-click=" data.order_status != 'Challenge' || approveTransaction(data.order_code)" tooltip="Approve"><i class="fa fa-check"></i></button></td>
                        </tr>
                        <tr ng-if="isProdusen()" ng-repeat="data in transaction">
                            <td>{{data.order_code}}</td>
                            <td>{{data.reseller_name}}</td>
                            <td>{{data.product_name}}</td>
                            <td>{{data.price_low | currency : "Rp. "}}</td>
                            <td>{{data.quantity}}</td>
                            <td>{{data.subtotal | currency : 'Rp.'}}</td>
                            <td>{{data.order_date}}</td>
                            <td>{{data.shipping_date}}</td>
                            <td>{{data.shipping_fee | currency : "Rp. "}}</td>
                            <td>{{data.notes}}</td>
                            <!--<td><button class="btn-sm btn-danger" tooltip="Cancel"><i class="fa fa-close"></i></button></td>-->
                        </tr>
                        <tr ng-if="isReseller()" ng-repeat="data in transaction" ng-click="goToDetail(data.order_code)" style="cursor: pointer">
                            <td>{{data.order_code}}</td>
                            <td>{{data.total}}</td>
                            <td>{{data.payment_method}}</td>
                            <td>{{data.shipping_method}}</td>
                            <td>{{data.shipping_date}}</td>
                            <td>{{data.shipping_fee | currency : 'Rp.'}}</td>
                            <td>{{data.order_date}}</td>
                            <td>{{data.order_status}}</td>
                            <!--<td><button class="btn-sm btn-danger" tooltip="Cancel"><i class="fa fa-close"></i></button></td>-->
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12" style="text-align:center; padding-left:0px; padding-right:0px;">
                        <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="limit"></pagination>
                    </div>
                </div>
            </div>
        </div>
        <!-- End  Hover Rows  -->
    </div>
</div>
<!-- /. ROW  -->