<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Setting Notary
                <li class="active">Ubah Notary</li>
            </ol>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 detail-left no-padding-element" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama Notary</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="details.name" placeholder="Nama Notary" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Notary ID</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="details.notaryId" placeholder="Notary ID" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Alamat</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="details.address" placeholder="Alamat" value="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Kota</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="details.city" placeholder="Kota" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Telepon</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="details.phone" placeholder="Nomor Telepon" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Fax</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="details.fax" placeholder="Nomor Fax" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Contact Person</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="details.contactPerson" placeholder="Contact Person" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 detail-right no-padding-element" style="padding-left:0px;">
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Account No</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="details.accountNo" placeholder="Nomor Akun" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Account Name</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="details.accountName" placeholder="Nama Akun" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Bank</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="details.bank" placeholder="Bank" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px; padding-right: 0px">
                        <label >Bank Branch ID</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="details.bankBranchId" placeholder="Bank Branch ID" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Bank Branch</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="details.bankBranch" placeholder="Cabang Bank" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-right:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Saldo</label>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12" style="padding-right: 0px">
                                <input type="text" class="form-control form-custom" ng-model="details.balance" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--BOTTOM FORM SIDE -->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="breadcrumb-custom"></div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 detail-left no-padding-element" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Kode Kliring</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control" ng-model="details.kliringCode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Jenis Notary</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <select name="cliringCode" ng-model="details.notaryType" class="form-control">
                                    <option ng-repeat="notaryType in notaryType" value="{{notaryType.value}}">{{notaryType.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Fee Resume</label>
                    </div>
                    <div class="col-md-3 col-sm-3 content-desc" style="padding-right: 5px;">
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="number" class="form-control form-custom" placeholder="Fee Resume" ng-model="feeResume">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 content-desc" style="padding-left: 0px">
                        <p class="input-group">
                            <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                   ng-model="tglEfektif"
                                   is-open="awal.opened" datepicker-options="dateOptions" placeholder="Effective Date" ng-required="true"
                                   close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openAwal($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                        </p>
                    </div>
                    <div class="col-md-1 col-sm-1 right-form-content plus-icon" >
                        <a href="" ng-click="addResume(feeResume, tglEfektif)"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;" ng-repeat="notaryFeeResumeList in details.notaryFeeResumeList">
                    <div class="col-md-3 col-sm-3 col-xs-offset-3 content-desc" style="padding-right: 5px;">
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder="Fee Resume" ng-readonly="true" ng-model="notaryFeeResumeList.feeResume">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 content-desc" style="padding-left: 0px">
                        <p class="input-group">
                            <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}"
                                   ng-model="notaryFeeResumeList.effectiveDate"
                                   datepicker-options="dateOptions" ng-required="true"
                                   close-text="Close" required readonly/>

                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" disabled><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-1 col-sm-1 right-form-content plus-icon" >
                        <a href="" ng-click="deleteFeeResume($index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!--<div class="container-fluid" style="padding-left:0px;">-->
                    <!--&lt;!&ndash;<div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label >Fee Resume</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-md-4 col-sm-4 content-desc" >&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="form-group row clearfix" >&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="col-sm-12">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" class="form-control form-custom">&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-md-4 col-sm-4 content-desc" >&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="form-group row clearfix" >&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<div class="col-sm-12">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<input type="text" class="form-control form-custom">&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<p class="input-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}"&ndash;&gt;-->
                                   <!--&lt;!&ndash;ng-model="startDate"&ndash;&gt;-->
                                   <!--&lt;!&ndash;is-open="awal.opened" datepicker-options="dateOptions" ng-required="true"&ndash;&gt;-->
                                   <!--&lt;!&ndash;close-text="Close" required/>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<span class="input-group-btn">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<button type="button" class="btn btn-default" ng-click="openAwal($event)"><i&ndash;&gt;-->
                                            <!--&lt;!&ndash;class="glyphicon glyphicon-calendar"></i></button>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</p>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="col-md-1 col-sm-1 right-form-content plus-icon" >&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="" ng-click="lovGroupPrivilege()"><i class="fa fa-plus" aria-hidden="true"></i></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;padding-right: 0px">
                        <label>NPWP</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <div class="radio">
                                        <label><input type="radio" name="npwp" ng-value="true" ng-model="details.npwpStatus">Ya</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="radio">
                                        <label><input type="radio" name="npwp" ng-value="false" ng-model="details.npwpStatus">Tidak</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-offset-3 content-desc" style="margin-top: -10px">
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-if="details.npwpStatus==true" ng-model="details.npwpNo" placeholder="Nomor NPWP">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;" ng-if="details.npwpStatus==true">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Alamat NPWP</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="details.npwpAdress" placeholder="Alamat NPWP" ng-readonly="boolean">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >PPN</label>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="number" class="form-control form-custom" ng-model="details.ppn" placeholder="PPN" ng-readonly="boolean">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 content-desc" style="margin: 10px 0px 0px -10px">
                        %
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;padding-right: 0px">
                        <label >SKB</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <div class="col-sm-5">
                                    <div class="radio">
                                        <label><input type="radio" name="skb" ng-model="details.skb" ng-value="true" ng-checked="true">Ya</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="radio">
                                        <label><input type="radio" name="skb" ng-model="details.skb" ng-value="false">Tidak</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;" ng-if="contentData.group.length > 0" ng-repeat="listGroup in contentData.group">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc">
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="listGroup.name" ng-value="listGroup.name" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content plus-icon">
                        <a href="" ng-click="deleteGroup($index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn cancel-button">Batal</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn submit-button" ng-click="updateSettingNotary()">Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>