<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Update Category
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="user.name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Old Image</label>
                                <div class="col-sm-8">
                                    <a href="" class="btn btn-primary" ng-click="viewOldImage()"><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">New Image</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="{{image.name}}" ng-readonly="true">
                                </div>
                                <div class="col-sm-2">
                                    <input id="images" type="file" file-model="image" class="hidden">
                                    <label for="images" class="btn-sm btn-success"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Image"></i></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-8">
                                    <textarea style="height: 80px" class="form-control" ng-model="user.description" placeholder="Description">

                                    </textarea>
                                </div>
                            </div>

                            <button type="reset" class="btn btn-danger">Cancel</button>
                            <button type="submit" ng-click="processSubmit()" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>