<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Parameter Group</li>
                <li class="active">Ubah Group</li>
            </ol>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-5 col-sm-5 col-xs-5 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama Group</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" style="margin-left: -100px;" class="form-control form-custom" ng-model="privileges.name" placeholder="Nama Group" value="" required="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-5 col-sm-5 col-xs-5 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Access Level</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <select class="form-control" style="margin-left: -100px;" ng-options="accessLevel as accessLevel.instance for accessLevel in accessLevel" ng-model="itemAccessLevel" disabled></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row content-container" ng-repeat="privilege in privileges.privilegeList">
                    <div class="container-fluid" style="padding-left:0px; margin-bottom: 10px;">
                        <div class="col-md-5 col-sm-5 col-xs-5 label-desc" style="padding-left:0px;margin-top:10px;">
                            <label><h4>{{privilege.category}}</h4></label>
                        </div>
                    </div>
                    <div class="row">

                    </div>
                    <div class="container-fluid" style="padding-left:0px;" ng-repeat="subCategory in privilege.subCategoryPrivilegeList">
                        <div class="col-sm-6 label-desc" style="padding-left:0px;">
                            <label >{{subCategory.subCategory}}</label>
                        </div>
                        <div class="col-md-6 col-sm-6 content-desc">
                            <div class="form-group row clearfix" >
                                <div class="col-sm-6" style="margin-left: -100px;" ng-repeat="privilegeList in subCategory.privilegeList">
                                    <input type="radio" style="margin-left: 20px;" ng-model="privilegeList.value" name="{{subCategory.subCategory}}" ng-value=true ng-change="changed($parent.$parent.$index,$parent.$index,privilegeList.id)"> {{privilegeList.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px; margin-top:60px; margin-left: 100px;">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: -315px;" >
                                <button class="btn cancel-button" ng-click="canceled()">Batal</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6" style="margin-left: -40px;">
                                <button class="btn submit-button" ng-click="updateGroup()">Simpan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>