<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Update Reseller
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-9">
                        <form role="form">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <input type="text" class="form-control" ng-model="data.name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Phone Number</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <input type="text" ng-model="data.contact" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Photo</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <input type="text" placeholder="{{photo.name}}" class="form-control" ng-readonly="true">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group label-floating">
                                                <input id="photo" type="file" file-model="photo" class="hidden">
                                                <label for="photo" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload Icon"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-3">-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="control-label">Country</label>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-6">-->
                                            <!--<div class="form-group label-floating">-->
                                                <!--<select class="form-control" ng-options="orient as orient.name for orient in country" ng-model="itemCountry"></select>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Province</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <select class="form-control" ng-options="orient as orient.name for orient in province" ng-model="itemProvince" ng-change="setCity(itemProvince)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">City</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <select class="form-control" ng-options="orient as orient.city_name for orient in city" ng-model="itemCity" ng-change="selectCity(itemCity)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Address</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <textarea ng-model="data.address" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Post Code</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <input type="text" ng-model="data.postcode" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Institution</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <input type="text" class="form-control" ng-model="data.institution">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Department</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <input type="text" class="form-control" ng-model="data.department">
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger" ng-click="showModalBack()">Cancel</button>
                                    <button type="submit" ng-click="processUpdateProfile()" class="btn btn-primary">Submit</button>
                                </div>

                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <div class="col-md-3">
                    <div class="col-md-12">
                        <img style="width: 100%; height: 180px" ng-src="{{data.img}}">
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>