<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Upload Resume AHU</li>
                <li class="active">Upload Resume AHU Detail</li>
            </ol>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px; padding-right:0px; margin-top:10px;">
                        <label >Nama Badan Usaha</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.companyName" placeholder="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >No NPWP</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.npwp" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Branch</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.branch" placeholder="" value="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Nama MO</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.marketingOfficer" placeholder="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="breadcrumb-custom"></div>
                <div class="col-lg-12 table-of-content">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="padding-left:0px;" class="table-header-padding">Data Kelengkapan</th>
                            <th style="text-align:right;" class="table-header-padding">Download</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in users.documentList">
                            <td style="padding-left:0px;">{{user.description}}</td>
                            <td align="right"><a ng-href="{{user.url}}" target="_blank" class="btn-sm btn-danger" tooltip="Download"><i class="fa fa-cloud-download" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="breadcrumb-custom" style="margin-top:-30px;"></div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Resume AHU</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" placeholder={{file.name}} ng-readonly="true">
                                <label ng-show="fileInvalid" class="control-label alert-message">File Resume AHU Tidak Boleh Kosong</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content" >
                        <input id="{{'upload' + $index}}" type="file" file-model="file" class="hidden"/><label for="{{'upload' + $index}}" class="btn button-upload-primary"><i class="fa fa-cloud-upload" aria-hidden="true" style="padding: 0px" tooltip="Upload File"></i></label>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Kode Voucher</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="text" ng-model="contentData.voucher" ng-value="contentData.id" placeholder="{{contentData.code}}" ng-readonly="true" class="form-control form-custom">
                                <label ng-show="codeInvalid" class="control-label alert-message">Kode Voucher Tidak Boleh Kosong</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 right-form-content plus-icon" >
                         <a href="" ng-click="lovCodeVoucher()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc" >
                        <div class="form-group row clearfix" >
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn cancel-button" ng-click="showModalBack()">Cancel</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <button class="btn submit-button" ng-click="submit()">Proses</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>