<div class="row">
    <div class="container-fluid description-banner-detail-billboard">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ol class="breadcrumb breadcrumb-custom">
                <li>Upload Dokumen Kelengkapan</li>
                <li class="active">Upload Dokumen Kelengkapan Detail</li>
            </ol>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 detail-left" style="padding-left:0px;">
                <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label>Nama Badan Usaha</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc">

                        <div class="form-group row clearfix">
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-custom" ng-model="users.companyName" placeholder="" ng-readonly="true">
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-2 right-form-content " >-->
                    <!--<button ng-click="doRetrieve() " class="btn button-blue-primary ">Retrieve</button>-->
                    <!--</div>-->
                </div>
                <div class="container-fluid " style="padding-left:0px; ">
                    <div class="col-md-3 col-sm-3 col-xs-3 label-desc " style="padding-left:0px;margin-top:10px; ">
                        <label>No NPWP</label>
                    </div>
                    <div class="col-md-7 col-sm-7 content-desc ">

                        <div class="form-group row clearfix ">
                            <div class="col-sm-12 ">
                                <input type="text " class="form-control form-custom " ng-model="users.npwp " ng-readonly="true ">
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-2 col-sm-2 right-form-content " >-->
                    <!--<button ng-click="doRetrieve() " class="btn button-blue-primary ">Retrieve</button>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail-left " style="padding-left:0px; ">
                <div class="breadcrumb-custom "></div>
                <div class="col-lg-12 table-of-content ">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th style="padding-left:0px; " class="table-header-padding ">Nama Dokumen</th>
                                <th class="table-header-padding ">Keterangan</th>
                                <th class="table-header-padding ">Keterangan Pending</th>
                                <!--<th class="table-header-padding " style="text-align: center ">Dokumen Lama</th>-->
                                <th class="table-header-padding ">Dokumen Baru</th>
                                <th class="table-header-padding "></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users.documentList ">
                                <td style="padding-left:0px; ">{{user.documentCode}}</td>
                                <td>{{user.description}}</td>
                                <td>{{user.pendingDescription}}</td>
                                <!--<td style="text-align: center ">
                                <a ng-href="{{user.url}} " class="btn-sm btn-danger " tooltip="Download ">
                                    <i class="fa fa-cloud-download " aria-hidden="true "></i>
                                </a>
                            </td>-->
                                <td><input type="text " class="form-control form-custom " ng-readonly="true " placeholder={{user.file.name}}></td>
                                <td>
                                    <input id=" {{ 'upload' + $index}} " type="file" file-model="user.file" class="hidden " /><label for=" {{ 'upload' + $index}} " class="btn button-upload-primary"><i class="fa fa-cloud-upload " aria-hidden="true " style="padding:
                                    0px " tooltip="Upload File "></i></label>
                                    <!-- onchange="angular.element(this).scope().addFile(this, angular.element(this).scope().$index) "  -->
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="breadcrumb-custom " style="margin-top:-30px; "></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 detail-left " style="padding-left:0px; ">
                <div class="container-fluid " style="padding-left:0px; ">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc ">
                        <div class="form-group row clearfix ">
                            <div class="col-md-12 col-sm-12 col-xs-12 ">
                                <button class="btn submit-button " ng-click="uploadFile() ">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid " style="padding-left:0px; ">
                    <div class="col-md-7 col-sm-7 col-xs-offset-3 content-desc ">
                        <div class="form-group row clearfix ">
                            <div class="col-md-6 col-sm-6 col-xs-6 ">
                                <button class="btn cancel-button " ng-click="goToList() ">Cancel</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 ">
                                <button class="btn submit-button " ng-click="submitDokumen() ">Proses</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>