<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            View Feedback
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10">
                        <form class="form-horizontal" ng-submit="processSubmit()">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-8">
                                    <input type="text" placeholder="Title" class="form-control" ng-model="feedback.title_feedback" readonly="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Content</label>
                                <div class="col-sm-8">
                                    <textarea rows="3" class="form-control" placeholder="Content" ng-model="feedback.content_feedback" readonly="true"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Response</label>
                                <div class="col-sm-8">
                                    <textarea rows="3" class="form-control" placeholder="Type response here..." ng-model="responseData" ></textarea>
                                    <label ng-show="responseInvalid" class="control-label alert-message">Response is not empty</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-2 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->

                <div class="row" ng-repeat="data in response">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="container-fluid photo-feedback">
                                    <p><img ng-src="{{data.img}}"><span style="margin-left: 20px; color: #C3272B">{{data.user}}</span><span style="margin-left: 25px">{{data.date}}</span></p>
                                </div>
                                <div class="container-fluid response-field">
                                    <p class="response-description">{{data.response}}</p>
                                </div>
                            </div>
                        </div>

                        <!--<div class="table-responsive">-->
                            <!--<table class="table table-hover">-->
                                <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th>User</th>-->
                                    <!--<th>Response</th>-->
                                    <!--<th>Date</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<tbody>-->
                                <!--<tr ng-repeat="data in response">-->
                                    <!--<td>{{data.user}}</td>-->
                                    <!--<td>{{data.response}}</td>-->
                                    <!--<td>{{data.date}}</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

</div>