<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header text-bold">Blank</h3>
			<div class="col-md-12">
				<div class="table-responsive">

					<table class="table table-bordered table-striped">
						<thead >
						<tr >
							<th style="text-align: center">Billboard</th>
							<th style="white-space: nowrap;text-align: center">Recent by</th>
							<th style="white-space: nowrap;text-align: center">Price</th>
							<th style="white-space: nowrap;text-align: center">End Date</th>
							<th style="white-space: nowrap;text-align: center">Location</th>
							<th style="text-align: center ; width:100px"></th>

						</tr>
						</thead>
						<tbody>
						<tr>
							<td style="text-align: center"></td>
							<td style="text-align: center"></td>
							<td style="text-align: center"></td>
							<td style="text-align: center"></td>
							<td style="text-align: center"></td>
							<td style="text-align: center ">

								<button type="button" class="btn btn-default" ng-click="idnya_delete()"  tooltip="Hapus"  >
									<i class="fa fa-trash-o" aria-hidden="true"></i>
								</button>
							</td>
						</tr>
						<!--<tr>-->
							<!--<td colspan="14" style="text-align: center;" ng-hide="hiderow">Maaf Tidak Ada Data</td>-->
						<!--</tr>-->
						</tbody>

					</table>
				</div>

				<!--<pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="perPage" num-pages="numPages"></pagination>-->
				<!--<pre>Page: {{currentPage}} / {{numPages}}</pre>-->

			</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>