/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
.tes {
    border-bottom:2px solid #eee;
}
.margin10{
    margin-bottom: 10px;
}

.finishSignUpWrapper{
    top: 80px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;
    height: 100%;
    padding-top: 50px;
    text-align: center;
}

.control-label{
    text-align: left;
}

.page-header-css {
    padding-bottom: 23px;
    margin:26px 0 20px;
    border-bottom: 2px solid #666667;
}
img {
  max-width: 100%;
  height: auto;
  width: auto; /* ie8 */
}
.color{
    color:#DE4A52 !important;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {

    #banner{
        height: 300px;
        background-image:url("../img/banner.png");
        background-size:100% 100%;
    }

    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

@media(min-width:1024px) {

    #banner{
        height: 400px;
        background-image:url("../img/banner.png");
        background-size:100% 100%;
    }

    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.test{
margin : 10px;
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 10px;
    margin-top: -50px;
    color: #fff;
    background: #02395b;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: blue;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover{
    color: #fff;
}

.btn-default.btn-outline:hover{
    color: inherit;
    background-color: inherit;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

#map {
   width:95%;
   margin : auto;
}

.map-search{
    height: 600px;
}

.map-add{
    height: 500px;
}

 map, div[map] {display:block; width:500px; height:500px;}
.infoWindowContent {
   font-size:  14px !important;
   padding: 2%;
   width: 200px;
   height: 160px;
}

img.markerImageBillboard{
    width: 100%;
    height: 70%; 
}

p.name-map-window{
    font-weight: bold;
    font-size: 10pt;
}

p.price-map-window{
    font-size: 9pt;
}

.sideStyle{
    color : grey !important;
}

.list-billboard-search{
    height: 450px;
    overflow-y: scroll;
}

#footer{
    position:relative;
    z-index:998;
    color : #fff;
    font-size : 12px;
}


#copyright{
    text-align : center;
    background-color : #333333;
    left:0px;
    padding: 5px 10px 4px 10px;
    height : 30px;
    width:100%;
}

#borderCopyright{
    width: 80%;
    margin: 0px auto;
    border-top: 1px solid #666667;
}

#footerContent{
    width:100%;
    min-height: 65px;
    height: auto;
    background-color : #333333;
    padding : 6px 0px 0px 0px;

}

.text-center .desc-text{
    padding-top: 8px;
}

#headerNews{
    width:100%;
    padding : 0px 5%;
}

.sidebar li {
    height : 100% !important;
}

#page-wrapper{
    padding-bottom : 100px;
    margin-top: 70px;
}

.linkFooter{
 text-decoration: none;
 color : white !important;
}

.imgFooter{
    padding-top : 10px;
}

.bg-gray-2 {
    background-color: #949699 !important;
}

.bg-deep-blue {
    background-color: #293C92 !important;
}

.bg-deep-blue-2 {
    background-color: #405F99 !important;
}

.bg-blue-2 {
    background-color: #28ACE2 !important;
}

.bg-red-2 {
    background-color: #CE2127 !important;
}

.bg-red-3 {
    background-color: #DE4A52 !important;
}

.bg-orange-2 {
    background-color: #FDA660 !important;
}

.bg-tosca {
    background-color: #5CD6BF !important;
}

.tile-wide .tile-label-2 {
    position: absolute;
    left: .625rem;
    padding: .425rem .25rem;
    z-index: 999;
}

.tile-title-content{
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    padding-left: 10px;
}

.tile-big-content{
    margin: 1.2%;
    /*height: 150px;*/
    /*padding: 10%;*/
}
.clr{
    color : red;
}
.clr2{
    color : blue;
}

/*==========EDITED BY ALAM========*/
/*HEADER*/
a.navbar-brand{
    padding: 10px 10px 0px 0px;
    width: auto;
}

img.head-left{
    margin-left: -40px;
}

button.head-link{
    color: #DE4A52 !important;
    background: none;
}


button.head-link:hover,button.head-link:focus,button.head-link:link{
    color: #DE4A52;
    text-decoration: none;
    font-weight: bold;
    background:none;

}

button.head-link:active{
    background:none;
    border: none;
}

.navbar-default .navbar-nav>li>a{
    color: #e60000;
    font-size: 11pt;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-nav>li>ul>li>a{
    color: #e60000;
    font-size: 11pt;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: red;
}

.navbar{
    height: 70px !important;
    margin-bottom: 10px;
    padding-top: 20px;
}
.fa-user {
    content: "\f007";
    color: #424141;
}

.sc-bottom-nav{
    height: 100px;
    border: none;
    color: #424141;
    border-radius: 0px;
    font-size: 12pt;
    padding: 0px;
    margin-top: -20px;
}

.bottom-head{
    border: none;
}
/*END HEADER*/

/*CONTENT*/

.content{
    width: 100%;
    padding-top: 65px;
    padding-bottom: 4px;
}

.billboardMasterTitle{
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #4d4b4e;
}

.finalSignUpTitle{
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #4d4b4e;
}


.billboardMasterDesc{
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
}

.tile-container{
    width: 98%;
    margin: auto;
    margin-top: 50px;
}

.comp-tile{
    width: 45%;
}
    
.elearn-tile{
    width: 35%;
}

.elearn-tile .tile-content-elearn{
    padding: 0px 40px 30px 40px;
    text-align: center;
}

.elearn-tile .tile-content-elearn img{
    width: 40%;
}

.db-tile{
    width: 15%;
    background:#CC1E20;
}

.db-tile .tile-content-db{
    text-align: center;
    padding-top: 10px;
}

.db-tile .tile-content-db img{
    width: 60%;
}

.sebaran-tile{
    width: 15%;
}

p.judul-artikel{
    height: 40%;
    font-size: 15px;
    font-weight: 300;
    margin-top: -200px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    padding-bottom: 2px;
    left: 0;
    width: 100%;
    padding-left: 10px
}

.sebaran-tile > .tile-label h5{
    color: #fff;
}

.artikel-tile{
    width: 35%;
}

.produk-tile{
    width: 28%;
}

.about-tile{
    width: 16%;
}

.about-tile > .tile-label h5{
    color: #fff;
}

.smk-tile{
    width: 35%;
}

.lowongan-tile{
    width: 15%;

}

.lowongan-tile > .tile-label h5{
    color: #fff;
}

.hover-lowongan{
    background: #CC1E20;
}

/*REDAKSI*/
.panel-for-redaction{
    margin-top: 150px;
    height: auto;
    padding: 5px;
}

.panel-for-redaction .panel-for-redaction{
    height: auto;
}

h3.description-title-content{
    color: #DE4A52;
    font-weight: bold;
    text-align: left;
}

/*END REDAKSI*/


/*END CONTENT*/


/*START FOOTER PAGE*/

.ahm-footer{
    font-size: 14pt;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*END FOOTER PAGE*/

/*SCREEN 1024*/

@media screen and (max-width: 1024px){

    p.judul-artikel{
        height: 38%
    }


}

/*END SCREEN 1024*/

@media screen and (max-width: 848px){

    .ahm-footer{
        margin-top: 0px;
    }


}

/*SCREEN 768*/

@media screen and (max-width: 767px){

    /*HEADER*/
    button.head-link{
        margin-top: -30px !important;
    }

    img.one-heart{
        margin-top: -35px;
    }

    .sc-bottom-nav{
    margin-top: 10px;
    }


    .navbar-toggle{
        border: none;
        background: none;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #67A6C7;
    }

    /*END HEADER*/

    .content{
        padding-left: 5px;
    }

    .comp-tile{
        width: 45%;
    }

    .elearn-tile{
        width: 33%;
    }

    .elearn-tile .tile-content-elearn img{
        width: 60%;
    }



    .db-tile{
        width: 17%;
    }


    .sebaran-tile{
        width: 17%;
    }

    .artikel-tile{
        width: 33%;
    }

    .produk-tile{
        width: 28%;
    }

    .about-tile{
        width: 15%;
    }

    p.judul-artikel{
        height: 60px;
        margin-top: -120px;
    }

    img.one-heart{
        float: right;
        width: 184px;
        height: 28px;
        margin-top:-32px;
    }

    .map-photo{
        margin-top: 15px;
    }
}


/*END SCREEN 768*/

/*MEDIA SCREEN MAX-WIDTH 640px*/

@media screen and (max-width: 640px){

    /*HEADER*/

    button.head-link{
        margin-top: -30px !important;
    }

    .sc-bottom-nav{
        margin-top: 0px;
        border: none; 
    }

    .navbar-toggle{
        border: none;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #424141;
    }


    /*END HEADER*/

    /*CONTENT HOME*/

    .content{
        width: 100%;
        margin-top: 20px;
    }

    .tile-container{
        width: 98%;
        margin: auto;
        padding-right: 5px;
        margin-top: 50px;
    }

    .comp-tile{
        width: 95%;
    }

    .elearn-tile{
        width: 65%;
        height: 130px;
    }

    .elearn-tile .tile-content-elearn img{
        width: 45%;
        margin-top: 15px;
    }

    p.judul-artikel {
        height: 60px;
        margin-top: -190px;
        font-size: 13px;
    }

    .db-tile{
        width: 28%;
        height: 130px;
    }

    .sebaran-tile{
        width: 28%;
        height: 130px;
    }

    .artikel-tile{
        width: 65%;
        height: 130px;
    }

    .produk-tile{
        width: 65%;
        height: 130px;
    }

    .about-tile{
        width: 28%;
        height: 130px;
    }

    .smk-tile{
        width: 65%;
        height: 130px;
    }

    .lowongan-tile{
        width: 28%;
        height: 130px;
    }

    /*Description Picture*/
    .card-ahm div.desc{
        font-size: 2vw;
    }

    .db-tile .tile-content-db img {
        width: 45%;
        margin-top: 10px;
    }

    .db-tile > .tile-label h5{
        margin-left: -3px;
        font-size: 8pt;
    }

    .elearn-tile > .tile-label h5{
        font-size: 8pt;
    }

    .sebaran-tile > .tile-label h5{
        font-size: 8pt;
        margin-top: 18px;
    }

    .about-tile > .tile-label h5{
        font-size: 8pt;
    }

    .lowongan-tile > .tile-label h5{
        font-size: 8pt;
    }


    /*END CONTENT HOME*/


    .text-center .desc-text {
        text-align: center;
    }

    .text-center .desc-text.left h5{
        font-size: 8pt;
    }

    .text-center .desc-text.right {
       text-align: right;
    }

    .text-center .desc-text.right h5{
        font-size: 8pt;
    }

    #footerContent img{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #copyright {
        min-height: 50px;
        height: auto;
    }

    img.head-left{
        width: 110px;
        margin-top: 5px;
    }

    img.one-heart{
        float: right;
        width: 158px;
        height: 22px;
        margin-top:-32px;
    }

}



/*END MEDIA SCREEN MAX-WIDTH 640px*/

/*==========END EDITED============*/


@media screen and (max-width: 380px){

    img.head-left{
        width: 101px;
    }

    img.one-heart{
        width: 150px;
        height: 20px;
    }


}

/*//rusyda*/
.title-galery-small{
    color :#949699;
    margin-top:10px;
    font-size: 12px;
}

.card-ahm{
    border: 1px solid #ccc;
    float: left;
    width: 100%;
    margin-top: 20px;
    background-color:#f8f8f8;
}

.card-ahm:hover {
    border: 1px solid #777;
    cursor: pointer;
}

.card-ahm img {
    width: 100%;
    height: 300px;
}

.image-city {
    width: 100%;
    height: 300px;
    padding-top: 25px;
}


.card-ahm div.icon-galeri{
    max-width: 116px;
    text-align: center;
    padding: 10px;
}

.card-ahm div.icon-galeri img{
    width:100%; 
    height:auto; 
}

.border-card-picture{
    padding-top:1rem ;
    margin:1rem;
    width: 16rem;
    height: 30rem;
    border: 1px solid #ccc;
}
.border-button-picture{
    padding-top:0.3rem ;
    width: 13rem ;
}
.border-card-pictures{
    padding-top:1rem ;
    margin:1rem;
    width: 13rem;
    height: 15rem;
    border: 1px solid #ccc;
}
.border-button-pictures{
    margin-top: 1rem ;
}

.kotak-galeri{
    padding-right: 5%;
    padding-left: 5%;
    padding-top:150px;
    padding-bottom: 1%;
}

.konten-galeri{
    padding: 0px;
}

.kotak-header{
    padding-bottom: 1%;
    padding-top: 1%;
    border-bottom: 1px solid #eee;
    background-color: white;
    height: auto;
}


.judul_galeri{
    color:#CC1E20; 
    font-weight:600;
}

.panel-user-min-height{
    min-height: 370px;
}

.limapersen{
    padding-right: 5%;
    padding-left: 5%;
}

.judul_sub_faq{
    font-weight: 600;
    padding-top: 10px;
    margin: 0 0 20px;
    color: #595959;
    line-height: inherit;
}

.font_faq{
    font-size: 16px;
    color: #595959;
    text-align: justify;;
}

.li_faq{
    line-height: inherit;
}

.garis_bawah{
    border-bottom: 1px solid #e5e5e5;
}

.font_about{
    font-size: 16px;
    color: #595959;
}

.alert-ahm{
   font-size: 12px;
   color: #595959 ;
   text-align: center;
}

.privilege-column{
    display:inline-block; 
    vertical-align:top; 
    padding-right:30px; 
    padding-bottom:15px;
}

.header-verifikasi{
    white-space: nowrap;
}

.red{
    background-color: yellow;
}

.transparent-background{
    background-color: transparent;
}

.pLeft-nol{
    padding-left: 0px;
}
.border-SMK{
    border-bottom: 1px solid #595959;
}

#navbar-header-sign-up{
    padding-top: 19px;
    background: white;
    height: 79px;
    border-bottom: solid 1px darkgrey;
}

/*EDIT AJI CSS*/

.billboard-detail{

}


.description-banner-detail{
    text-align: left;
    padding: 25px 80px 20px 80px;
}
.description-banner-detail-billboard{
    text-align: left;
}

.description-banner-detail{
    width: 100%;
    height: auto;
}

.detail-banner .banner-content{
    margin-top: 300px;
    padding-left: 40px;
    padding-right: 40px;
}

.detail-banner p.availabe-status{
    color: #ec1846;
    width: 30%;
    font-weight: bold;
}

.detail-banner p.availabe-status:hover{
    background: #fff;
    border: #ccc solid 1px;
    cursor: default;
}

.detail-left .label-desc img.left-profil-img{
    height: 80px;
    width: 80px;
    margin-top: 10%;
}

.detail-left{

     padding-right:0px;

    /*padding: 20px 20px 20px 20px;*/
}

.detail-left .label-desc p{
    font-weight: bold;
    font-size: 10pt;
}

.detail-left .content-desc{
    text-align: justify;
}


.detail-left .content-desc p{
    /*font-size: 10pt;*/
}


/*CONTAINER FOR SEARCH*/

.container-for-search{

    margin-top: 50px;
    color: #7f8c8d;
    padding-bottom: 20px;
    height: auto;
}

.container-for-search .list-billboard-search{
    /*padding: 1% 4% 2% 4%;*/
    padding-left: 15%;
}

/*RANGE*/

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ec1846;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ddd;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
    color: #ec1846;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ec1846;
}

/*END RANGE*/

/*END CONTAINER FOR SEARCH*/

/*ADD BILLBOARD STYLING*/

.wizard-step-container{
    height: auto;
    min-height: 500px;
    margin-bottom: 2%;
    border: 1px solid #ddd;
    color: #7f8c8d;
}

.container-add-billboard{
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 10%;
}

h5.step-of{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: #7f8c8d;
}

button.btn-book-add{
    background: #3CA6CF;
    color: #fff;
    margin-top: 3%;
    width: 30%;
    height: 40px;
    letter-spacing: 2px;
    border: 1px solid #fff;
    border-radius: 0px;
}

button.btn-book-add-disabled{
    background: #99d0e6;
    color: #fff;
    margin-top: 3%;
    width: 30%;
    height: 40px;
    letter-spacing: 2px;
    border: 1px solid #fff;
    border-radius: 0px;
}

button.btn-book-add:hover{
    background: #3CA6CF;
    border: 1px solid #fff;
    color: #fff;
}

button.btn-book-add-disabled:hover{
    background-color: #99d0e6 !important;
    border: 1px solid #fff;
    color: #fff;
}

button.btn-back-add{
    background: #fff;
    margin-top: 3%;
    width: 30%;
    height: 40px;
    letter-spacing: 2px;
    border: 1px solid #ddd;
    border-radius: 0px;
}

.tips-container-add{
    text-align: justify;
    border: 1px solid #ddd;
    padding: 5px;
}

.tips-container-add h4{
    color: #EC1846;
    font-style: italic;
    font-weight: 800;
}

.tips-container-add p{
    color: #95a5a6;
}

button.btn-back-sign-up{
    background: #fff;
    color: #666667;
    font-weight: bold;
    margin-top: 3%;
    width: 100%;
    height: 50px;
    letter-spacing: 2px;
    border: 1px solid #ddd;
    border-radius: 0px;
}

button.btn-submit-sign-up{
    background: #3CA6CF;
    color: #fff;
    font-weight: bold;
    margin-top: 3%;
    width: 100%;
    height: 50px;
    letter-spacing: 2px;
    border: 1px solid #ddd;
    border-radius: 0px;
}

button.btn-submit-sign-up:hover{
    background: #3CA6CF;
    color: #fff;
    font-weight: bold;
}

/*.container-sidebar{
    padding-left: 10px;
}*/

a.sidebar-menu{
    color: #fff;
}


a.sidebar-menu:hover{
    background: #666667;
    color: #fff;
}

a.sidebar-menu:active{
    color: #000;
}

.nav>li>a.sidebar-menu:hover {
    text-decoration: none;
    background-color: #666667;
    color: #fff;
}


.close-custom{
    opacity: 1;
    color: #ec1846;
}

button.close-custom:hover{
    color: #ec1846;
    opacity: 1;
}

.billboard-search-description{
    min-height: 50px;
}

.price-search{
    background: #E81E47;
    width: 70%;
    padding: 1px 0px 1px 10px;
    border-radius: 3px;
    position: absolute;
    margin-top: -50px;
}

.price-search h5{
    font-size: 11px;
}

/*ADD CSS TABLE*/
.table-padding1 {
    padding-top:23px !important;
    padding-bottom: 20px !important;
    vertical-align: middle !important;
}
.table-padding2 {
    padding-top:15px !important;
    padding-bottom: 15px !important;
    vertical-align: middle !important;
}
.table-header-padding {
    padding-bottom:20px !important;
    vertical-align: middle !important;
}
.pointer {
    cursor: pointer;
}
input.ng-pristine + ul#strength {
    display:none;
}
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}
.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/*END ADD BILLBOARD*/


/*END AJI CSS*/




.detail-right .label-desc img.left-profil-img{
    height: 80px;
    width: 80px;
    margin-top: 10%;
}

.detail-right .label-desc{
    /*padding: 20px 20px 20px 20px;*/
}

.detail-right .label-desc p{
    font-weight: bold;
    font-size: 10pt;
}

.detail-right .content-desc{
    text-align: justify;
}


.detail-left .content-desc p{
    /*font-size: 10pt;*/
}

.unique-color{
    color: #DE4A52;
}

.detail-left .content-desc p.inline{
    /*font-size: 10pt;*/
    /*padding: 30px 25px 30px 0px;*/
}

.detail-right .content-desc p.inline{
    /*font-size: 10pt;*/
    /*padding: 30px 25px 30px 0px;*/
}

.container-desc{
    border-bottom: 1px solid #afafaf;
    padding-bottom: 1.5%;
    padding-top: 3%;
}

@media(max-width:900px) {



#signUpWrapper{
    /*background-image: url("../img/backgroundRegister1200.png");*/
    /*position: absolute;*/
    top: 80px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;
    padding-top: 20px;
    background-color: white;
    text-align: center;
}
.titip{
    padding-left: 30px;
    padding-right: 30px;
}
.fontsize1 {
    font-size: 14pt;
    font-weight: bold;
    color: #e81e47;
}
.formRegister {
    padding-top: 8%;
}
.fontsize2 {
    font-size: 12.5pt;
}

.billboardContent{
    /*margin: 20px auto;*/
    /*padding: 0 100px 0 100px;*/
    padding-top: 3px;
}

h3.header-reserve{
    font-color: #e81e47;
}

}
@media(min-width:900px) {

#signUpWrapper{
    background-image: url("../img/backgroundRegister1200.png");
    position: absolute;
    top: 80px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;
    padding-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    background-color: white;
}

.titip{
    padding-left: 0px;
    padding-right: 0px;
}
.signUp{
    width: 370px;

}

.kanan {
    float: right;
    margin-right: 4%;
    margin-top: 2%;
}

.fontsize1 {
    font-size: 14pt;
    font-weight: bold;
    color: #e81e47;
}
.formRegister {
    padding-top: 8%;
}
.fontsize2 {
    font-size: 12.5pt;
}

.billboardContent{
    /*margin: 20px auto;*/
    /*padding: 0 100px 0 100px;*/
    padding-top: 3px;
}
}
@media(min-width:1000px) {

#signUpWrapper{
    background-image: url("../img/backgroundRegister1200.png");
    position: absolute;
    top: 80px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;
    padding-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    background-color: white;
}

.titip{
    padding-left: 0px;
    padding-right: 0px;
}
.signUp{
    width: 390px;
}
 .turun1 {
    margin-top: 20px;
    margin-bottom: 10px;
 }
 .turun2 {
    margin-top: 0px;
    margin-bottom: 10px;
 }

.turun4 {
    padding-right: 10px !important;
}

.kanan {
    float: right;
    margin-right: 7%;
    margin-top: 2%;
}

.fontsize1 {
    font-size: 15pt;
    font-weight: bold;
    color: #e81e47;
}
.formRegister {
    padding-top: 8%;
}
.fontsize2 {
    font-size: 12.5pt;
}

.billboardContent{
    /*margin: 20px auto;*/
    /*padding: 0 100px 0 100px;*/
    padding-top: 3px;
}
}

@media only screen and (min-width:1200px) {

.titip{
    padding-left: 0px;
    padding-right: 0px;
}
#signUpWrapper{
    background-image: url("../img/backgroundRegister1200.png");
    position: absolute;
    top: 80px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;
    padding-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    background-color: white;
}
.fontsize1 {
    font-size: 17.8pt;
    font-weight: bold;
    color: #e81e47;
}
.formRegister {
    padding-top: 8%;
}
.fontsize2 {
    font-size: 14pt;
}

.billboardContent{
    /*margin: 20px auto;*/
    /*padding: 0 100px 0 100px;*/
    padding-top: 3px;
}
.kanan {
    float: right;
    margin-right: 10%;
    margin-top: 2%;
}
.signUp{
    width: 467px;
}

.detail-right{
    /*padding: 0% 5% 0% 2%;*/
    padding-left:60px;
}
.detail-left {
     padding-right:60px;
 }
 .turun1 {

    margin-top: 0px;
    margin-bottom: 0px;
 }
 .turun2 {

    margin-top: 0px;
    margin-bottom: 0px;
 }

.turun3 {
    padding-right: 17px !important;
}
.turun4 {
    padding-right: 25px !important;
}
}

.turun3 {
    padding-right: 0px;
}
.detail-right{
    /*padding: 0% 5% 0% 2%;*/
    padding-left:0px;
}
.detail-right .panel-for-price{
    width: 90%;
    border-radius: none;
}

.detail-right .panel-for-price .panel-heading{
    background: #ec1846;
    color: #fff;
}

.tag-content p.tag-detail{
    border: 1px solid #ddd;
    display: inline-block;
    padding: 4px;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 2px;
    float: left;
    margin-left: 4px;
    margin-right: 4px;
}

p.sticky-container-date{
    border: 1px solid #ddd;
    display: block;
    padding: 6px;
    font-size: 11pt;
    border-radius: 2px;
    width: 100%;
    padding: 2px;
}

.container-for-tag{
    padding-top: 4%;
}


.to-handle-book button.btn-book{
    background: #dd4f4f;
    color: #fff;
    width: 100%;
    height: 40px;
    letter-spacing: 2px;
    border: 1px solid #fff;
}

.to-handle-book button.btn-book:hover{
    background: #d04949;
    border: 1px solid #fff;
}

p.num-of-media{
    color: #fff;
    margin-top:3%;
}

button.btn-favorites{
    color: #ec1846;
    margin-top: 2%;
    border: 1px solid #ec1846;
    font-weight: bold;
    letter-spacing: 2px;
}

button.btn-favoritesDetail{
    color: #ec1846;
    border: 1px solid #ec1846;
    font-weight: bold;
    letter-spacing: 2px;
}

button.btn-favorites:hover{
    color: #ec1846;
    border: 1px solid #ec1846;
}

/*BACK TO TOP*/

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  position: fixed;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }

}

@media only screen and (max-width: 918px) {

  .price-search h5{
    font-size: 10px;
  }

}

@media only screen and (max-width: 767px) {

  .price-search{
    width: 60%;
  }

  .price-search h5{
    font-size: 12px;
  }

  input[type="text"], input[type="number"]{
    margin-top: 2%;
    margin-bottom:2%;
  }

  .container-for-search .list-billboard-search {
     padding-left: 0; 
    }

}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
  .photo-responsive {
    height: 120px;
    width: 120px;
  }
}

/*END*/



button.btn-back-add{
    background: #fff;
    color: #000;
    margin-top: 3%;
    width: 30%;
    height: 40px;
    letter-spacing: 2px;
    border: 1px solid #ddd;
    border-radius: 0px;
}

.wizard-tips-container{
    height: auto;
    min-height: 500px;
}

.tips-container-add{
    border: 1px solid #ddd;
    padding: 10px 15px;
}

.tips-container-add h4{
    color: #EC1846;
    font-style: italic;
    font-weight: 800;
}

.tips-container-add p{
    color: #95a5a6;
}

.tips-container-image{
    bottom: 0;
    position: absolute;
}


.nav>li>a.sidebar-menu:hover {
    text-decoration: none;
    background-color: #666667;
    color: #fff;
}


.close-custom{
    opacity: 1;
    color: #ec1846;
}

button.close-custom:hover{
    color: #ec1846;
    opacity: 1;
}

.price-search{
    background: #E81E47;
    width: 60%;
    padding: 1px 0px 1px 10px;
    border-radius: 3px;
    position: absolute;
    margin-top: -50px;
}

/*ADD CSS TABLE*/
.table-padding1 {
    padding-top:23px !important;
    padding-bottom: 20px !important;
    vertical-align: middle !important;
}
.table-padding2 {
    padding-top:15px !important;
    padding-bottom: 15px !important;
    vertical-align: middle !important;
}
.table-header-padding {
    padding-bottom:20px !important;
    vertical-align: middle !important;
}
.pointer {
    cursor: pointer;
}
input.ng-pristine + ul#strength {
    display:none;
}
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}
.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/*END ADD BILLBOARD*/

/*START IMAGE TIPS LANDING*/
.how-to {
    text-align:center;
    color:#4d4b4e;
}
.no-padding{
    padding-right:0px !important;
    padding-left:0px!important;
}
.no-paddingleft{
    padding-left:0px!important;
}
.background-none{
    background-color:transparent;
    border:none;
    padding: 0px;
    margin-bottom: 0px;
}

/*END AJI CSS*/