@import "variables.less";

.headerContainer(@border){
  padding: 2% 0% 2% 0%;
  border-bottom: @border 1px solid;
}

.login-container {
  border-radius: 4px;
  margin-top: 5%;
  height: 100%;
  padding: 5%;
}

#loginWrap(@color; @height: 100%; @width: 100%) {
  color: @color;
  height: @height;
  width: @width;
}

.login-btn{
  background: @light-blue;
  color: #fff;
  border: 1px solid @light-blue;
  width: 100%;
  height: 40px;
  margin-bottom: 2%;

  &:hover {
    background-color: darken(@light-blue,2);
    border: 1px solid darken(@light-blue, 2);
  }
}

input.login-field{
  height: 40px;
}
