.login-container {
  border-radius: 4px;
  margin-top: 5%;
  height: 100%;
  padding: 5%;
}
.login-btn {
  background: #009eb2;
  color: #fff;
  border: 1px solid #009eb2;
  width: 100%;
  height: 40px;
  margin-bottom: 2%;
}
.login-btn:hover {
  background-color: #0095a8;
  border: 1px solid #0095a8;
}
input.login-field {
  height: 40px;
}
