//button
.buttonMixin(@color;@fontColor;@fontWeight){
  background: @color;
  border: 1px solid @color;
  color: @fontColor;
  border-radius: 2px;
  font-weight: @fontWeight;

  &:hover{
    background: darken(@color,10);
    border: 1px solid darken(@color,10);
    color: @fontColor;
  }
}

.noPaddingContent(){
  padding-left: 0px;
  padding-right: 0px;
}