@import "variables.less";
@import "mixins.less";

.modal-content{
  border-radius:@border-radius;
  min-height: 200px;
  height: auto;
}

.footer-modal-button{
  margin-top: 40px;
}

 .modal-body-custom{
 height: auto;
 padding-bottom: 50px;
 }

.modal-title{
  color: @light-blue;
}

.modal-button-cancel{
  .buttonMixin(@pure-white;@dark-grey;@font-content);
  width: 100%;
  border: 1px solid @light-grey;
  &:hover{
    border: 1px solid @light-grey;
  }
}

.modal-button-submit{
  .buttonMixin(@light-blue;@pure-white;@font-content);
  width: 100%;
}