.login-container {
  border-radius: 4px;
  margin-top: 5%;
  height: 100%;
  padding: 5%;
}
.login-btn {
  background: #009eb2;
  color: #fff;
  border: 1px solid #009eb2;
  width: 100%;
  height: 40px;
  margin-bottom: 2%;
}
.login-btn:hover {
  background-color: #0095a8;
  border: 1px solid #0095a8;
}
input.login-field {
  height: 40px;
}
.modal-content {
  border-radius: 0px;
  min-height: 200px;
  height: auto;
}
.footer-modal-button {
  margin-top: 40px;
}
.modal-body-custom {
  height: auto;
  padding-bottom: 50px;
}
.modal-title {
  color: #009eb2;
}
.modal-button-cancel {
  background: #fff;
  border: 1px solid #fff;
  color: #666666;
  border-radius: 0px;
  font-weight: 300;
  width: 100%;
  border: 1px solid #c5c5c5;
}
.modal-button-cancel:hover {
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #666666;
}
.modal-button-cancel:hover {
  border: 1px solid #c5c5c5;
}
.modal-button-submit {
  background: #009eb2;
  border: 1px solid #009eb2;
  color: #fff;
  border-radius: 0px;
  font-weight: 300;
  width: 100%;
}
.modal-button-submit:hover {
  background: #00717f;
  border: 1px solid #00717f;
  color: #fff;
}
body {
  color: #666666;
  font-weight: 300;
  height: 100%;
  font-size: 10pt;
  font-family: Arial;
}
#page-wrapper {
  min-height: 800px;
  height: auto;
}
.page-header-section {
  margin-top: 10px;
}
.header-container {
  padding: 2% 0% 2% 0%;
  border-bottom: #c5c5c5 1px solid;
}
#login-wrap {
  color: #666666;
  height: 100%;
  width: 100%;
}
.side-menu-header {
  margin: 0px 20px 0px 5px;
  border-bottom: 2px solid #fff;
}
.button-blue-primary {
  background: #005caa;
  border: 1px solid #005caa;
  color: #fff;
  border-radius: 0px;
  font-weight: 300;
}
.button-blue-primary:hover {
  background: #004077;
  border: 1px solid #004077;
  color: #fff;
}
a.icon-to-edit {
  color: #009eb2;
  text-decoration: none;
}
a.icon-to-edit:hover {
  color: #00717f;
}
a.icon-to-delete {
  color: #666666;
  text-decoration: none;
}
a.icon-to-delete:hover {
  color: #808080;
}
.breadcrumb-custom {
  padding: 8px 0px;
  margin-bottom: 20px;
  background: none;
  list-style: none;
  border-radius: 0px;
  font-weight: 700;
  border-bottom: #c5c5c5 1px solid;
}
.breadcrumb-custom > li.active {
  color: #009eb2;
}
.breadcrumb-custom > li + li:before {
  color: #ccc;
  content: "> ";
  padding: 0 5px;
}
.right-form-content {
  margin-left: -20px;
}
.right-form-content a {
  color: #009eb2;
}
.right-form-content i {
  padding: 10px;
}
.right-form-content .fa-trash {
  color: #666666;
}
.form-custom {
  border-radius: 0px;
}
.cancel-button {
  background: #fff;
  border: 1px solid #fff;
  color: #666666;
  border-radius: 0px;
  font-weight: 300;
  width: 100%;
  border: 1px solid #c5c5c5;
}
.cancel-button:hover {
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #666666;
}
.cancel-button:hover {
  border: 1px solid #c5c5c5;
}
.submit-button {
  background: #009eb2;
  border: 1px solid #009eb2;
  color: #fff;
  border-radius: 0px;
  font-weight: 300;
  width: 100%;
}
.submit-button:hover {
  background: #00717f;
  border: 1px solid #00717f;
  color: #fff;
}
