@import "variables.less";
@import "login.less";
@import "mixins.less";
@import "modals.less";

@font-face {
  font-family: 'Lato-Light';
  src: url('../assets/fonts/Lato-Light.ttf');
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../assets/fonts/Lato-Medium.ttf');
}

@pure-green: #2ecc71;
@pure-red: #c0392b;
@pure-white: #fff;
@pure-purple: #9c27b0;

@font-head: 'Fira Sans';

body{
  color: @font-color;
  font-weight: @font-content;
  height: 100%;
  font-size:10pt;
  margin: 0px;
  font-family: Arial;
}

//install

.btn-submit{
  background: @pure-green;
  color: @pure-white;
  border: 1px solid @pure-green;
  :hover{
    background: darken(@pure-green, 3);
    border: 1px solid darken(@pure-green, 3);
  }
}

.btn-cancel{
  background: @pure-red;
  color: @pure-white;
  border: 1px solid @pure-red;
  &:hover{
    background: darken(@pure-red, 3);
    border: 1px solid darken(@pure-red, 3);
  }
}

.btn-search{
  background: @pure-red;
  color: @pure-white;
  border-radius: 2px;
  height: 40px;
  border: @pure-red;
  &:hover{
    background: darken(@pure-red, 3);
    border: 1px solid darken(@pure-red, 3);
    color: #fff;
    border-radius: 2px;
  }
}

//navbar
.nav>li>a.sidebar-menu:focus,.nav>li>a.sidebar-menu:hover{
  text-decoration: none;
  background-color: grey;
}

#page-wrapper{
  min-height: 800px;
  height: auto;
}

.page-header-section{
  margin-top: 10px;
  border-bottom: 1px solid @light-grey;
  margin-bottom: 12px;
  .noPaddingContent();
}

.header-container{
  .headerContainer(@border-light);
}

.head-label{
  .noPaddingContent();
}

#login-wrap{
  #loginWrap(@font-color);
}

.table-of-content{
  .noPaddingContent();
}

//main page style
.side-menu-header{
  margin: 0px 20px 0px 5px;
  border-bottom: 2px solid #fff;
}

.button-blue-primary{
  .buttonMixin(@dark-blue,@pure-white,@font-content);
  &:focus{
    color: #fff;
  }
}

.button-blue-light-primary{
  .buttonMixin(@light-blue,@pure-white,@font-content);
  &:focus{
    color: #fff;
  }
}

.button-upload-primary{
  .buttonMixin(@light-blue,@pure-white,@font-content);
  &:focus{
    color: #fff;
  }
}

.button-search-create-notary{
  .buttonMixin(@light-blue,@pure-white,@font-content);
  padding: 0px;
  &:focus{
    color: #fff;
  }
}

a.icon-to-edit{
  color: @light-blue;
  text-decoration:none;

  &:hover{
    color: darken(@light-blue, 10);
  }
}

a.icon-to-delete{
  color: @dark-grey;
  text-decoration:none;

  &:hover{
    color: lighten(@dark-grey, 10);
  }
}

a.icon-to-cancel{
  color: #e74c3c;
  text-decoration:none;

  &:hover{
    color: lighten(#e74c3c, 10);
  }
}

.modal-text-search{
  border-radius: 2px;
}


.breadcrumb-custom {
  padding: 8px 0px;
  margin-bottom: 20px;
  background: none;
  list-style: none;
  border-radius: 0px;
  font-weight: @font-title;
  border-bottom: @light-grey 1px solid;


  > li.active{
    color: @light-blue;
  }

  > li + li:before {
    color: #ccc;
    content: "> ";
    padding: 0 5px;
  }
}

.right-form-content{
  margin-left: -20px;

  a{
    color: @light-blue;
  }


  i{
    padding: 10px;
  }

  .fa-trash{
    color: @dark-grey;
  }
}

.right-form-content-search{

  margin-left: -25px;

  a{
    color: @light-blue;
  }


  i{
    margin-top: 1px;
    padding: 8px;
  }
}


.form-custom{
  border-radius: @form-border-radius;
}

#combo-custom{
  width: 100%;
  border-radius: 0px;
}



.cancel-button{
  .buttonMixin(@pure-white;@dark-grey;@font-content);
  width: 100%;
  border: 1px solid @light-grey;
  &:hover{
    border: 1px solid @light-grey;
  }
}

.submit-button{
  .buttonMixin(@light-blue;@pure-white;@font-content);
  width: 100%;
}

.head-section-tab{
  margin-top: 40px;
  margin-bottom: 10px;
  h5{
    color: @light-blue;
    font-weight: bold;
  }
}

.content-container {
  border-bottom: @light-grey 1px solid;
  padding: 8px 0px;
  margin-bottom: 10px;
  margin-left: 3px;
  .left-header-content {
    .noPaddingContent();
  }
}

  .container-btn-search{
    .noPaddingContent();

    .button-search-sm{
      .buttonMixin(@light-blue,@pure-white,@font-content);
    }
  }

  //setting-parameter-notary


  .no-padding-element{
    padding-right: 0px;
    padding-left: 0px;
  }

//modal lov

.button-container-lov{
  padding-right: 0px;
}

  @media (min-width: 768px) {
    .field-search{
      width: 100% !important;
    }

  }

  //@media (min-width: 768px) {
  //  .field-search{
  //    width: 100% !important;
  //  }
  //
  //}

.nav>li.active > a.tabs{
  text-decoration: none;
  color: #fff;
  background: @pure-purple;
  border-radius: 2px;
}

.nav>li>a.tabs-detail{
  text-decoration: none;
  color: #fff;
  background: darken(@pure-green, 3);
  border-radius: 2px;

  &:hover{
    color: #fff;
    background: darken(@pure-red, 3);
  }
}

.nav>li.active > a.tabs-detail{
  text-decoration: none;
  color: #fff;
  background: darken(@pure-red, 3);
  border-radius: 2px;
}

//rotate image
.rotated-image-90 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.rotated-image-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.rotated-image-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg)
}

.rotated-image-360 {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg)
}

.rotated-image-min-90 {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.rotated-image-min-180 {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}

.rotated-image-min-270 {
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg)
}

.rotated-image-min-360 {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg)
}


//header nav
nav.custom-navbar{
  background: @pure-green;
  color:#ffffff;
  border-radius:0;
  text-decoration: none;
}

.navbar-nav>li>a{
  padding-top: 10px;
  padding-bottom: 10px;
  .btn-default{
    background-color: transparent;
    border: 1px solid @pure-white;
  }
}

.search-container{
  border-radius: 2px;
  height: 40px;
}

.bordered-link{
  border: 1px solid #fff;
  padding: 2px;
  border-radius: 2px;
}

.section-title{
  border-top: 1px solid #ddd;
  margin: 20px 0;
  position: relative;
  text-align: center;
  p{
    width: 100%;
    font-size: 20px;
    margin-top: -15px;
    text-align: center;
    color: @pure-green;
    font-family: @font-head;
    letter-spacing: 2px;
  }
}

.about-container{
  text-align: center;
  .about-content{
    h4{
      line-height: 34px;
      font-family: Arial;
    }
  }
}
//banner


//register form admin


.label-invalid{
  color: @pure-red;
}

.label-match{
  color:@pure-green;
}

.label-not-match{
  color: @pure-red;
}

.custom-form{
  border-radius: 2px;
}

//login



h4.modal-title{
  color: #d35400;
}

//register user

.register-information{
  img{
    width: 90%;
  }
}

.btn-register{
  background: @pure-red;
  width: 100%;
  border-radius: 2px;
  color: #fff;
  &:hover{
    color: #fafafa;
    background: darken(@pure-red, 3);
    border: 1px solid darken(@pure-red, 3);
    border-radius: 2px;
  }
}

//product

//floating-button

#scroll {
  position:fixed;
  right:10px;
  bottom:60px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:#3498db;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color:#e74c3c;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}

.product-catalog{
  padding-top: 100px;
  padding-bottom: 50px;
}

.product-card-container{
  padding-left: 5px;
  padding-right: 5px;

  &:hover img {
    opacity: 0.4;
  }
}

.card-product{
  height: 350px;
  box-shadow: 2px 4px 4px #ddd;
  p.title{
    font-size: 16px;
    font-family: Lato-Medium;
    color: #333;
    padding-bottom: 4px;
  }
  p.price{
    font-size: 14px;
    font-family: Lato-Medium;
    color: #C3272B;
    font-weight: bold;
  }
  p.stock{
    text-align:right;
    color: darken(@pure-red, 4);
    font-family: Lato-Medium;
    border-bottom: 1px solid #ddd;
  }
}

.detail-produsen-product{
  background: darken(@pure-red, 4);
  top: 150px;
  height: 40px;
  padding: 4px;
  left: 5px;
  right: 5px;
  color: #fff;
  position: absolute;
  z-index: 20;
  font-family: Lato-Medium;
  transition-timing-function: ease-in;
  transition: 0.6s;
}

.detail-product-container{
  padding: 5px;
  .btn-add-cart{
    font-size: 16px;
    background: darken(@pure-green, 4);
    color: #fff;
    border-radius: 2px;
    &:hover{
    background: darken(@pure-green,10);
    color: #fff;
  }
  }
}

.detail-product-section{
  padding-bottom: 40px;
  padding-top: 80px;
  height: auto;
  font-family: Lato-Medium;
  .image-wrapper{
    height: 300px;
    width: 300px;
  }

  .image-thumbnail{
    padding: 5px;
    width: 300px;

    .thumbnail-container{
      border: 1px solid #afafaf;
      padding: 4px;
    }
  }

  .right-details{
    .product-title-top{
      h3.price-detail{
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        color: darken(@pure-red, 3);
        font-size: 30px;
      }
    }

    .rating-section{
      font-size: 20px;

      //rating
      .rating {
        color: #a9a9a9;
        margin: 0;
        padding: 0;
      }
      ul.rating {
        display: inline-block;
      }
      .rating li {
        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
      }
      .rating .filled {
        color: darken(@pure-red, 2);
      }

    }

    .discussion-panel{

      h3.discussion-no-data {
        color: darken(@pure-red, 4);
      }

      .panel-default{
        border-radius: 0px;
        padding-bottom: 0px;
        .panel-body{
          padding-bottom: 0px;
        }
        .reseller-message{
          padding-bottom: 10px;
          border-bottom: 1px solid #9f9f9f;

          h5{
            color: @pure-green;
          }

          .tag-reseller{
            background: darken(@pure-green, 6);
            color: #fff;
            border-radius: 2px;
            padding: 4px;
            font-family: Lato-Light;

          }

          .time-post{
            color: #afafaf;
          }

          p{
            color: #666666;
            font-family: Lato-Medium;
            font-size: 16px;
          }

        }

        .produsen-message{
          background: #cfcfcf;
          min-height: 50px;
          height: auto;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }

  }

  .product-desciption{
    height: 100px;
    text-align: justify;
    p{
      font-size: 11pt;
    }
  }

  .product-to-cart{
    margin-top: 5px;

    .btn-to-cart{
      background: @pure-green;
      color: #fff;
      font-size: 16px;
      border-radius: 2px;
      width: 180px;
      height: 40px;
      margin-left: 40px;
      &:hover{
        background: darken(@pure-green, 3);
      }
    }
  }

  .bottom-section{
    h3{
      color: darken(@pure-green, 6);
    }

    .feedback-product{

      .feedback-container{
        padding-top: 4px;
        padding-bottom: 2px;
        padding-right: 4%;
        border-bottom: 1px solid #eee;
        margin-top: 5%;
        .detail-profile{

          .name{
            color: darken(@pure-red, 3);
            font-weight: bold;
          }

        }

      }

    }
  }
}

.discussion-section{
  padding-top: 10px;

  h3{
    font-family: Lato-Medium;
    font-size: 24px;
  }

  label{
    color: @pure-red;
    font-size: 20px;
  }


  textarea{
    height: 100px;
    border-radius: 2px;
    font-family: Lato-Light;
    font-size: 18px;
  }

  .btn-to-discussion{
    background: darken(@pure-green,3);
    color: #fff;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    font-size: 18px;

    &:hover{
      background: darken(@pure-green, 6);
      color: #fff;
    }
  }
}


//cart
.cart-container{
  min-height: 240px;
  height: auto;
  width: 400px;
  border: 1px solid #e5e5e5;
  position: absolute;
  right: 30px;
  top: 60px;
  background: #fff;
  z-index: 10;

  .cart-empty-container{
    text-align: center;
    p{
      font-family: Lato-Medium;
      color: #BDC3C7;
      font-size: 16px;
    }
    i{
      font-family: Lato-Medium;
      color: #BDC3C7;
      font-size: 24px;
    }
  }

  .cart-exist-container{
    .cart-header{
      h4{
        border-bottom: 1px solid #e5e5e5;
        padding: 10px 5px 15px 10px;
        color: #26C281;
      }
    }

    .cart-content{
      border-bottom: 1px solid #e5e5e5;
      padding-bottom:  5px ;
      padding-top:  5px ;
      img{
        width: 100%;
      }
      .product-price{
        padding-right: 0 !important;

        span.delete-cart{
          margin-left: 5px;
          a{
            color: @pure-red;
          }
        }
      }
      p{
        color: #333;
        font-family: Lato-Light;
      }
    }

    .cart-total{

      div{
        border: 1px solid #e5e5e5;
      }
      h4{
        font-family: Lato-Medium;
        color: #333;
      }
      h4.total-value{
        font-family: Lato-Medium;
        color: #333;
        text-align: right;
      }

    }

    .cart-footer{
      padding-top: 10px;
      padding-bottom: 5px;

      button.btn-to-checkout{
        background: @pure-green;
        border-radius: 0px;
        height: 40px;
        width: 100%;
        color: #fff;

        &:hover{
          background: darken(@pure-green, 3);
          color: #fff;
        }
      }

      button.btn-to-clear{
        background: @pure-red;
        border-radius: 0px;
        width: 100%;

        &:hover{
          background: darken(@pure-red, 3);
          color: #fff;
        }
      }
    }
  }
}




//ext-header
.ext-header{

  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;

  h4.special-icon{
    font-size: 24px;
    padding-top: 8px;
  }

  margin-bottom: 2%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);

  .header-center{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    height: 55px;
    padding-top: 10px;

    img{
      width: 120px;
    }
  }

  .btn-search-ext{
    background: darken(@pure-green, 6);
    color: #fff;
  }

  .search-box-ext{
    border-left: none;

    input{
      height: 35px;
      font-family: Lato-Medium;
      font-size: 18px;
      width: 100%;
      color: #9f9f9f;
    }


  }

  .header-left{
    text-align: right;
    a{
      color: #666666;
    }
  }
  .header-right{
    a{
      color: #666666;
    }
    .count-cart{
      border-radius: 100%;
      height: 25px;
      text-align: center;
      width: 25px;
      line-height: 25px;
      color: #fff;
      background: @pure-green;
      position: absolute;
      top: 4px;
      font-size: 8pt;
      font-family: Lato-Light;
      left: 35px;
    }
  }

  //special search

}


//ext-header
.ext-header-hamburger{

  h4.special-icon{
    font-size: 24px;
    padding-top: 5px;
    cursor: pointer;

  }

  .open>.dropdown-menu.dropdown-user-data{
    margin-left: -55px;
  }

  margin-bottom: 2%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);

  .header-center{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    height: 55px;
    padding-top: 10px;

    img{
      width: 120px;
    }
  }

  .btn-search-ext{
    background: darken(@pure-green, 6);
    color: #fff;
  }

  .search-box-ext{
    border-left: none;

    input{
      height: 35px;
      font-family: Lato-Medium;
      font-size: 18px;
      width: 100%;
      color: #9f9f9f;
    }


  }

  .header-left{
    text-align: right;
    a{
      color: #666666;
    }
  }

  //special search

}


.sidenav {
  display: none;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: darken(@pure-green, 8);
  overflow-x: hidden;
  padding-top: 60px;
  .search-box{
    padding-top: 20px;
    padding-bottom: 10px;
    input {
      border-radius: 2px;
      height: 40px;
      font-family: Lato-Medium;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
      font-size: 18px;
    }
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size:  20px;
  color: #fff;
  display: block;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#carousel{
  height: 300px;
}

#carousel img {
  display: block;
  opacity: 0.7;
  cursor: pointer;
}

#carousel .flex-active-slide img {
  opacity: 1;
  cursor: default;
}

.register-form{
  input{
    height: 40px;
    font-family: Lato-Medium;
    border-radius: 2px;
    font-size: 16px;
  }

  select{
    height: 40px;
    font-family: Lato-Medium;
    border-radius: 2px;
    font-size: 16px;
  }

  button{
    height: 40px;
    border-radius: 2px;
    font-size: 16px;
    font-family: Lato-Medium;
  }
}

//check-out

.check-out-header{
  margin-bottom: 2%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);



}

.check-out-section{
  padding-top: 100px;
}

.check-out-panel{
  .panel{
    border-radius: 2px;
  }
  .panel-heading{
    border-radius: 2px;
    background: @pure-green;
    color: #fff;
    font-family: Lato-Medium;
  }
  .panel-body{
    font-family: Lato-Light;
    color: #333;
    .check-out-item{
      padding: 4px;
      .cart-no-item{
        h4{
          text-align: center;
          color: #333;
        }
      }
    }
    input[type="number"]{
      border-radius: 2px;
    }
    button.btn-delete-cart{
      border-radius: 2px;
      background: @pure-red;
      color: #fff;

      &:hover{
        color: #fff;
        background: darken(@pure-red, 3);
      }
    }
    h4.price-total{
      font-family: Lato-Medium;
      color: @pure-green;
    }
  }

  .panel-footer{
    h4{
      color: @pure-red;
      letter-spacing: 2px;
      font-family: Lato-Medium;
    }
    h4.total-price-cart{
      color: @pure-green;
      font-family: Lato-Medium;
    }
  }
}

.personal-data-panel{

  .panel{
    border-radius: 2px;
  }
  .panel-heading{
    border-radius: 2px;
    background: @pure-green;
    color: #fff;
    font-family: Lato-Medium;
  }
  .panel-body {
    font-family: Lato-Light;
    color: #333;

    .form-group{
      font-size: 16px;

      input{
        font-size: 16px;
        height: 40px;
        border-radius: 2px;
      }
      textarea{
        font-size: 16px;
        height: 100px;
        border-radius: 2px;
      }
      .btn-to-payment{
        color: #fff;
        width: 100%;
        height: 40px;
        font-size: 16px;
        background: @pure-green;
        border-radius: 2px;
        &:hover{
          color: #fff;
          background: darken(@pure-green, 3);
        }
      }
    }
  }

}




//payment-method

.payment-method-section{
  padding-top: 100px;
}

.payment-method-header{
  margin-bottom: 2%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.payment-method-panel{

  .panel{
    border-radius: 2px;
  }
  .panel-heading{
    border-radius: 2px;
    background: @pure-red;
    color: #fff;
    font-family: Lato-Medium;
  }
  .panel-body{
    font-family: Lato-Light;
    color: #333;
    .personal-data{
      border-bottom: 1px solid darken(@pure-red, 3);
    }
    .bill-payment{
      margin-top: 2%;
      border-bottom: 2px solid darken(@pure-green, 3);
      margin-bottom: 2%;
    }
  }

  button.to-end-payment-method{
    width: 100%;
    background: @pure-green;
    color: #fff;
    border-radius: 2px;
    font-size: 16px;

    &:hover{
      background: darken(@pure-green, 6);
    }
  }

}


.install-container{
  padding-top: 15px;
}

.alert-message{
  color: red;
}

.category-footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:50px;
  width:100%;
  background:#999;
  text-align: center;
  padding: 5px;

  .btn-filter{
    background: @pure-red;
    color: #fff;
    border-radius: 2px;
    font-family: Lato-Medium;
    font-size: 13pt;
    width: 100px;
  }
}

.modal-lg-custom .modal-dialog {
  width: 1100px;
}

.isNotChallenge{
  cursor: not-allowed;
}

.isChallenge{
  cursor: pointer;
}

.custom-modal-header{
  border-bottom: none;

  button{
    margin-top: -10px;
    background: lighten(@pure-red, 2);
    padding: 10px;
    opacity: 1;
    color: #fff;

    &:hover{
      opacity: 1;
      color: #fff;
      background: darken(@pure-red, 4);
    }
  }
}

.custom-modal-body{
  min-height: 300px;
  height: auto;

  .modal-thumbnail{
    text-align: center;
  }

  .background-category{
    background: rgba(39, 174, 96, 0.4);
    right: 15px;
    left: 15px;
    top: 0px;
    bottom: 38px;
    position: absolute;
  }

  .no-background-category{

  }
}

.custom-modal-footer{
  border-top: none;
  .btn-filter{
    color: #fff;
    background: darken(@pure-green, 6);
    width: 100%;
    border-radius: 2px;
    height: 40px;
    font-family: Lato-Medium;
    font-size: 12pt;

    &:hover{
      background: darken(@pure-green, 10);
    }
  }

  .thumbnail-direction{
    text-align: center;
    color: darken(@pure-green, 6);
    font-family: Lato-Medium;

    h3{
      a {
        color: darken(@pure-red, 4);
      }
    }

    h4{

    }
  }

}


//footer

@black-dark : #282830;

.footer{
  background: @black-dark;
  color: #d4d4d4;
  font-family: Lato-Medium;
  height: 180px;
  padding: 5px;
  .footer-title{
    h5{
      color: #4A6B4E;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }

  .footer-content{
    p{
      text-align: justify;
    }
  }
}
.footer-bottom{
  background: darken(@black-dark, 3);
  bottom: 0;
  position: inherit;
  height: 40px;
  padding-top: 5px;

  span.social-network-icon{
    font-size: 14px;
  }
}

//feedback

.photo-feedback{
  img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

.response-field{
  .response-description{
    font-size: 16px;
  }
}