//color
@darken-blue: #02395b;
@dark-blue:#005caa;
@light-blue:#009eb2;
@login-background:#009eb2;
@pure-white:#fff;
@dark-red: #c0392b;
@dark-grey:#666666;
@light-grey:#c5c5c5;

//border
@border-dark: @dark-grey;
@border-light: @light-grey;
@border-radius: 0px;
@form-border-radius:2px;
//font
@font-color: #666666;
@font-title: 700;
@font-sub-title: 500;
@font-content: 300;