<div class="modal-header" style="border-bottom: none;">
    <button type="button" class="close" ng-click="close()">&times;</button>
</div>
<div  class="modal-body text-center" style="height: auto; color: #ec1846;">
    <div class="row">
        <div class="col-xs-12">
            <img ng-model="imageBillboard" ng-src="../../img/no-image.png" style="width: 200px" ng-if="mediaList.length == 0">
            {{indexOfModals}}
            <img ng-src="{{getImage(indexOfArray).uri}}" ng-if="mediaList.length != 0" style="width:200px;">
        </div>
        <div class="col-xs-12" ng-if="mediaList.length != 0" style="margin-top: 2%">
            <img ng-repeat="image in mediaList" ng-src="{{image.uri}}" style="width: 80px; height: 80px;" ng-click="toIndex($index)">
        </div>
    </div>
    <div class="row" style="margin-top: 2%; margin-right: 2px; margin-left: 2px">

        <input id="uploadImage" type="file" onchange="angular.element(this).scope().addImage(this)" ng-model="file" class="hidden" >
        <label class="btn btn-primary" ng-show="mediaList.length < 5" style="background: #39B14A; color: #fff; border: none;" for="uploadImage">Choose Photos</label>
        <button ng-if="mediaList.length>0" ng-click="delete($index)" type="button" style="background: #39B14A; color: #fff; border: none;" class="btn btn-primary">Delete</button>
        <button ng-if="mediaList.length>0" ng-click="setAsDefault($index)" type="button" style="background: #39B14A; color: #fff; border: none;" class="btn btn-primary">Set as Default</button>
        <button ng-if="mediaList.length>0" type="button" ng-click="submit()" style="background: #EC1846; color: #fff; border: none;" class="btn btn-primary">Submit</button>   
    </div>
</div>