<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title"><center>{{ judul }}</center></h4>
</div>
<div class="modal-body modal-body-custom">
    <form name="updateFolderForm" ng-submit="submit()" >
        <div class="form-group">
           <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >DPP Awal</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="number" min="0" class="form-control form-custom"  ng-model="contentData.minAmount"  placeholder="Input DPP Awal" value="" required="true">
                            </div>
                        </div>
                    </div>
                </div>
            <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >DPP Akhir</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="number" min="0" class="form-control form-custom" id="akhir" ng-model="contentData.maxAmount"  placeholder="Input DPP Akhir" required="true">
                            </div>
                        </div>
                    </div>
                </div>
            <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Ada NPWP</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="number" min="0" step="0.01" class="form-control form-custom" ng-model="contentData.npwp"  placeholder="NPWP dalam bentuk desimal" value="" required="true">
                            </div>
                        </div>
                    </div>
                </div>
            <div class="container-fluid" style="padding-left:0px;">
                    <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                        <label >Tidak ada NPWP</label>
                    </div>
                    <div class="col-md-8 col-sm-8 content-desc" >

                        <div class="form-group row clearfix" >
                            <div class="col-sm-12">
                                <input type="number" min="0" step="0.01" class="form-control form-custom" id="" ng-model="contentData.nonNpwp" placeholder="NPWP dalam bentuk desimal" value="" required="true">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="footer-modal-button">
            <div class="col-md-6">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Batal</button>
            </div>
            <div class="col-md-6">
                <button class="btn modal-button-submit" type="submit">Simpan</button>
            </div>
        </div>
    </form>
</div>