<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">New Data Biaya Resume AHU</h4>
</div>
<div class="modal-body modal-body-custom">
    <form name="updateFolderForm" ng-submit="doDeleteUser()" >
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label >Masa Berlaku</label>
                </div>
                <div class="col-md-7 col-sm-7 content-desc" >

                    <div class="form-group row clearfix" >
                        <div class="col-sm-12">
                            <input type="number" class="form-control form-custom" id="" ng-model="input.period"  placeholder="Input Masa Berlaku" value="" required="true">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label >Hari</label>
                </div>
                
            </div>
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label >Effective Date</label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc" >

                    <div class="form-group row clearfix" >
                        <div class="col-sm-12">
                        <p class="input-group">
                           <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                   ng-model="input.effectiveDate"
                                   is-open="awal.opened" datepicker-options="dateOptions" placeholder="Effective Date" ng-required="true"
                                   close-text="Close" required/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openAwal($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    </p>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer-modal-button">
            <div class="col-md-6">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Tidak</button>
            </div>
            <div class="col-md-6">
                <button class="btn modal-button-submit" type="submit">Ya</button>
            </div>
        </div>
    </form>
</div>