<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Confirmation</h4>
</div>
<div class="modal-body modal-body-custom">
    <form name="updateFolderForm" ng-submit="doDeleteUser()" >
        <div class="form-group">
            <p> Are you sure to delete Category {{name}}?</p>
        </div>
        <div>
            <div class="col-md-6">
                <button class="btn btn-danger" type="button" ng-click="close()">No</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success" type="submit">Yes</button>
            </div>
        </div>
    </form>
</div>