<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Tambah Dokumen</h4>
</div>
<div class="modal-body modal-body-custom">
    <form name="updateFolderForm" ng-submit="doDeleteUser()">
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label>ID Dokumen</label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc">

                    <div class="form-group row clearfix">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-custom" id="" ng-model="input.code" placeholder="Input Text Here" value="" required="true">
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label>Nama Dokumen</label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc">

                    <div class="form-group row clearfix">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-custom" id="" ng-model="input.name" placeholder="Input Text Here" value="" required="true">
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                    <label>Mandatory</label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc">

                    <div class="form-group row clearfix">
                        <div class="col-sm-12">
                            <div class="col-sm-6" style="padding-left:0px;">
                                <input type="radio" ng-model="input.mandatory" ng-value=true ng-change="changeValue(input.mandatory)" ng-selected="input.mandatory"> Ya
                            </div>
                            <div class="col-sm-6" style="padding-left:0px;">
                                <input type="radio" ng-model="input.mandatory" ng-value=false ng-change="changeValue(input.mandatory)" ng-selected="input.mandatory"> Tidak
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                    <label>Default</label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc">

                    <div class="form-group row clearfix">
                        <div class="col-sm-12">
                            <div class="col-sm-6" style="padding-left:0px;">
                                <input type="radio" ng-model="input.default" ng-value=true ng-change="changeValueDefault(input.default)" ng-selected="input.default"> Ya
                            </div>
                            <div class="col-sm-6" style="padding-left:0px;">
                                <input type="radio" ng-model="input.default" ng-value=false ng-change="changeValueDefault(input.default)" ng-selected="input.default"> Tidak
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;">
                    <label>Display </label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc">

                    <div class="form-group row clearfix">
                        <div class="col-sm-12">
                            <div class="col-sm-6" style="padding-left:0px;">
                                <input type="radio" ng-model="input.display" ng-value=true ng-change="changeValueTambahan(input.display)" ng-selected="input.additionalResume"> Resume
                            </div>
                            <div class="col-sm-6" style="padding-left:0px;">
                                <input type="radio" ng-model="input.display" ng-value=false ng-change="changeValueTambahan(input.display)" ng-selected="input.additionalResume"> Resume Tambahan
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label>Extension</label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc">
                    <div class="form-group row clearfix">
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-custom" id="" ng-model="input.fileType" placeholder="PDF,JPG,JPEG,TIF" value="" required="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label>Max Size</label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc">

                    <div class="form-group row clearfix">
                        <div class="col-sm-10">
                            <input type="number" class="form-control form-custom" ng-model="input.maxSize" placeholder="2000" value="" required="true">
                        </div>
                        <div class="col-sm-2" style="padding: 4px">
                            KB
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="footer-modal-button">
            <div class="col-md-6">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Batal</button>
            </div>
            <div class="col-md-6">
                <button class="btn modal-button-submit" type="submit">OK</button>
            </div>
        </div>
    </form>
</div>