<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Konfirmasi</h4>
</div>
<div class="modal-body modal-body-custom">
    <form name="updateFolderForm" ng-submit="doDeleteUser()" >
        <div class="form-group">
            <p> Apakah anda yakin akan menghapus Cabang {{name}}</p>
        </div>
        <div class="footer-modal-button">
            <div class="col-md-6">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Tidak</button>
            </div>
            <div class="col-md-6">
                <button class="btn modal-button-submit" type="submit">Ya</button>
            </div>
        </div>
    </form>
</div>