<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Tambah Voucher</h4>
</div>
<div class="modal-body modal-body-custom">
    <form name="updateFolderForm" ng-submit="doUpload()" >
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-8 col-sm-8 col-sm-offset-1 content-desc" >
                    <div class="form-group row clearfix" >
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-custom" id="" ng-model="file.name"  placeholder="Masukan Voucher" value="" ng-readonly="true" ng-required="true">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 right-form-content" >
                    <input id="{{'upload'}}" type="file" file-model="file" class="hidden"/><label for="{{'upload'}}" class="btn button-upload-primary">Browse</label>
                </div>

            </div>
        </div>
        <div class="footer-modal-button">
            <div class="col-md-6">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Cancel</button>
            </div>
            <div class="col-md-6">
                <button class="btn modal-button-submit" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>