<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Alert</h4>
</div>
<div class="modal-body modal-body-custom">
    <form name="updateFolderForm" ng-submit="confirm()" >
        <div class="form-group">
            <p> Apakah Anda yakin menghapus {{modalParam.effectiveDate|date:'dd-MMM-yyyy'}} ?</p>
        </div>
        <div class="footer-modal-button">
            <div class="col-md-6">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Tidak</button>
            </div>
            <div class="col-md-6">
                <button class="btn modal-button-submit" type="submit">Ya</button>
            </div>
        </div>
    </form>
</div>