<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Add</h4>
</div>
<div class="modal-body modal-body-custom">
    <form name="updateFolderForm" ng-submit="doDeleteUser()" >
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label >Group Menu<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc" >

                    <div class="form-group row clearfix" >
                        <div class="col-sm-12">
                            
                            
                            <select class="form-control" ng-options="orient as orient.name for orient in privileges" ng-model="itemPrevilage" ng-change="setPrevilage(itemPrevilage)"></select>
                        </div>

                    </div>
                </div>
                
            </div>
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label >Tiring Awal<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc" >

                    <div class="form-group row clearfix" >
                        <div class="col-sm-12">
                            <input type="number" class="form-control form-custom" id="" ng-model="input.minAmount"  placeholder="Input Amount" value="" required="true">
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label >Tiring Akhir<span style="color:red;">*</span></label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc" >

                    <div class="form-group row clearfix" >
                        <div class="col-sm-12">
                            <input type="number" class="form-control form-custom" id="" ng-model="input.maxAmount"  placeholder="Input Amount" value="" required="true">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer-modal-button">
            <div class="col-md-6">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Tidak</button>
            </div>
            <div class="col-md-6">
                <button class="btn modal-button-submit" type="submit">Ya</button>
            </div>
        </div>
    </form>
</div>