<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">{{judul}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline col-md-12" ng-submit="findValue(search)" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
        </form>
        <table class="table hovered table-bordered table-striped">
            <thead>
            <tr>
                
                
                <td style="text-align: center">
                    <input type="radio" disabled>
                </td>
                <td style="text-align:left;">Kode Cabang</td></td>
                <td style="text-align:left;">Nama</td></td>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="branch in dataResult" style="cursor:pointer;">
                <td style="text-align: center" style="cursor:pointer;">
                    <input type="radio" ng-model="branch.value" ng-change="changeValue(branch.id)" ng-value=true ng-selected="branch.value">
                </td>
                
                <td>{{branch.code}}</td>
                <td>{{branch.name}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <div class="col-md-6 col-md-offset-6 button-container-lov">
            <div class="col-md-6 button-container-lov">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Batal</button>
            </div>
            <div class="col-md-6 button-container-lov">
                <button class="btn modal-button-submit" type="submit" ng-click="addBranch()">Tambah</button>
            </div>
        </div>
        <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    </div>
</div>