<div class="modal-header modal-reserve-wizard">
    <button type="button" class="close close-steps-modal" ng-click="close()"><i class="fa fa-times" aria-hidden="true"></i></button>
    <h3>Request to Reserve 1/3</h3>
</div>
<div class="modal-body" style="height: auto;">
    <div class="row">
        <div class="col-xs-12">
            <!-- <img ng-model="indexOfArray" ng-src="{{getImage(indexOfArray).uri}}" ng-if="getImage(indexOfArray).type=='IMAGE'" style="width: 70%">
            <iframe ng-if="getImage(indexOfArray).type=='VIDEO'" class="youtube-player" style="width:70%;" type="text/html" width="100%" height="300px" ng-src="{{trustSrc(getImage(indexOfArray).uri)}}" allowfullscreen frameborder="0"> </iframe> -->
            <div class="container-fluid container-desc">
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left: 0px">
                    <p>Billboard Name</p>
                </div>
                <div class="col-md-8 col-sm-8 content-desc">
                    <p>{{billboard.name}}</p>
                </div>
            </div>
            <div class="container-fluid container-desc">
                
                <div class="col-md-4 col-sm-4 col-xs-4 label-desc" style="padding-left: 0px">
                    <p>Address</p>
                </div>  
                <div class="col-md-8 col-sm-8 content-desc">
                    <p style="justify">
                    {{billboard.district.name}}, {{billboard.city.name}} <br>
                     {{billboard.province.name}} - Indonesia</p>
                </div>    
            </div>
        </div>
    </div>
</div>