<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">{{judul}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-4">
                <i class="fa fa-remove" ng-if="searchCode" ng-click="clearCode()" style="right: 10px; position: absolute; cursor: pointer; padding: 10px;"></i>
                <input autofocus type="text" name="{{lovName}}" class="form-control modal-text-search" placeholder="Kode" ng-model="searchCode" style="padding-right: 25px; width: 100%" id="searchCode">
            </div>
            <div class="form-group col-md-4">
                <i class="fa fa-remove" ng-if="searchName" ng-click="clearName()" style="right: 10px; position: absolute; cursor: pointer; padding: 10px;"></i>
                <input autofocus type="text" name="{{lovName}}" class="form-control modal-text-search" placeholder="Nama Cabang" ng-model="searchName" style="padding-right: 25px; width: 100%" id="searchName">
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="btn modal-button-submit" ng-click="findValue(searchCode,searchName)">Search</button>
            </div>
        </form>
        <table class="table hovered table-bordered table-striped">
            <thead>
            <tr>
                <td style="text-align: center" style="cursor:pointer;">
                    <input type="checkbox" ng-click="checkedAll()" ng-model="branch">
                </td>
                <td style="text-align:left;">Kode Cabang</td></td>
                <td style="text-align:left;">Nama</td></td>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="branch in dataResult | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage" style="cursor:pointer;">
                <td style="text-align: center" style="cursor:pointer;">
                    <input type="checkbox" ng-model="branch.value" ng-change="checkedChild(branch.value)">
                </td>
                <td>{{branch.code}}</td>
                <td>{{branch.name}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <div class="col-md-6 col-md-offset-6 button-container-lov">
            <div class="col-md-6 button-container-lov">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Batal</button>
            </div>
            <div class="col-md-6 button-container-lov">
                <button class="btn modal-button-submit" type="submit" ng-click="addBranch()">Tambah</button>
            </div>
        </div>

        <ul class="pagination">
            <li ng-class="DisablePrevPage()">
                <a ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a >{{n+1}}</a>
            </li>
            <li ng-class="DisableNextPage()">
                <a ng-click="nextPage()">Next »</a>

            </li>
        </ul>

        <!--<pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>-->
        <!--<pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>-->
    </div>
</div>