<div class="modal-header custom-modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
</div>
<div class="modal-body custom-modal-body">
    <div class="row">
        <div class="col-xs-3" ng-repeat="category in category">
            <div ng-mouseover="addBackground($index)" ng-mouseleave="!category.isClicked? removeBackground($index) : addBackground($index)" ng-click="storeCategory($index)" ng-style="background[$index]">

                <div ng-class="backgroundColor[$index] ? 'background-category' : 'no-background-category'">

                </div>

            </div>
            <h4>{{category.category.name}}</h4>
            <!--<img ng-click="getOpacity()" ng-mouseover="opacity()" ng-style="style" ng-mouseleave="removeClass()" ng-src="{{category.category.img}}">-->
        </div>
    </div>
    <div style="text-align: right; margin-top: 15px">
    </div>
</div>

<div class="modal-footer custom-modal-footer">
    <button class="btn btn-filter" ng-click="doSearch()" >Filter now</button>
</div>
