<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">{{modalParam.title}}</h4>
</div>
<div class="modal-body" style="text-align: center">
    <img style="width: 300px; height: auto" ng-src="{{modalParam.message}}">
    <div style="text-align: right; margin-top: 15px">
        <button class="btn btn-primary" ng-click="close()" >Close</button>
    </div>
</div>
