<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Cancel Resume</h4>
</div>
<div class="modal-body modal-body-custom">
    <form name="updateFolderForm" ng-submit="confirm()">
        <div class="form-group">
            <div class="container-fluid" style="padding-left:0px;">
                <div class="col-md-4 col-sm-3 col-xs-3 label-desc" style="padding-left:0px;margin-top:10px;">
                    <label>Keterangan Cancel</label>
                </div>
                <div class="col-md-8 col-sm-8 content-desc">
                    <div class="form-group row clearfix">
                        <div class="col-sm-12">
                            <textarea style="height: 80px" ng-model="cancelDescription" type="text" class="form-control form-custom" ng-model="user.division" placeholder="Masukan Keterangan Reject" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-modal-button">
            <div class="col-md-6">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Batal</button>
            </div>
            <div class="col-md-6">
                <button class="btn modal-button-submit" type="submit">Cancel Request</button>
            </div>
        </div>
    </form>
</div>