<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">{{judul}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline col-md-12" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-9">
                <i class="fa fa-remove" ng-if="searchName" ng-click="clearText()" style="right: 10px; position: absolute; cursor: pointer; padding: 10px;"></i>
                <input autofocus type="text" name="{{lovName}}" class="form-control modal-text-search" placeholder="Cabang Sentral" ng-model="searchName" style="padding-right: 25px; width: 100%" id="myField">
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="btn modal-button-submit" ng-click="findValue(searchName)">Search</button>
            </div>
        </form>
        <table class="table hovered table-bordered table-striped">
            <thead>
            <tr>
                <td style="text-align: center" style="cursor:pointer;">
                    <input type="checkbox" ng-model="branchCentral" ng-click="checkedAll()">
                </td>
                <td style="text-align:left;">Cabang Sentral</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="branchCentral in dataResult" style="cursor:pointer;">
                <td style="text-align: center" style="cursor:pointer;">
                    <input type="checkbox"  ng-model="branchCentral.value" ng-change="checkedChild(branchCentral.value)">
                </td>
                <td>{{branchCentral.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="col-md-6 col-md-offset-6 button-container-lov">
            <div class="col-md-6 button-container-lov">
                <button class="btn modal-button-cancel" type="button" ng-click="close()">Batal</button>
            </div>
            <div class="col-md-6 button-container-lov">
                <button class="btn modal-button-submit" type="submit" ng-click="addBranchCentral()">Tambah</button>
            </div>
        </div>
        <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    </div>
</div>