<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">{{judul}}</h4>
    </div>
    <div class="modal-body modal-content-lov">
        <form class="form-inline col-md-12" ng-submit="findValue(search)" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <!--<div class="form-group col-md-5">-->
                <!--<input type="text" class="form-control" placeholder="ID" name="{{lovId}}" ng-model="search.searchId">-->
            <!--</div>-->
            <!--<div class="form-group col-md-5">-->
                <!--<i class="fa fa-remove" ng-if="search.searchName" ng-click="clearText()" style="right: 15px; position: absolute; cursor: pointer; padding: 10px;"></i>-->
                <!--<input autofocUS type="text" name="{{lovName}}" class="form-control" placeholder="Name" ng-model="search.searchName" style="padding-right: 25px;" id="myField">-->
            <!--</div>-->
            <!--<div class="form-group col-md-2">-->
                <!--<button type="submit" class="btn btn-default">Search</button>-->
            <!--</div>-->
            <div class="form-group col-md-4">
                <i class="fa fa-remove" ng-if="searchCode" ng-click="clearCode()" style="right: 10px; position: absolute; cursor: pointer; padding: 10px;"></i>
                <input autofocus type="text" name="{{lovName}}" class="form-control modal-text-search" placeholder="Kode" ng-model="searchCode" style="padding-right: 25px; width: 100%" id="searchCode">
            </div>
            <div class="form-group col-md-4">
                <i class="fa fa-remove" ng-if="searchName" ng-click="clearName()" style="right: 10px; position: absolute; cursor: pointer; padding: 10px;"></i>
                <input autofocus type="text" name="{{lovName}}" class="form-control modal-text-search" placeholder="Nama Notary" ng-model="searchName" style="padding-right: 25px; width: 100%" id="searchName">
            </div>
            <div class="form-group col-md-3">
                <button type="submit" class="btn modal-button-submit" ng-click="findValue(searchCode,searchName)">Search</button>
            </div>
        </form>
        <table class="table hovered table-bordered table-striped">
            <thead>
            <tr>
                <td style="text-align: center">
                    <input type="radio" disabled>
                </td>
                <td style="text-align:left;">Notary ID</td>
                <td style="text-align:left;">Nama Notary</td>
                <td style="text-align:left;">Alamat</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="notary in dataResult" style="cursor:pointer;">
                <td style="text-align: center">
                    <input type="radio" ng-model="notary.value" ng-value=true ng-change="changeValue(notary.notaryId)" ng-selected="notary.value">
                </td>
                <td>{{notary.notaryId}}</td>
                <td>{{notary.name}}</td>
                <td style="text-align:left;">{{notary.city}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <div class="col-md-6 button-container-lov">
            <button class="btn modal-button-cancel" type="button" ng-click="close()">Batal</button>
        </div>
        <div class="col-md-6 button-container-lov">
            <button class="btn modal-button-submit" type="submit" ng-click="addNotary()">Tambah</button>
        </div>
        <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    </div>
</div>