<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <h4 class="modal-title">{{judul}}</h4>
    </div>
    <div class="modal-body">
        <form class="form-inline col-md-12" ng-submit="findValue(search)" style="margin-bottom:15px; padding-right:0px; padding-left:0px;">
            <div class="form-group col-md-5">
                <input type="text" class="form-control" placeholder="ID" name="{{lovId}}" ng-model="search.searchId">
            </div>
            <div class="form-group col-md-5">
                <i class="fa fa-remove" ng-if="search.searchName" ng-click="clearText()" style="right: 15px; position: absolute; cursor: pointer; padding: 10px;"></i>
                <input autofocus type="text" name="{{lovName}}" class="form-control" placeholder="Name" ng-model="search.searchName" style="padding-right: 25px;" id="myField">
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </form>
        <table class="table hovered table-bordered table-striped">
            <thead>
                <tr>
                    <td style="text-align:left;">Name</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in dataResult" ng-click="getDomainName(owner)" style="cursor:pointer;">
                    <td>{{owner.fullName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <pagination ng-click="pageChanged()" total-items="bigTotalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
    </div>
</div>