<div class="modal-header custom-modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
</div>
<div class="modal-body custom-modal-body">
    <div class="container-fluid modal-thumbnail">
        <img ng-src="{{image[index].img}}">
    </div>
    <div style="text-align: right; margin-top: 15px">
    </div>
</div>

<div class="modal-footer custom-modal-footer">
    <div class="container-fluid thumbnail-direction">
        <div class="col-xs-12">
            <h3>
                <a href="" ng-click="goToPrev(index-1)"><i class="fa fa-arrow-left" aria-hidden="true"></i></a> &nbsp;
                <a href="" ng-click="goToNext(index+1)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </h3>
        </div>
        <div class="col-xs-12">
            <h4>{{index}} of {{image.length-1}}<h4>
        </div>
    </div>
</div>
