<div class="modal-header" style="background: #000; border-bottom: none;">
    <button type="button" class="close close-custom" ng-click="close()"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>
<div class="modal-body text-center" style="height: auto; background: #000; color: #ec1846;">
    <div class="row">
        <div class="col-xs-2" style="padding-top: 20%">
            <a href="" ng-click="minIndex()" style="color:#ec1846;"><h2><i class="fa fa-angle-left" aria-hidden="true"></i></h2></a>    
        </div>
        <div class="col-xs-8">
            <img ng-model="indexOfArray" ng-src="{{getImage(indexOfArray).uri}}" ng-if="getImage(indexOfArray).type=='IMAGE'" style="width: 70%">
            <iframe ng-if="getImage(indexOfArray).type=='VIDEO'" class="youtube-player" style="width:70%;" type="text/html" width="100%" height="300px" ng-src="{{trustSrc(getImage(indexOfArray).uri)}}" allowfullscreen frameborder="0"> </iframe>
        </div>
        <div class="col-xs-2" style="padding-top: 20%">
            <a href="" ng-click="addIndex()" style="color:#ec1846;"><h2><i class="fa fa-angle-right" aria-hidden="true"></i></h2> </a>
               
        </div>
    </div>
    <p class="num-of-media">{{indexOfArray+1}} of {{pictureAvailable.length}} media</p>
    <div class="row">
        <div class="col-md-12" style="padding-top: 20px">
            <a ng-repeat="img in billboard.mediaList" ng-click="toCurrentMedia($index)"><img style="width: 80px;height: 80px;margin-left: 5px; margin-right: 5px; cursor: pointer;" ng-src="{{img.uri}}"></a>
        </div>
    </div>
</div>