<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Confirm</h4>
</div>
<div class="modal-body">
    <form name="updateFolderForm" ng-submit="rejectBillboard()">
        <div class="form-group">
            <p ng-model="albumId">Are you sure reject {{billboardName}} ?</p>
        </div>

        <div class="form-group" style="text-align: right">
            <button class="btn btn-primary" type="submit" ng-disabled="isDisabled">Reject</button>
            <button class="btn btn-default" type="button" ng-click="close()" formnovalidate>Batal</button>
        </div>
    </form>
</div>