<div id="wrapper" >
    <div id="navbar-header-sign-up" align="center">
        <a href="/"><img src="/img/logo-blinkzap.png" alt="logo" ></a>
    </div>
    <div id = "signUpWrapper" align="center">
        <div> <h4> ACTIVATE PAGE </h4></div>
        <div id = "signUp" ng-show="!loading">
            <div align="center" ng-show="success" class="billboardContent"> Your Account is Activated. Please login <a href ng-click="showModalLogin()" class="text-danger">here</a></div>
            <div align="center" ng-show="!success" class="billboardContent"> Activate Record Not Found! </div>
        </div>
    </div>
</div>
