<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="modal-header">
    <h4 class="modal-title" align="center">Login</h4>
    <span style="color:red" ng-show="check()"
          class="help-block">Password Masih Salah
    </span>
</div>
<div class="modal-body">
    <form ng-submit="doLoginAfter()">
        <input required class="form-control" placeholder="Username" type="text" ng-model="crendetial.username" ng-show="usernameExist"  readonly style="margin-bottom: 10px">
        <input required class="form-control" placeholder="Username" type="text" ng-model="crendetial.username" ng-show="!usernameExist" style="margin-bottom: 10px">
        <input class="form-control" placeholder="Password" type="password" ng-model="crendetial.password" style="margin-bottom: 20px">

        <div class="btn-group-vertical" style="width: 100%" >
            <div ng-show="showCaptcha" class="g-recaptcha" data-sitekey="{{captchaKey}}" style="transform:scale(0.85);-webkit-transform:scale(0.85);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
            <button type="submit" class="btn btn-primary" ng-click="doLoginAfter()">Login</button>
            <button type="button" class="btn btn-link" ng-click="doLogoutAfter()">Logout</button>
        </div>
    </form>
</div>
