<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header text-bold">Change Password</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <form name="changePassForm" class="form-horizontal" ng-submit="submit()">

            <div class="col-md-12">

                <div class="col-md-8" style="padding-left: 0px">
                <div class="form-group">
                    <div class="col-md-12">

                    <label class="control-label col-sm-4" for="currentPass">Old Password : </label>
                <div class="col-sm-8">
                    <input id="currentPass" name="currentPass" type="password" class="form-control"
                           placeholder="Old Password" required ng-model="oldpass">
                </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                <label class="control-label col-sm-4" for="newPass">New Password : </label>
                <div class="col-sm-8">
                    <input id="newPass" name="newPass" type="password" class="form-control"
                           placeholder="New Password" required ng-model="newpass">
                </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-12">
                <label class="control-label col-sm-4" for="confirmPass">Confirm Password : </label>
                <div class="col-sm-8">
                    <input id="confirmPass" name="confirmPass" type="password" class="form-control"
                           placeholder="Confirm Password" required ng-model="confirmpass" ng-change="checkConfirmation()">
                    <i class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="confirmed"></i>

                </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-12">
                <div class="col-sm-offset-4 col-sm-1">
                    <button type="submit" ng-click="changePassword()" class="btn button-blue-primary">Save</button>
                </div>
                </div>
            </div>


            </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class=" tips-container-add">
                                <h4>TIPS</h4>
                                <p>
                                    Password use at least 8 characters. Don’t use a password from another site, or something too obvious like your pet’s name.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>