<div id="wrapper" >
    <div id="navbar-header-sign-up" align="center">
        <a href="/"><img src="/img/logo-blinkzap.png" alt="logo" ></a>
    </div>
    <div class="finishSignUpWrapper">
        <img src="/img/final-sign-up.png" alt="">
        <div class="finalSignUpTitle"> THANK YOU FOR SIGNING UP </div>
        <div class= "billboardMasterDesc">
            <div class="billboardContent"> Please check your <span class="text-danger">registered email</span> and click the <span class="text-danger">URL</span>
                <br>in the message to activate your account <br></div>
        </div>
    </div>
</div>

