
<div class="panel panel-default panel-user-min-height">
        <div class="panel-body konten-galeri">
            <div class="container-fluid" style="padding:0px;">
                <div class="col-lg-12 col-md-12 col-xs-12 kotak-header">
                    <div class="col-md-8"><h3 class="judul_galeri">Find your account</h3></div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="col-md-6 col-md-offset-3" style="padding-top:3%; padding-bottom:3%;">
                    <form name="forgotPassForm" role="form" class="form-horizontal" ng-submit="submit()">
                        <div>
                            <label>Enter your username below</label>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="Username"
                                       ng-model="userId" name="userId" id="userId">
                            </div>

                        </div><!--
                        <div class="g-recaptcha" data-sitekey="{{captchaKey}}"
                             style="transform:scale(0.85);-webkit-transform:scale(0.85);transform-origin:0 0;-webkit-transform-origin:0 0;">
                        </div> -->
                        <button ng-click="backToLogin()" class="btn btn-default">Back</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
</div>