<div class="modal-header">
    <h4 class="modal-title" align="center">Login</h4>
</div>
<div class="modal-body">
    <form name = "step" ng-submit="doLogin()">
        <input class="form-control" placeholder="Username" type="text" ng-model="crendetial.username" ng-show="usernameExist" readonly style="margin-bottom: 10px">
        <input autofocus class="form-control" placeholder="Username" type="text" ng-model="username" ng-show="!usernameExist" style="margin-bottom: 10px">
        <input class="form-control" placeholder="Password" type="password" ng-model="password" style="margin-bottom: 20px">

        <div class="btn-group-vertical" style="width: 100%" >
            <button id="log" type="submit" class="btn btn-success" >Login</button>
            <button type="button" class="btn btn-link" ng-click="gotoForgotPassword()">Forgot Password</button>
        </div>
    </form>
</div>

