<div class="row">
   <div class="col-lg-12">
      <h3 class="page-header text-bold">Profile {{user}}</h3>
   </div>
</div>
<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div ba-panel ba-panel-class="profile-page">
      <div class="panel-content" ng-if="user=='admin'">
         <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
               <div class="form-group row clearfix">
                  <label class="col-sm-3 control-label">Username</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" ng-disabled="disableAdmin" id="inputFullName" ng-model="ProfileAdmin.username" placeholder="" value="">
                  </div>
               </div>
               <div class="form-group row clearfix">
                  <label class="col-sm-3 control-label">Email</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control" maxlength="50" ng-disabled="disable" id="inputEmail" ng-model="ProfileAdmin.email" placeholder="" value="">
                  </div>
               </div>
               <div class="form-group row clearfix">
                  <label class="col-sm-3 control-label">Phone Number</label>
                  <div class="col-sm-9">
                     <input type="text" class="form-control"  maxlength="30" ng-disabled="disable" id="inputPhoneNumber" ng-model="ProfileAdmin.phoneNumber" placeholder="" value="">
                  </div>
               </div>
               <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-show="disable" ng-click="updateProfileAdmin()">
               <i class="ion-android-checkmark-circle"></i>Update Profile
               </button>
               <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-hide="disable" ng-click="submitProfileAdmin()">
               <i class="ion-android-checkmark-circle"></i>Save
               </button>
            </div>
         </div>
      </div>

         <div class="panel-content" ng-if="user=='user'">
            <div class="row">
               <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                  <div class="form-group row clearfix">
                     <label class="col-sm-3 control-label">Full Name</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="255" ng-disabled="disable" id="inputFullName" ng-model="Profile.fullName" placeholder="" value="">
                     </div>
                  </div>
                  <div class="form-group row clearfix">
                     <label class="col-sm-3 control-label">Username</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control" ng-disabled="disableAdmin" id="inputFullName" ng-model="Profile.username" placeholder="" value="">
                     </div>
                  </div>
                  <div class="form-group row clearfix">
                     <label class="col-sm-3 control-label">Email</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="50" ng-disabled="disable" id="inputEmail" ng-model="Profile.email" placeholder="" value="">
                     </div>
                  </div>
                  <div class="form-group row clearfix">
                     <label class="col-sm-3 control-label">Company Name</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="255" ng-disabled="disable" id="inputCompanyName" ng-model="Profile.companyName" placeholder="" value="">
                     </div>
                  </div>
                  <div class="form-group row clearfix">
                     <label class="col-sm-3 control-label">Position</label>
                     <div class="col-sm-9">
                        <input type="text" class="form-control" maxlength="255" ng-disabled="disable" id="inputPosition" ng-model="Profile.positionTitle" placeholder="" value="">
                     </div>
                  </div>
                  <div class="form-group row clearfix">
                     <label class="col-sm-3 control-label">Phone Number</label>
                     <div class="col-sm-9" id="staticParent">
                        <input type="text" class="form-control" maxlength="30" ng-disabled="disable" id="inputPhoneNumber" ng-model="Profile.phoneNumber" placeholder="" value="">
                     </div>
                  </div>
                  <button type="button" class="btn btn-default btn-book-add" ng-show="disable" ng-click="updateProfile()">
                  <i class="ion-android-checkmark-circle"></i>Update Profile
                  </button>
                  <button type="button" class="btn btn-default btn-back-add" style="margin-right:10px;" ng-hide="disable" ng-click="cancel()">
                  <i class="ion-android-checkmark-circle"></i>Cancel
                  </button>
                  <button type="button" class="btn btn-default btn-book-add" ng-hide="disable" ng-click="submitProfile()">
                  <i class="ion-android-checkmark-circle"></i>Save
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   $(function() {
      $('#staticParent').on('keydown', '#inputPhoneNumber', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110])||/65|67|86|88/.test(e.keyCode)&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});
   })
</script>