<div id="wrapper" >
    <div id="navbar-header-sign-up" align="center">
        <a href="/"><img src="/img/logo-blinkzap.png" alt="logo" ></a>
    </div>
    <div id = "signUpWrapper" >
        <div class="kanan">
        <div class="signUp fontsize1"> REGISTER FOR FREE AS BLINKZAPPER </div>
        <div class= "signUp fontsize2">
            <div class="billboardContent"> Already have an account? Sign in <a href ng-click="showModalLogin()" class="text-danger">here</a> <br></div>
            <div class="container-fluid titip">
            <form class="formRegister" ng-show="step1" name = "step" ng-submit="nextStep()">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="fullname" data-placement="left" placeholder="Full Name" data-toggle="popover" data-trigger="focus" data-content="You can use letters, numbers, and periods" ng-model="register.fullName" maxlength="255" required>
                    <!-- <input type="text" class="form-control"> -->

                </div>

                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="username" data-placement="left" data-toggle="popover" data-trigger="focus" data-content="You can use letters, numbers, and periods" placeholder="Username" ng-model="register.username" maxlength="100" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control input-lg" data-toggle="popover"  data-placement="left"data-trigger="focus" data-content="You can use letters, numbers, and periods" id="email" placeholder="Email" ng-model="register.email" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control input-lg" data-toggle="popover"  data-placement="left"data-trigger="focus" data-content="Password Strenght: Very Weak <hr> Use at least 8 alphanumeric characters. Don’t use a password from another site, or something too obvious like your pet’s name." id="pwd" placeholder="Password" ng-model="register.password" required>
                </div>
                <div class="form-group has-feedback" >
                    <input type="password" class="form-control input-lg" ng-change="checkConfirmation()" id="confirmPwd" placeholder="Confirm password" ng-model="register.confirmationPassword" required>
                    <i class="glyphicon glyphicon-ok form-control-feedback text-success" ng-show="confirmed"></i>
                </div>
                <button type="submit" class="btn btn-default btn-block btn-submit-sign-up input-lg">Next Step</button>
            </form>

            <form ng-show="step2" name = "steps" ng-submit="submitRegister()">
                <div class="form-group">
                    <input type="text" class="form-control input-lg"  data-placement="left" data-toggle="popover" data-trigger="focus" data-content="Enter your company name"  id="companyName" placeholder="Company name" ng-model="register.companyName" maxlength="255">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-lg"  data-placement="left" data-toggle="popover" data-trigger="focus" data-content="Enter your position title"  id="position" placeholder="Job title" ng-model="register.positionTitle" maxlength="255">
                </div>
                <div class="form-group" id="staticParent">
                    <input type="text" class="form-control input-lg"  data-placement="left" data-toggle="popover" data-trigger="focus" data-content="Enter your phone number"  id="phoneNumber" placeholder="Phone Number" ng-model="register.phoneNumber" maxlength="30" required>
                </div>
                <div class="form-group">
                    <select class="form-control input-lg" id="role"  data-placement="left" ng-model="register.role" data-toggle="popover" data-trigger="focus" data-content="Select your role" >
                        <option value="bbUser" selected="selected">BillBoard Buyer</option>
                        <option value="bbOwner">BillBoard Owner</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" ng-click="back()" class="btn btn-default btn-block btn-back-sign-up input-lg">Back</button>
                    </div>
                    <div class="col-xs-6">
                    <button type="submit" class="btn btn-default btn-block btn-submit-sign-up input-lg">Register</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        html : true
    });
});

//minimum 8 characters
var bad = /(?=.{8,}).*/;
//Alpha Numeric plus minimum 8
var good = /^(?=\S*?[a-z])(?=\S*?[0-9])\S{8,}$/;
//Must contain at least one upper case letter, one lower case letter and (one number OR one special char).
var better = /^(?=\S*?[A-Z])(?=\S*?[a-z])((?=\S*?[0-9])|(?=\S*?[^\w\*]))\S{8,}$/;
//Must contain at least one upper case letter, one lower case letter and (one number AND one special char).
var best = /^(?=\S*?[A-Z])(?=\S*?[a-z])(?=\S*?[0-9])(?=\S*?[^\w\*])\S{8,}$/;

$('#pwd').on('keyup', function () {
    var password = $(this);
    var pass = password.val();
    var passLabel = $('[for="password"]');
    var stength = 'Weak';
    var pclass = 'danger';
    if (best.test(pass) == true) {
        stength = 'Very Strong';
        pclass = 'success';
    } else if (better.test(pass) == true) {
        stength = 'Strong';
        pclass = 'warning';
    } else if (good.test(pass) == true) {
        stength = 'Almost Strong';
        pclass = 'warning';
    } else if (bad.test(pass) == true) {
        stength = 'Weak';
    } else {
        stength = 'Very Weak';
    }

    var popover = password.attr('data-content', 'Password Strenght: '+ stength + '<hr> Use at least 8 alphanumeric characters. Don’t use a password from another site, or something too obvious like your pet’s name.').data('bs.popover');
    popover.setContent();
    popover.$tip.addClass(popover.options.placement).removeClass('danger success info warning primary').addClass(pclass);

});

$(function() {
    $('#staticParent').on('keydown', '#phoneNumber', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110])||/65|67|86|88/.test(e.keyCode)&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});
})
</script>


