<div>
    <div class="container-fluid footer">
        <div class="container">
            <div class="col-md-4">
                <div class="footer-title">
                    <h5>Who We Are?</h5>
                </div>
                <div class="footer-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-title">
                    <h5>Marketplace Name</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-title">
                    <h5>Contact</h5>
                </div>

                <div class="footer-content">
                    <p>
                        {{siteInfo.site_address}}
                    </p>
                    <p>{{siteInfo.site_phone}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-bottom">
        <div class="col-md-8">
            <p><b>Marketku</b> &nbsp; | &nbsp; &copy; &nbsp; Copyright 2017 &nbsp; | &nbsp; All Right Reserved</p>
        </div>
        <div class="col-md-4">
            <p>Find us on: &nbsp;
                <span class="social-network-icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-instagram" aria-hidden="true"></i>&nbsp;
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </span>
            </p>
        </div>
    </div>
</div>
