<nav class="navbar navbar-default custom-navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
            <div class="col-xs-6 visible-xs-block">
                <div class="input-group">
                    <input type="text" class="form-control search-container" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search" type="button">Go</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<form class="navbar-form col-md-10">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control search-box" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <!--</form>-->
            <div class="col-lg-6 col-sm-6 col-xs-5">
                <div class="input-group">
                    <input type="text" class="form-control search-container" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search" type="button">Go</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="goToHome()">Home</a></li>
                <li><a href="" ng-click="goToProduct()">Product</a></li>
                <li><a href="" ng-click="goToRegister()">Register</a></li>
                <li><a href="" ng-click="showModalLogin()" ng-show="!isLogin">Login</a></li>
                <li><a href="" ng-click="goToDashboard()" ng-show="isLogin">Dashboard</a></li>
                </a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <div class="cart-container" ng-show="chartIsActive" ng-mouseleave="hideCart()">
            <div class="col-md-12 cart-empty-container" ng-show="!chartNotNull">
                <p>Oops... your shopping cart is empty!</p>
            </div>
            <div class="container-fluid cart-exist-container" ng-show="chartNotNull">
                <div class="cart-header" ng-show="chartNotNull">
                    <h4 ng-if="cartProductItem == 1">{{cartProductItem}} Item, {{totalPrice | currency : 'Rp '}}</h4>
                    <h4 ng-if="cartProductItem > 1">{{cartProductItem}} Items, {{totalPrice | currency : 'Rp '}}</h4>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>