<div class="col-md-12">
    <div class="col-md-12 section-title">
        <p><span style="background: #fff">Our Products</span></p>
    </div>
    <div class="product-promo-content">
        <div class="col-xs-2 product-card-container" ng-repeat="product in products" ng-mouseover="produsenLabel($index)" ng-mouseleave="produsenLabelHide($index)">
            <div class="panel panel-default card-product">
                <img ng-src="{{product.img}}">
                <div class="detail-produsen-product" ng-show="product.status"><p>{{product.produsen}}</p></div>
                <div class="panel-body detail-product-container">
                    <p class="title">{{product.name}}</p>
                    <p class="price">{{product.price}}</p>
                    <button class="btn btn-primary col-md-12" ng-click="addToCart(product)">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>