<div class="col-xs-12">
    <div class="col-md-12 section-title">
        <p><span style="background: #fff">Best Seller</span></p>
    </div>
    <div class="product-promo-content">
        <div class="col-xs-6 col-md-2 product-card-container" ng-repeat="product in dataList">
            <div class="panel panel-default card-product">
                <!--<div class="panel-body">Panel Content</div>-->
                <div class="panel panel-default card-product">
                    <img ng-src="{{product.img}}" ng-click="goToDetail(product.id)" style="cursor: pointer">
                    <div class="detail-produsen-product" ng-show="product.statusProdusen"><p>{{product.produsen}}</p></div>
                    <div class="panel-body detail-product-container">
                        <p class="title">{{product.name}}</p>
                        <p class="stock">Transaction success: {{product.num_transaction}}</p>
                        <p class="price">{{product.price_low | currency : "Rp "}} / {{product.volume}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>