<div class="col-md-12">
    <div class="col-md-12 section-title">
        <p><span style="background: #fff">Promo</span></p>
    </div>
    <!--<div class="product-promo-content">-->
        <!--<div class="col-xs-6 col-md-2">-->
            <!--<div class="panel panel-default card-product">-->
                <!--<div class="panel-body">Panel Content</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-md-2">-->
            <!--<div class="panel panel-default card-product">-->
                <!--<div class="panel-body">Panel Content</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-md-2">-->
            <!--<div class="panel panel-default card-product">-->
                <!--<div class="panel-body">Panel Content</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-md-2">-->
            <!--<div class="panel panel-default card-product">-->
                <!--<div class="panel-body">Panel Content</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-md-2">-->
            <!--<div class="panel panel-default card-product">-->
                <!--<div class="panel-body">Panel Content</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-xs-6 col-md-2">-->
            <!--<div class="panel panel-default card-product">-->
                <!--<div class="panel-body">Panel Content</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="container-fluid">
        <div class="col-md-12">

            <flex-slider slider-id="carousel" flex-slide="image in prod.imagePaths track by $index" animation="slide" animation-loop="false" item-width="210" item-margin="5" as-nav-for="#slider" slideshow="false" control-nav="false">
                <li>
                    <img ng-src="{{image.thumbnail}}">
                </li>
            </flex-slider>
        </div>
    </div>
</div>