<div class="col-md-12">
    <div class="col-md-12 section-title">
        <p><span style="background: #fff">Join Us!</span></p>
    </div>
    <div class="col-md-6 register-information">
        <img ng-src="img/register.jpg">
    </div>
    <div class="col-md-6 register-form">
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <h4>Username</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" ng-model="username" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <h4>Email</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="email" ng-model="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <h4>Register as:</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <select class="form-control" ng-options="orient as orient.name for orient in role" ng-model="itemRole"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-register" ng-click="register()">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>