<div class="row navbar-fixed-top">
    <div class="container-fluid ext-header-hamburger">
        <div class="col-xs-1 header-left">
           <h4 class="special-icon" ng-click="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></h4>
        </div>
        <div class="col-xs-10 header-center">
            <a href="" ng-click="goToHome()"><img ng-src="{{dataSite.site_logo}}"></a>
        </div>
        <div class="col-xs-1 header-right">
            <h4 class="special-icon" ng-click="showModalLogin()" ng-show="!isLogin"><i class="fa fa-unlock-alt" aria-hidden="true"></i></h4>
            <h4 class="special-icon dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false" ng-show="isLogin"><i class="fa fa-user" aria-hidden="true"></i></h4>
            <!--<li class="dropdown">-->
                <!--<a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false">-->
                    <!--<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>-->
                <!--</a>-->
                <ul class="dropdown-menu dropdown-user-data">
                    <li><a ng-click="toProfile()" href=""><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            <!--</li>-->
        </div>
    </div>

    <div class="sidenav" ng-style="navState">
        <a class="closebtn" ng-click="closeNav()" style="cursor: pointer">&times;</a>
        <div class="container-fluid search-box">
            <input type="text" class="form-control" placeholder="Search here..." ng-model="productName" ng-enter="doSearchProduct(productName)">
        </div>
        <a href="" ng-click="goToHome()">Home</a>
        <a href="" ng-click="goToProduct()">Product</a>
        <a href="" ng-click="showModalLogin()" ng-show="!isLogin">Login</a>
        <a href="" ng-click="goToDashboard()" ng-show="isLogin">Dashboard</a>
    </div>
</div>