<div class="container-fluid">
    <header-external></header-external>
    <div class="row check-out-section">
        <div class="col-md-6 check-out-panel">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><i class="fa fa-shopping-basket" aria-hidden="true"></i> &nbsp; Shopping cart</h4></div>
                <div class="panel-body">
                    <div class="row check-out-item" ng-if="checkOutItems.length==0 || checkOutItems == null">
                        <div class="container-fluid cart-no-item">
                            <h4>Oops... you don't have any item :(</h4>
                        </div>
                    </div>
                    <div class="row check-out-item" ng-if="checkOutItems.length>0 || checkOutItems != null" ng-repeat="product in checkOutItems">
                        <div class="col-md-2">
                            <img ng-src="{{product.img}}">
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <p>{{product.name}}</p>
                                <p>{{product.price_low | currency : 'Rp'}}/pcs</p>
                            </div>
                            <div class="col-md-6">
                                <h4 class="price-total">{{product.price_low * product.quantity | currency : 'Rp'}}</h4>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-xs-9">
                                <input type="number" class="form-control" ng-model="product.quantity" min="1">
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-delete-cart" ng-click="deleteCart($index)"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>total</h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="total-price-cart">{{totalPrice() | currency : 'Rp'}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4>total weight</h4>
                        </div>
                        <div class="col-md-4">
                            <h4 class="total-price-cart">{{ getWeight()}} gram(s)</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 personal-data-panel">
            <div class="panel panel-default">
                <div class="panel-heading"><h4> <i class="fa fa-address-card" aria-hidden="true"></i> &nbsp; Personal data</h4></div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" ng-model="firstName" placeholder="First Name">
                            <label ng-show="firstNameInvalid" class="control-label alert-message">First Name is not be empty</label>
                        </div>
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" ng-model="lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">+62</span>
                                <input type="text" class="form-control" ng-model="phone" placeholder="Phone Number">
                            </div>
                            <label ng-show="phoneInvalid" class="control-label alert-message">Phone number is not empty</label>
                        </div>

                        <div class="form-group">

                            <label style="padding-top:10px; padding-bottom: 10px">Your Address:</label>

                            <div class="form-group">
                                <label>Province</label>
                                <select class="form-control" ng-options="orient as orient.province for orient in province" ng-model="itemProvince" ng-change="setCity(itemProvince)"></select>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <select class="form-control" ng-options="orient as orient.city_name for orient in city" ng-model="itemCity" ng-change="selectCity(itemCity)"></select>
                            </div>
                            <label>Street</label>
                            <textarea class="form-control" ng-model="address" placeholder="Your address..."></textarea>
                            <label ng-show="addressInvalid" class="control-label alert-message">Address is not be empty</label>
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input type="number" class="form-control" ng-model="postCode" placeholder="Postal Code">
                                <label ng-show="postCodeInvalid" class="control-label alert-message">Postal code is not be empty</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Shipping Date</label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 content-desc" >
                                <div class="form-group row clearfix" >
                                    <div class="col-sm-12">
                                        <div class="form-group row clearfix" >
                                            <p class="input-group">
                                                <input name="dateAwal" type="text" class="form-control" datepicker-popup="{{format}}" ng-readonly="true"
                                                       ng-model="shippingDate"
                                                       is-open="awal.opened" datepicker-options="dateOptions" placeholder="Shipping Date" ng-required="true"
                                                       close-text="Close" require min-date="minDate"d/>
                                        <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openAwal($event)" style="height: 40px"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                            </p>

                                        </div>
                                    </div>
                                    <label ng-show="shippingDateInvalid" class="control-label alert-message">Shipping date is not be empty</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Select your shipping courier:</label>
                        </div>
                        <div class="row">
                            <div class="col-xs-1">
                                <label class="radio-inline">
                                    <input type="radio" name="courier" ng-model="courier" value="tiki">
                                </label>
                            </div>
                            <div class="col-xs-4">
                                <img style="width: 80px" ng-src="../img/tiki.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1">
                                <label class="radio-inline">
                                    <input type="radio" name="courier" ng-model="courier" value="jne">
                                </label>
                            </div>
                            <div class="col-xs-4">
                                <img style="width: 80px" ng-src="../img/jne.png">
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-1">
                                <label class="radio-inline">
                                    <input type="radio" name="courier" ng-model="courier" value="pos">
                                </label>
                            </div>
                            <div class="col-xs-4">
                                <img style="width: 80px" ng-src="../img/pos_indonesia.png">
                            </div>

                        </div>
                        <div class="col-md-12" ng-show="shippingDateInvalid">
                            <label ng-show="shippingDateInvalid" class="control-label alert-message">Shipping type is not be empty</label>
                        </div>
                        <div class="form-group">
                            <label>Notes for my order:</label>
                            <textarea ng-model="notes" class="form-control" placeholder="Your notes here"></textarea>
                        </div>

                        <div class="form-group">
                            <button ng-click="goToPaymentMethod()" class="btn btn-to-payment">Continue to payment method</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>