<div class="container-fluid">
    <div class="row">
        <div ng-style="bannerContainer"></div>
    </div>
    <div class="row about-container">
        <div class="container-fluid">
            <div class="col-md-12 section-title">
                <p><span style="background: #fff">It's About</span></p>
            </div>
            <div class="container-fluid about-content">
                <h4>{{siteInfo.site_about}}</h4>
            </div>
        </div>
    </div>
    <div class="row product-home">
        <!--<product-promo></product-promo>-->
        <product-best-seller></product-best-seller>
    </div>
    <div class="row register-home">
        <register></register>
    </div>
</div>