<div class="container-fluid">
    <header-external></header-external>
    <div class="row payment-method-section">
        <div class="col-md-6 payment-method-panel">
            <div class="panel panel-default">
                <div class="panel-heading"><h4> <i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp; Transaction details</h4></div>
                <div class="panel-body">
                    <div class="row personal-data">
                        <div class="col-xs-6">
                            <p>Deliver for</p>
                        </div>
                        <div class="col-xs-6">
                            <p>{{shippingData.first_name + " " + shippingData.last_name}}</p>
                        </div>
                        <div class="col-xs-6">
                            <p>Address</p>
                        </div>
                        <div class="col-xs-6">
                            <p>{{shippingData.address}}</p>
                        </div>
                        <div class="col-xs-6">
                            <p>Notes for product</p>
                        </div>
                        <div class="col-xs-6">
                            <p>{{shippingData.notes}}</p>
                        </div>
                    </div>

                    <div class="row bill-payment">
                        <div class="col-xs-6">
                            <p>Courier</p>
                        </div>
                        <div class="col-xs-6">
                            <p>{{courier | uppercase}}</p>
                        </div>
                        <div class="col-xs-6">
                            <p>Total transaction</p>
                        </div>
                        <div class="col-xs-6">
                            <p>{{totalPrice() | currency : 'Rp'}}</p>
                        </div>
                        <div class="col-xs-6">
                            <p>Delivery fee</p>
                        </div>
                        <div class="col-xs-6">
                            <p>{{deliveryFee | currency : 'Rp' }}</p>
                        </div>
                        <div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <p>You have to pay:</p>
                        </div>
                        <div class="col-xs-6">
                            <p style="font-weight: bold; color: #c0392b">{{totalPrice()+deliveryFee | currency : 'Rp '}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 payment-method-panel">
            <div class="panel panel-default">
                <div class="panel-heading"><h4> <i class="fa fa-shopping-basket" aria-hidden="true"></i> &nbsp; Shopping details</h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <th>No</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    <tr ng-repeat="product in checkOutItems">
                                        <td>{{$index+1}}</td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.price_low}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>{{product.price_low * product.quantity | currency : 'Rp'}}</td>
                                    </tr>
                                </table>
                            </div>
                            <button class="btn to-end-payment-method" ng-click="sendPayment()">Process</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>