<div class="container-fluid">
    <div class="row navbar-fixed-top">
        <div class="container-fluid ext-header">
            <div class="col-xs-1 header-left">
                <h4 ng-show="searchLogo" class="special-icon"><i class="fa fa-search" aria-hidden="true"></i></h4>
            </div>
            <div class="col-xs-10 header-center" ng-class="headerSearch">
                <a ng-show="logoExtHeader" href="" ng-click="goToHome()"><img ng-src="{{dataSite.site_logo}}"></a>
                <div class="input-group" ng-show="!logoExtHeader">
                    <input type="text" class="form-control" ng-enter="doSearchProduct(searchName)"
                           placeholder="What are you looking for?" ng-model="searchName">
                        <span class="input-group-addon btn-search-ext" ng-click="doSearchProduct(searchName)"
                              style="cursor: pointer"><span class="glyphicon glyphicon-search"></span>
                      </span>

                </div>
            </div>
                <div class="col-xs-1 header-right">
                    <h4 class="special-icon"><a ng-mouseover="showCart()" href=""><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></h4>
                    <div class="count-cart" ng-show="cartProductItem > 0">
                        {{cartProductItem}}
                    </div>
                </div>
                <div class="cart-container" ng-show="chartIsActive" ng-mouseleave="hideCart()">
                    <div class="col-md-12 cart-empty-container" ng-show="!chartNotNull">
                        <p>Oops... your shopping cart is empty!</p>
                    </div>
                    <div class="container-fluid cart-exist-container" ng-show="chartNotNull">
                        <div class="cart-header row" ng-show="chartNotNull">
                            <h4 ng-if="cartProductItem == 1">{{cartProductItem}} Item, {{totalPrice | currency :'Rp'}}</h4>
                            <h4 ng-if="cartProductItem > 1">{{cartProductItem}} Items, {{totalPrice | currency :'Rp'}}</h4>
                        </div>
                        <div class="cart-content row" ng-repeat="product in cartProduct">
                            <div class="col-xs-3">
                                <img ng-src="{{product.img}}">
                            </div>
                            <div class="col-xs-4">
                                <p>{{product.name}}</p>
                            </div>
                            <div class="col-xs-1">
                                <p>X</p>
                                <p>{{product.quantity}}</p>
                            </div>
                            <div class="col-xs-4 product-price">
                                <p>{{product.price_low * product.quantity | currency : 'Rp'}}<span
                                        class="delete-cart"><a ng-click="deleteCart($index)"><i
                                        class="fa fa-window-close-o" aria-hidden="true"></i></a></span></p>
                            </div>
                        </div>
                        <div class="cart-total row">
                            <div class="col-xs-6">
                                <h4>Total</h4>
                            </div>
                            <div class="col-xs-6">
                                <h4 class="total-value">{{totalPrice | currency : 'Rp'}}</h4>
                            </div>
                        </div>
                        <div class="cart-footer row">
                            <div class="col-md-12">
                                <button class="btn btn-to-checkout" ng-click="gotToCheckOut()"><i class="fa fa-check"
                                                                                                  aria-hidden="true"></i>
                                    &nbsp; CHECKOUT
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row product-catalog">
            <div class="col-md-12">
                <div class="col-md-12 section-title">
                    <p><span style="background: #fff">Our Products</span></p>
                </div>
                <div class="product-promo-content">
                    <div class="col-md-2 col-xs-6 product-card-container" ng-repeat="product in dataList"
                         ng-mouseover="produsenLabel($index)" ng-mouseleave="produsenLabelHide($index)">
                        <div class="panel panel-default card-product">
                            <img ng-src="{{product.img}}" ng-click="goToDetail(product.id)" style="cursor: pointer">
                            <div class="detail-produsen-product" ng-show="product.statusProdusen"><p>
                                {{product.produsen}}</p></div>
                            <div class="panel-body detail-product-container">
                                <p class="title">{{product.name}}</p>
                                <p class="stock">Available: {{product.current_stock}}</p>
                                <p class="price">{{product.price_low | currency : "Rp "}} / {{product.volume}}</p>
                                <button class="btn btn-add-cart col-xs-12" ng-click="addToCart(product)">
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i> &nbsp; Add to cart
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="" tooltip="Back to top" id="scroll" style="display: none;"><span></span></a>

        <div class="category-footer">
            <button class="btn btn-filter" ng-click="openModalCategory()"><i class="fa fa-filter"aria-hidden="true"></i> &nbsp; Filter
            </button>
        </div>
    </div>



    <script>

        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#scroll').fadeIn();
                } else {
                    $('#scroll').fadeOut();
                }
            });
            $('#scroll').click(function () {
                $("html, body").animate({scrollTop: 0}, 600);
                return false;
            });
        });

    </script>
