<div class="container-fluid">
    <div class="row navbar-fixed-top">
        <div class="container-fluid ext-header">
            <div class="col-xs-1 header-left">
                <h4 class="special-icon"><a ng-click="goToProduct()" href=""><i class="fa fa-arrow-left" aria-hidden="true"></i></a></h4>
            </div>
            <div class="col-xs-10 header-center">
                <a href="" ng-click="goToHome()"><img ng-src="{{dataSite.site_logo}}"></a>
            </div>
            <div class="col-xs-1 header-right">
                <h4 class="special-icon"><a ng-mouseover="showCart()" href=""><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></h4>
                <div class="count-cart" ng-show="cartProductItem > 0">
                    {{cartProductItem}}
                </div>
            </div>
            <div class="cart-container" ng-show="chartIsActive" ng-mouseleave="hideCart()" >
                <div class="col-md-12 cart-empty-container" ng-show="!chartNotNull">
                    <p>Oops... your shopping cart is empty!</p>
                </div>
                <div class="container-fluid cart-exist-container" ng-show="chartNotNull">
                    <div class="cart-header row" ng-show="chartNotNull">
                        <h4 ng-if="cartProductItem == 1">{{cartProductItem}} Item, {{totalPrice | currency : 'Rp'}}</h4>
                        <h4 ng-if="cartProductItem > 1">{{cartProductItem}} Items, {{totalPrice | currency : 'Rp'}}</h4>
                    </div>
                    <div class="cart-content row" ng-repeat="product in cartProduct">
                        <div class="col-xs-3">
                            <img ng-src="{{product.img}}">
                        </div>
                        <div class="col-xs-4">
                            <p>{{product.name}}</p>
                        </div>
                        <div class="col-xs-1">
                            <p>X</p>
                            <p>{{product.quantity}}</p>
                        </div>
                        <div class="col-xs-4 product-price">
                            <p>{{product.price_low * product.quantity | currency : 'Rp'}}<span class="delete-cart"><a ng-click="deleteCart($index)"><i class="fa fa-window-close-o" aria-hidden="true"></i></a></span></p>
                        </div>
                    </div>
                    <div class="cart-total row">
                        <div class="col-xs-6">
                            <h4>Total</h4>
                        </div>
                        <div class="col-xs-6">
                            <h4 class="total-value">{{totalPrice | currency : 'Rp'}}</h4>
                        </div>
                    </div>
                    <div class="cart-footer row">
                        <div class="col-md-12">
                            <button class="btn btn-to-checkout" ng-click="gotToCheckOut()"> <i class="fa fa-check" aria-hidden="true"></i> &nbsp; CHECKOUT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid detail-product-section">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="image-wrapper">
                            <img ng-src="{{dataList.img}}" class="img-responsive">
                        </div>
                        <div class="image-thumbnail">
                            <div class="col-xs-3" ng-repeat="thumbnail in dataList.thumbnail" ng-show="thumbnail.img != undefined && thumbnail.status == 0 && thumbnail.photo != 'default.png'">
                                <div class="row thumbnail-container">
                                    <a href="" ng-click="viewImageThumbnail(dataList.thumbnail, $index)">
                                        <img style="width: 100%" ng-src="{{thumbnail.img}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 right-details">
                        <ul class="nav nav-pills">
                            <li ng-class="{active:isSet(1)}"><a class="tabs-detail" href ng-click="setTab(1)">Detail</a></li>
                            <li ng-class="{active:isSet(2)}"><a class="tabs-detail" href ng-click="setTab(2)">Review ({{dataList.review.length}})</a></li>
                            <li ng-class="{active:isSet(3)}"><a class="tabs-detail" href ng-click="setTab(3)">Discussion ({{dataList.discussion.length}})</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-8 right-details" ng-show="isSet(1)">
                        <div class="row product-title-top">
                            <div class="col-xs-8">
                                <h3>{{dataList.name}}</h3>
                                <h4>By: {{dataList.produsen}}</h4>
                            </div>
                            <div class="col-xs-4 rating-section">
                                <h5>Ratings for this product</h5>
                                <span ng-repeat="rating in ratings">
                                    <div star-rating rating-value="rating.current" max="rating.max" on-rating-selected="getSelectedRating(rating)"></div>
                                </span>
                            </div>
                            <div class="col-xs-12">
                                <h3 class="price-detail">{{dataList.price_low | currency: "Rp "}} <span class="product-to-cart col-xs-offset-5"><button class="btn btn-to-cart" ng-click="addToCart()"><i class="fa fa-shopping-basket" aria-hidden="true"></i> &nbsp;Add to cart</button></span></h3>

                            </div>
                            <!--<div class="col-xs-6 product-to-cart">-->
                                <!---->
                            <!--</div>-->
                        </div>
                        <div class="row">
                            <div class="col-xs-12 product-desciption">
                                <p>{{dataList.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 right-details" ng-show="isSet(2)">
                        <div class="row discussion-section">
                            <div class="col-xs-12">
                                <h3>Review</h3>
                                <div class="form-group" ng-show="isReseller">
                                    <label>Any question about this product?</label>
                                    <textarea class="form-control" ng-model="contentData.discussion" placeholder="Input your question here..."></textarea>
                                </div>
                                <div class="form-group" ng-show="isReseller">
                                    <button ng-click="sendDiscussion()" class="btn btn-to-discussion">Start to discussion</button>
                                </div>

                                <!--<textarea class="form-control"></textarea>-->
                            </div>
                            <div class="col-xs-12 discussion-panel">
                                <h3 class="discussion-no-data" ng-show="dataList.review.length == 0">No review for this product</h3>

                                <div ng-show="dataList.review.length > 0" class="panel panel-default" ng-repeat="review in dataList.review">
                                    <div class="panel-body">
                                        <div class="row discussion-item">
                                            <div class="col-xs-12 reseller-message">
                                                <h5>{{review.name_review}} <span class="tag-reseller">reseller</span>&nbsp; <span class="time-post"><i class="fa fa-clock-o" aria-hidden="true"></i> {{review.date}}</span></h5>
                                                <p>{{review.review}}</p>
                                            </div>
                                            <div class="col-xs-12 produsen-message">
                                                Semangattt
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 right-details" ng-show="isSet(3)">
                        <div class="row discussion-section">
                            <div class="col-xs-12">
                                <h3>Discussion</h3>
                                <div class="form-group" ng-show="isReseller">
                                    <label>Any question about this product?</label>
                                    <textarea class="form-control" ng-model="contentData.discussion" placeholder="Input your question here..."></textarea>
                                </div>
                                <div class="form-group" ng-show="isReseller">
                                    <button ng-click="sendDiscussion()" class="btn btn-to-discussion">Start to discussion</button>
                                </div>

                                <!--<textarea class="form-control"></textarea>-->
                            </div>
                            <div class="col-xs-12 discussion-panel">
                                <h3 ng-show="dataList.discussion.length > 0"><i class="fa fa-comments" aria-hidden="true"></i> &nbsp; Chit n' Chat</h3>
                                <h3 class="discussion-no-data" ng-show="dataList.discussion.length == 0">No data discussion for this product</h3>

                                <div ng-show="dataList.discussion.length > 0" class="panel panel-default" ng-repeat="discussion in dataList.discussion">
                                    <div class="panel-body">
                                        <div class="row discussion-item">
                                            <div class="col-xs-12 reseller-message">
                                                <h5>{{discussion.name_discussion}} <span class="tag-reseller">reseller</span>&nbsp; <span class="time-post"><i class="fa fa-clock-o" aria-hidden="true"></i> {{discussion.date}}</span></h5>
                                                <p>{{discussion.discussion}}</p>
                                            </div>
                                            <div class="col-xs-12 produsen-message">
                                                Semangattt
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>