<ul class="nav navbar-top-links navbar-right">
    {{fullName}}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>
            <!--<i class="fa fa-caret-down"></i>-->
        </a>
        <ul class="dropdown-menu dropdown-user">
            <!-- <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li> -->
            <li class="divider"></li>
            <!--<li><a href="" ng-click="goProfile()"><i class="fa fa-user fa-fw"></i> Profile</a>-->
            <li><a href="" ng-click="goChangePassword()"><i class="fa fa-lock fa-fw"></i> Ubah Password</a>
                <li><a href="" ng-click="doLogout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
        </ul>
        </li>
</ul>