<div class="row navbar-fixed-top">
    <div class="container-fluid ext-header">
        <div class="col-xs-12 header-center">
            <a href="" ng-click="goToHome()"><img ng-src="{{dataSite.site_logo}}"></a>
        </div>
    </div>
</div>